[2017-12-06 23:25] saad-ali opened #13 "CSI external-provisioner does not pass parameters"
The CS `CreateVolumeRequest` object accepts parameters:

[code]

However, the CSI external-provisioner does not currently pass these along. It should extract the `parameters` from the `StorageClass` and pass those along.

[2017-12-08 04:14] #13 closed

[2017-12-12 20:05] vladimirvivien opened #20 "External-provisioner fails to issue ControllerProbe request"
According to the [CSI spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#controllerprobe), the CO (or its components) `shall invoke this RPC (controllerprobe) to determine readiness of the service`.

A CSI driver that follows the language of the spec will fail if a probe RPC is not invoked prior to other operations.  If the CSI language is correct, then this constitutes

[2018-01-10 19:51] sbezverk opened #23 "external-provisioner does add volume attributes annotation to PV"
external-provisioner does add volume attributes annotation to PV, as a result NodePublishVolumeRequest does not have VolumeAttributes map populated.
/kind bug
/assign @sbezverk

[2018-01-11 13:23] #23 closed

[2018-01-12 16:38] lpabon opened #26 "Docker file in root needs to be deleted"
The contents of extras/docker are used to build the container because they output a container that is only 3MB instead of 300MB as done by the one in the root.

[2018-01-18 20:21] rootfs opened #28 "Need to pass UserCredentials in Create/Delete Image"
Currently storage class doesn't have credentials API, external-provisioner passes everything into Parameters but not into UserCredentials.

This is a problem for certain volumes such as rbd. We currently use parameters to store [plaint text secret ](https://github.com/ceph/ceph-csi/pull/9/files#diff-49fd745d0c902dc8994627ea8be68fc5)to get around this issue.

Ideally credentials should still be enc

[2018-01-19 19:39] rootfs commented on #28
per http://blog.kubernetes.io/2018/01/introducing-container-storage-interface.html, credentials are not supported in alpha. Closing.

[2018-01-19 19:39] #28 closed

[2018-01-26 23:23] cduchesne opened #34 "Updates to docker hub to make example useful"
Who is updating https://hub.docker.com/r/k8scsi/csi-provisioner/tags/ ? The example deployment references this docker hub repo and updates are never pushed.

[2018-02-02 01:31] lpabon commented on #26
Closed by #36

[2018-02-02 01:31] #26 closed

[2018-02-02 02:16] lpabon commented on #34
@cduchesne Hi, we just changed Quay.io. A new container is pushed as quay.io/k8scsi/csi-provisioner:canary on every change to the master branch.

There more info here:
https://quay.io/repository/k8scsi/csi-provisioner?tab=tags

[2018-02-04 07:06] cduchesne commented on #34
Got it. Thanks! #38

[2018-02-04 07:06] #34 closed

[2018-02-07 16:28] lpabon opened #39 "UT: controller/Delete"

[2018-02-07 16:28] lpabon opened #40 "UT: controller/Provision"

[2018-02-07 16:28] lpabon opened #41 "UT: supportControllerCreateVolume"
Both positive and negative tests.

[2018-02-07 16:28] lpabon opened #42 "UT: getDriverName, both positive and negative tests."

[2018-02-26 18:57] sbezverk opened #47 "Orphaned PVs if provisioner gets killed and restarted"
Currently there is a check in the provisioner before PV gets deleted for a privisioner ID and if it does not match with the ID of current provisioner PV does not get deleted. While playing for hostpath plugin, I killed and re-created provisioner, as a result provisioner got new ID and refused to delete previous' privisioner created volumes, so bunch of PVs became a sort of orphaned and needed manu

[2018-03-02 00:17] davidz627 opened #48 "PV Created During Provision has Inaccurate Capacity"
The capacity of the Persistent Volume should be the size reported by the driver, not the side of the Persistent Volume Claim.

[2018-03-02 13:52] sbezverk commented on #48
@davidz627 good catch, `hostpath` plugin did not report back the number of "allocated" bytes at all (fixed now).

[2018-03-02 19:20] davidz627 commented on #48
glad you found that! I was also referring to an issue in the external provisioner:
https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L253
It pulls capacity for the PV directly from the PVC instead of from the response of the driver. I can submit a PR for this later today.

[2018-03-07 23:32] sbezverk opened #53 "external provisioner does not pass credentials in DeleteVolume call"
the provisioner only fetches the storage class when creating a new volume for a given PVC, but it does not fetch storage class when deleting an existing PV.
/assign @sbezverk

[2018-03-09 08:57] #53 closed

[2018-03-12 09:14] jsafrane opened #55 "Errors from fetching secrets should be reported"
The provisioner only logs error when it fails to fetch a secret configured in StorageClass and continues with provisioning. It should return error to the user instead.

Secrets are optional in CSI, however admin really wants them to be used once he configures them in StorageClass. If there is a typo in secret name, admin should know and provisioning should fail. Nobody knows what a CSI driver will

[2018-03-12 17:29] saad-ali commented on #55
Seems reasonable to me.
This will need to be changed on kubernetes as well. @jsafrane could you open an issue to track this.

[2018-03-12 17:40] jsafrane commented on #55
/assign

[2018-03-15 08:39] #55 closed

[2018-03-16 09:18] arm64b opened #61 "The relationship of this repo with `https://github.com/kubernetes-incubator/external-storage`"
I found that there is another k8s incubator project at: https://github.com/kubernetes-incubator/external-storage, where is also a external provisioner. So i am confused by those 2 repos, what the relationship of the 2 git repositories is.

[2018-03-16 11:18] arm64b commented on #61
Just go through some documents to get the point in some degree, so close it now.

[2018-03-16 11:18] #61 closed

[2018-03-20 18:36] cduchesne opened #63 "connectionTimeout is actually operationTimeout"
I noticed that when I use a short connection timeout, for example 5 seconds, and then throttle between my csi plugin (csi-scaleio) and my storage api server, any operation that takes more than the timeout fails. This is a big problem because the external-provisioner has only connectionTimeout to complete any request. If a volume creation event took longer than 5 seconds, which I tested via throttl

[2018-03-21 22:31] saad-ali commented on #63
CC @jsafrane @childsb @sbezverk @lpabon @chakri-nelluri

We should consider generating the volume name deterministicly based on PVC namespace+name?

https://github.com/kubernetes/community/pull/1790 is proposing this for the existing RBD Dynamic Provisioner.

@cduchesne could you clarify what you mean by this?

[2018-03-21 22:34] cduchesne commented on #63
@saad-ali - i mentioned this if you plan to use the variable name / configuration option _connectionTimeout_. It is being used as an _operationTimeout_ and not _connectionTimeout_, so _connectionTimeout_ should be used sparingly unless it can better be utilized with the actual connection to grpc endpoint and not the complete operation time.

[2018-03-21 22:46] saad-ali commented on #63
Thanks! It looks like the timeout is being used for the create operation and it is too short (5 seconds). `external-attacher` has two sets of timeouts, one for short operations (1 second) and one for long running operations (1 minute), we should do something similar for `external-provisioner`.

[2018-03-21 23:01] cduchesne commented on #63
Yes I used 5 seconds to validate the problem - I think default is 10s, which is definitely too short for some operations. Yes 2 separate timeouts would be better.

[2018-03-21 23:02] cduchesne commented on #63
The bigger problem is the abandoned request without ability to re-use same volume name. I like the deterministic naming idea.

[2018-03-22 16:54] chakri-nelluri commented on #63
@saad-ali Actually, isn't it a bug in the controller if it generates a new UUID/PV name for the same PVC every time it is called?

+1 for deterministic volume name.

[2018-03-22 19:14] lpabon opened #64 "should never time out from connecting."
The container should never time out from connecting to a grpc socket. Currently, if it fails, it just stops trying and the only way to get it back is to restart the container.

It should continue trying forever. Also, on connection failure it should go back to retrying forever.

[2018-03-22 21:03] saad-ali commented on #63
@chakri-nelluri you mean bug in the Kubernetes controller? The k8s controller doesn't control the volume name, the external-provisioner does.

[2018-03-23 01:50] cduchesne commented on #64
I too have noticed this behavior quite frequently in testing

[2018-03-23 17:19] saad-ali commented on #63
So, to summarize two fixes we need to do for `external-provisioner`:
1. Fix timeouts: long timeout and short timeout.
2. Make names idempotent by generating deterministically.

[2018-03-27 05:09] #42 closed

[2018-03-28 17:17] saad-ali commented on #63
Serguei has agreed to work on this!

[2018-04-03 18:07] saad-ali opened #67 "PVC.UID for volume name unique but hard for humans to differentiate"
Issue raised by @cduchesne

With PR https://github.com/kubernetes-csi/external-provisioner/pull/66 the names of the newly provisioned volumes will be based on the UID of the Kubernetes PVC object. Although the UIDs are unique, the UID does not differ much, making it harder for humans to read and differentiate between them.

Example from @cduchesne:
[code]

Since the primary issue here is readabili

[2018-04-03 18:10] saad-ali opened #68 "Scaling issue: kube apiserver throttles external-provisioner when 100 PVCs created at same time"
Reported by @cduchesne

The CSI external-provisioner has scaling issues.

When 100 PVCs are created at same time, the CSI external-provisioner hammers the kube apiserver with requests and gets throttled, causing all sorts of issues.

[2018-04-03 20:58] chakri-nelluri commented on #67
+1 for naming based on PVC
For a storage admin, it is impossible to figure out the source of these volumes.

[2018-04-06 19:54] #63 closed

[2018-04-11 17:56] saad-ali opened #70 "Allow `fsType` parameter from StorageClass"
The `CSIPersistentVolumeSource` has a field for `fsType`.

Any component that needs to use `fsType` pulls it from the CSI volume source (or at least it should) in the PV object and passes it to the CSI driver (e.g. external-provisioner for `ControllerPublishVolume`, kubelet for `NodePublishVolume`, etc.) . The only problem is that nothing sets that value currently, so after dynamic volume provisio

[2018-04-11 17:57] saad-ali commented on #70
Issue was raised by @cduchesne

[2018-04-16 23:05] saad-ali commented on #67
Was discussing this with @cduchesne some more. He suggested instead of `pvc.uid` we could do `sha256(pvc.uid)` then pull first x characters of the sha https://play.golang.org/p/me6YlbwHhRl

Thoughts?

[2018-04-16 23:06] saad-ali commented on #67
One draw back of this is reverse association becomes more difficult.

[2018-04-18 14:40] #48 closed

[2018-04-18 23:14] saad-ali opened #72 "Restore `volume-name-uuid-length`"
external-provisioner allows the length of uuid string in volume name to be controlled via `volume-name-uuid-length` (see https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L45-L46).

But PR https://github.com/kubernetes-csi/external-provisioner/pull/66/files stopped using `volumeNameUUIDLength`. The ability for a storage vendor to limit the le

[2018-04-19 18:39] #72 closed

[2018-04-19 19:49] saad-ali opened #77 "PV Capacity is no longer easy to read."
kubenretes-csi/external-provisioner [v0.2.1](https://github.com/kubernetes-csi/external-provisioner/releases/tag/v0.2.1) changed how capacity was set on provisioned PV object (https://github.com/kubernetes-csi/external-provisioner/pull/71): instead of reusing the capacity from the PVC, it uses the capacity returned by the volume plugin.

Problem is that the new capacity is hard to read, in this ex

[2018-04-19 19:50] saad-ali commented on #77
Discovered by @cduchesne

[2018-04-20 11:57] #77 closed

[2018-04-23 02:26] lpabon opened #80 "Versioning needed"
Versioning needed to be logged.

[2018-04-25 16:29] #70 closed

[2018-04-26 04:32] karataliu opened #82 "Do not log secret in log"
https://github.com/kubernetes-csi/external-provisioner/blob/v0.2.1/pkg/controller/controller.go#L89

This line will log 'controller_create_secrets' if present

[2018-04-27 04:55] shubheksha commented on #82
I'll work on this!

[2018-05-04 04:40] #80 closed

[2018-05-11 11:02] princerachit commented on #67
@cduchesne suggestion sounds good. Focusing on reverse association will result in long name which will cause readability issue. eg. pvc-[sha256(uid)<sub>x chars</sub>]-uid is readable and reversely associated but too long.

[2018-05-14 03:50] orainxiong opened #86 "Adding PVC's annotation to CreateVolumeRequest.Parameters"
As the title says, there is a great possibility that the application-specific `Operator` would leverage `PVC`'s `Annotation` for storing custom data. The custom data will tell storage provisioner how  CSI drive create volume correctly.

Here is already existing logic for provision volume  :

[code]

Note : more [details](https://github.com/kubernetes-csi/external-provisioner/blob/bc0b6718292ab0cd7

[2018-05-14 18:38] avagin opened #87 "Why is VolumeAttributes not passed in csi.DeleteVolumeRequest?"
VolumeAttributes can contains properties which may be useful for deleting volumes.

[2018-05-15 10:08] pohly commented on #82
Instead of changing the logging, we could also just warn about this pitfall. It is limited to loglevel >= 5 (i.e. not the default).

Note that the CSI example .yaml *does* use such a high log level, though. So there is definitely a risk that people accidentally log secrets.

I'm undecided myself. Thoughts anyone?

[2018-05-18 19:40] clintonk commented on #86
I second this request, and we discussed this idea with @saad-ali at this week's Storage SIG F2F.  The chief concern is name collisions between storage class parameters and PVC annotations.  Saad suggested this capability be gated via a startup flag.  @orainxiong, are you planning to submit a PR for this?

[2018-05-18 20:12] clintonk opened #89 "DeleteVolume is called twice when deleting a volume"
Around half the time, I see DeleteVolume called twice when deleting a PVC.  The delete is idempotent, so the second call is harmless and does not return an error, but it'd be nice to avoid it or at least understand why it happens.

Here's a log snippet of my CSI controller when deleting a single PVC.  Note the duplicate DeleteVolume calls about 1 second apart:

    DEBU[0613] GRPC call: /csi.v0.Id

[2018-05-18 20:40] clintonk opened #90 "NodeStageVolume is called before each call to NodePublishVolume"
With a CSI plugin that works with iSCSI targets, I have to support the STAGE_UNSTAGE_VOLUME node capability.  If I mount an iSCSI volume to three pods on the same host, then later delete all three pods, the spec says I _should_ see this sequence:

* ControllerPublishVolume
  * NodeStageVolume
    * NodePublishVolume
    * NodePublishVolume
    * NodePublishVolume
    * NodeUnpublishVolume
    * No

[2018-05-21 12:02] jsafrane commented on #86
While I agree that there should be a way how to pass parameters from user to `CreateVolume`, I don't like suggested solution:

- It makes the CSI driver Kubernetes aware. Whole point of CSI is to have independent plugins that can be used in Kubernetes, Mesos, Cloud Foundry, Docker Swarm and others. The plugins should not know anything about PVCs, these are pure Kubernetes objects.

- Kubernetes ad

[2018-05-21 21:29] fatih commented on #86
After creating the `csi-digitalocean` driver, I also received a feedback, that needs this feature: https://github.com/digitalocean/csi-digitalocean/issues/30

I'm using the name of the request ot create the volumes, which ends up being the `PV` name. So it's in the form of `kubernetes-dynamic-pv-<randomid>`. However on the UI (at DigitalOcean.com), this is not useful because it doesn't give the pe

[2018-05-21 23:11] sbezverk commented on #86
check this out:
https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L46
I think you can leverage this parameter.

[2018-05-22 00:27] fatih commented on #86
@sbezverk thanks for the tip, I didn't know it.

Though, the prefix was just an example, it could be also something else. Such tagging the resource on the cloud provider side based on the created PVC labels.

[2018-05-22 07:03] orainxiong commented on #86
@jsafrane
Thx for your reply.

If I understand correctly, I notice that external-provisioner has exposed `StorageClass` parameters to end storage drivers through `VolumeOptions`.
[code]
End storage drivers can get `StorageClass` parameters depending on their own logic. However, PVC's annotation is still missing in `VolumeOptions`.

I very agree with your opinion. It's a temporary solution which ma

[2018-05-22 17:56] darkowlzz commented on #41
Looks like this was already implemented in #57 . Maybe close it?

[2018-05-23 18:45] shubheksha commented on #63
@cduchesne, could you please confirm if the issue has been fixed through #66 or are you still seeing the same behavior?

[2018-05-24 11:32] jsafrane commented on #86
@fatih, for tagging we could perhaps extend CSI's `CreateVolume` call with optional metadata such as Kubernetes PVC namespace + name, PV name, storage class name (?) or PVC labels (which one? all of them?). It would be used **only** to tag volumes in the storage backend so users can map these volumes to CO objects. These cannot be used to configure provisioned volume (see https://github.com/kubern

[2018-05-24 14:47] jessfraz opened #92 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-28 01:06] orainxiong commented on #86
@jsafrane Thanks. I got it. I will close this issue.

[2018-05-28 01:07] fatih commented on #86
Why is this closed? Did we have a PR that fixes this issue or a solution that is applicable right now?

[2018-05-28 06:47] orainxiong commented on #86
@fatih

At least, in my opinion, there is a temporary way to handle this issue. But, it isn't applicable for all COs that support CSI.

As your suggestions, a new function `injectCOParameter`  is introduced into `external-provisioner` :

[code]

`injectCOParameter` is in the charge of encoding `labels ` and `annotations ` and `storageclass` into
`CreateVolumeRequest.Parameters`. Specifically, `Cre

[2018-05-29 19:08] mkimuram opened #93 "csi.Provision() drops PVC information which existing external-provisioners use"
In some existing external-provisioners, PVC information is used on Provision().
For example,
  - Gluster:
    https://github.com/kubernetes-incubator/external-storage/blob/master/gluster/file/cmd/glusterfile-provisioner/glusterfile-provisioner.go#L199
    (It uses options.PVC.Annotations.)
  - NFS:
    https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-p

[2018-05-29 20:34] fatih commented on #86
@orainxiong Thanks for the reply. The title says `Adding PVC's annotation to CreateVolumeRequest.Parameters ` and unless I'm missing something, there is no such feature and no one contributed to the provisioner/attacher to add this feature. Hence my question why we have closed this issue. Nothing is fixed yet and it's not possible to pass any PVC/PV data to the plugin from the CO. This issue shoul

[2018-05-30 01:48] orainxiong commented on #86
@fatih ok, you're right. : - )

[2018-05-31 05:35] #40 closed

[2018-06-04 13:28] princerachit commented on #93
+1

[2018-06-05 12:47] orainxiong commented on #68
@sbezverk, I have hit the same issue. After getting throttled, it will take over 30mins to create a Volume. I will try your PR.

[2018-06-06 03:33] orainxiong commented on #68
@sbezverk

The problem is still not resolved. I am not sure if I understand correctly, the root cause is that `external-provisioner` excessively talk against `Kube-API-Server`.

Every time `external-provisioner` perform the operations of `provisioning` and `deleting` Volume, a sudden surge of requests comes in `Kube-API-Server`, and then the `external-provisioner` get throttled. As a result, all o

[2018-06-06 14:31] mkimuram commented on #86
@orainxiong

Has injectCOParameter() already been merged to external-provisioner?
I couldn't find it in the codes nor PRs, so I would appreciate it if you could share any links to it.

[2018-06-06 21:47] saad-ali commented on #68
Thanks for surfacing this @orainxiong.

Problem sounds like the external-provisioner (and probably external-attacher and driver-registrar), open connections to kube API server without thinking twice. If you provision a lot of volumes at once, the kube API server gets mad and throttles everything.

We should do the following:
* Create a worker pool so that no more then N operations can be carried o

[2018-06-06 23:27] saad-ali opened #94 "external-provisioner should NOT issue delete calls between retries."
The CSI external-provisioner relies on the external-provisioner library https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go

In that library the provisioning code will attempt to provision a volume, if provisioning fails it will try to delete the volume to cleanup (see https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/

[2018-06-07 00:03] sbezverk commented on #94
@saad-ali I might be mistaken but the code gets to Line 935 only if `disk` provisioning succeeded.  If `provisioning` fails  then `provisionClaimOperation` will exit on line: https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L897
It looks like line 935 will be executed when `PV` object fails to be created after successful provision of  disk. In this

[2018-06-07 00:19] saad-ali commented on #94
Right so the volume is created but the kube API server is rejecting requests to create PV object (e.g. due to throttling). If we delete the volume, we still come back and try again because PVC object still exists and force the storage backend to create another volume, and then hit kube API throttling and then force the storage backend to delete the volume, etc. It causes unnecessary work on the st

[2018-06-07 00:39] sbezverk commented on #94
Right it seems if disk provisioning was successful, does not matter if PV creation fails, it returns nil. Probably last return should be `return err`?

[2018-06-07 03:32] orainxiong commented on #68
@saad-ali Many thanks for your reply.

As you mentioned, `external-provisioner` should leverage Informer cache to avoid talking directly against `Kube-API-Server`. And perhaps, I think we could use the issue [CSI attach/detach should use shared informer](https://github.com/kubernetes/kubernetes/issues/64429) for reference.

If possible, I hope to have the opportunity to ask you @saad-ali some view

[2018-06-08 17:21] saad-ali commented on #68
Spoke with Jan. He agrees with @orainxiong: Major source of issues is probably the leader election logic -- each provisioner tries to write an annotation trying to be leader, if not successful each will retry after some time.

We should focus on making leader election scalable.

[2018-06-08 17:22] saad-ali commented on #68
Temporary workaround may be to disable leader election per PV and instead use leader election per provisioner.

[2018-06-12 01:52] orainxiong commented on #86
@mkimuram
Hope it works for you.
https://github.com/orainxiong/external-provisioner/tree/issue-86

[2018-06-12 23:29] msau42 opened #100 "Scalability: Increase resync period or make parameterizable"
The default resync period of 15 seconds is IMO too frequent.  Once there are many PVs in the system, and multiple CSI plugins, there will be a lot of unnecessary churn.  API watch is supposed to be better now and shouldn't drop events that frequently.

[2018-06-12 23:41] msau42 opened #101 "Exponential backoff for VolumeCreate issues"
1. If PVC is deleted, we don't exit the exponential backoff [loop](https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L342)
2. Non timeout errors are not retried within the Provision() call, but won't Provision() be retired by the external-provisioner controller with no exponential backoff?

This probably requires change to external-provisioner library

[2018-06-12 23:43] msau42 commented on #100
I guess the problem is the external-provisioner uses resync as its retry mechanism.  So fixing this probably requires substantial changes to external-provisioner.

[2018-06-13 03:11] msau42 commented on #47
+1 I'm seeing this issue.  The provisioner ID needs to be persistent across plugin restarts.

[2018-06-13 15:36] mkimuram commented on #86
@orainxiong
Thank you for providing code.  Great work!

I tested your code as below and confirmed that annotationsPVC and labelsPVC were added to parameters that are passed to each driver.
The concept looks good to me and will solve my concern(https://github.com/kubernetes-csi/external-provisioner/issues/93).

In my opinion, there would be still rooms for discussion to make this code merged:
1.  W

[2018-06-13 16:00] msau42 commented on #47
Nevermind I saw a different issue: https://github.com/kubernetes/kubernetes/issues/65058

I just tested killing the controller pod in these scenarios and DeleteVolume succeeded:
* After VolumeCreate is successful and before PVC is deleted
* After first VolumeDelete was triggered and before the delete operation completed

[2018-06-13 17:02] princerachit commented on #86
@mkimuram today's discussion concluded that we are not going to immediately touch the spec for CreateVolumeRequest to pass CO specific metadata(PVC name,PVC id etc). However, as pvc annotations are also used to add volume related information, adding them would be possible. We need someone from k8s wg-csi to nod on this.

[2018-06-13 19:28] wongma7 commented on #94
The code is the same in kubernetes internal so we should fix it in both places. https://github.com/kubernetes/kubernetes/blob/f1bfde49002ed3e44d3b47b6737536b35dca8f55/pkg/controller/volume/persistentvolume/pv_controller.go#L1521 Keeping track of volumes when there is no PV referencing them is hard so we are just cleaning them up immediately. I am not sure how common API throttling is, if #68 is th

[2018-06-13 19:44] wongma7 commented on #68
Yes n pvcs * m provisioners is unacceptably bad. The original code is ancient, I will copy how HA is done in kube. It is only like this for the rare case where a person wants multiple provisioner instances (pointing to different storage sources w/ same properties) to serve the same storage class. But that isn't a common use-case and this is a lazy and inefficient way of achieving it anyway.

An al

[2018-06-14 02:00] orainxiong commented on #68
@saad-ali Thanks for your reply.

As we discussed above, this issue is mainly due to the leadership election and the abuse of `API Server`. I try to fix the problem through the following steps which requires the substantial changes to `external-provisioner` and `external-storage`. I am not sure whether it is right or not.  Looking forward to your suggestions.

* Implement leader election per `prov

[2018-06-14 13:51] sbezverk commented on #94
@saad-ali Here is a proposed change WDYT
https://github.com/kubernetes/kubernetes/pull/65100

[2018-06-15 00:58] orainxiong commented on #86
@clintonk You're welcome. : - )

[2018-06-16 11:17] princerachit commented on #90
Please enable kubelet logging level 4 with `--v=4` and share the logs of kubelet corresponding to node stage volue calls.

[2018-06-18 20:33] vladimirvivien commented on #68
Where are we with this? Is @orainxiong PR the work around we want to pursue ?

[2018-06-18 20:41] vladimirvivien commented on #68
@orainxiong can you please create a proper PR so we can comment on it.  Thanks.

[2018-06-19 01:27] orainxiong commented on #68
@vladimirvivien  Here is the PR #102.

If there are any questions, please let me know. Many thanks.

[2018-06-19 02:14] orainxiong commented on #68
@vladimirvivien Here is PR #104

If any questions, please let me know. Many thanks.

[2018-06-19 14:31] wongma7 commented on #100
@msau42 Any ideas what the standard is? How high can we go? 12 hrs? It's 15 seconds for no other reasons than: copy the PV controller (which is so low only because it needs it to do its "transactions" in a timely manner) and I guess paranoia over imaginary scenarios wherein missing events leads to data deletion (???)

[2018-06-19 14:32] wongma7 commented on #100
Anyway I can definitely try to decouple resync from retries, cleaning up the retry logic may solve https://github.com/kubernetes-csi/external-provisioner/issues/101 at the same time

[2018-06-19 19:03] msau42 commented on #100
I'm not sure if there's a standard.  Searching [here](https://github.com/kubernetes/kubernetes/search?p=1&q=MinResyncPeriod&unscoped_q=MinResyncPeriod), I see kubelet uses 15 minutes, component config default seems to be 12 hours.  I think once we decouple resync from retries, then we could at least increase it to something on the order of minutes.

[2018-06-21 17:46] wongma7 commented on #100
Thanks, I've opened a PR here if you/anyone is interested https://github.com/kubernetes-incubator/external-storage/pull/825 . Did some basic testing and 15 minutes seems fine. Retries are now handled by the `ratelimiting` workqueue , i.e. we AddRateLimited if Provision returns err, Forget if succeed, & never retry if retry threshold is crossed

[2018-06-29 14:58] mkimuram commented on #93
Closing this issue for general PVC information with the conclusion in the below thread.
We will keep discussion on PVC annotation in the below thread.

https://github.com/kubernetes-csi/external-provisioner/issues/86#issuecomment-397012310

[2018-06-29 14:58] #93 closed

[2018-06-29 15:55] mkimuram opened #107 "Adding annotations to PV from CreateVolumeResponse.Volume.attributes"
This is to add a feature for adding ```annotation```s to a ```PV``` that a CSI provisioner provisions.

This is similar to #86 in that it is for handling ```annotation```s on ```Provision```, but this is for adding ```annotation``` to ```PV``` by using information passed from CSI driver, not passing ```PVC```'s ```annotation``` information to CSI driver.

As seen in the below code, current ```Prov

[2018-06-29 20:31] msau42 opened #108 "Use driver name as provisioner name"
That way, you don't need to pass in a separate "provisioner" argument, and the StorageClass provisioner will also match the driver name.

[2018-07-02 20:45] clintonk commented on #90
Requested kubelet log attached.  It shows the result of creating 3 pods, all of which use the same iSCSI PV.  NodeStageVolume is called 3 times, once for each pod.

[kubelet-csi-multi-stage.txt](https://github.com/kubernetes-csi/external-provisioner/files/2156752/kubelet-csi-multi-stage.txt)

[2018-07-03 11:24] jsafrane commented on #108
`StorageClass.Provisioner` must pass `IsQualifiedName`, which `"must consist of alphanumeric characters, '-', '_' or '.', and must start and end with an alphanumeric character"`, optionally with `<DNS1123Subdomain>/` prefix. It MUST be 63 characters or less.

https://github.com/kubernetes/kubernetes/blob/09784ccf83dec10b0ca6757be4ec143ec44bc993/pkg/apis/storage/validation/validation.go#L81

CSI dr

[2018-07-03 11:59] jsafrane commented on #108
/assign

[2018-07-05 20:53] mkimuram opened #110 "Add Block volume support for CSI provisioner"
CSI provisioner should provision Block volumes properly.

In CSI provisioner, below three logics will need to be implemented, to add Block volume support to CSI provisioner:
1. Add ```SupportsBlock``` that properly returns whether Storage Provider's plugin supports block (this will be checked by using ```ValidateVolumeCapabilities```),
2. Pass ```BlockVolume``` instead of ```MountVolume``` to ```C

[2018-07-05 21:08] mkimuram commented on #110
@wongma7

Now https://github.com/kubernetes-incubator/external-storage/pull/830 is merged, we are ready to implement BlockProvisioner interface for CSi provisioner. I will implement prototype of codes with above logic and will ask you for review.

[2018-07-09 16:42] mkimuram commented on #110
@wongma7

I've implemented a [prototype](https://github.com/mkimuram/external-provisioner/commit/0847c9fca716a97117d27313e4a8fcaa5ae757bd) and confirmed that it works well with CSI RBD driver. PTAL
I will write unit tests and make a PR, if implementation policy looks good to you.

In addition, as a result of my investigation on the current CSI driver implementations, all the drivers below use blac

[2018-07-09 22:16] mkimuram commented on #110
Also added [unit test cases](https://github.com/mkimuram/external-provisioner/commit/b754326474bc63d85a2466f936331c90d6b833b3).  Please review them.

[2018-07-10 17:06] mkimuram commented on #110
Above is fixed in [issue](https://github.com/ceph/ceph-csi/issues/44).

For multiple backend storages, I will investigate more.
Could you give us any advices for it from OpenSDS viewpoint? @xing-yang

[2018-07-10 17:16] wongma7 commented on #110
I added one small comment to your proposed changes.

(b) sounds okay to me too but I am totally ignorant about how we expect CSI plugins to be maintained in relation to kube/other COs releases

[2018-07-10 22:49] mkimuram commented on #110
@wongma7

Thank you for your review and comment.
I've fixed ```Provision``` not to set ```fsType``` if it is Block PV and made PR. PTAL

Also, I updated under vendor directory to include kubernetes-incubator/external-storage#830 , instead of manually modifying it.
@rootfs Thank you for your advice in doing it. I would appreciate it if you could also check the results.

[2018-07-29 05:38] orainxiong commented on #68
@saad-ali @sbezverk @wongma7

These days I have taken some time to find a workaround to identify the exactly time-consuming functions for provisioning a bunch of volumes.

With both of `net/http/pprof` and `go-torch`, we are able to have `flame graph` in order to figure out the related code-path more accurately.

![image](https://user-images.githubusercontent.com/778876/43363064-609c4382-932e-11e8

[2018-08-02 00:38] davidz627 opened #115 "pvName UUID should not be truncated by default"
There was a change introduced that truncates the `pvName` UUID to `volumeNameUUIDLength` which is an external-provisioner parameter.

The default behavior of the driver should be to NOT truncate the UUID as that can cause naming collisions depending on the method of UUID generation.

The flag should remain for optional truncation.

This fix should be cherrypicked to v0.3.0 so that behavior does no

[2018-08-03 18:54] #115 closed

[2018-08-06 16:59] saad-ali opened #117 "external-provisioner does not respect accessMode"
external-provisioner hard codes access mode to:

[code]

It does not use the access mode specified on PV/PVC which means that the driver can not properly validate the `accessMode`.

Reported by @cduchesne!

[2018-08-06 21:35] saad-ali commented on #117
In addition to passing the correct access mode to the CSI driver, after a volume is provisioned, external-provisioner should not just blindly set the access mode of the PV to the same access mode as the PVC.

Kubernetes allows a PVC to be fulfilled by a volume with looser access requirements. e.g. a PVC requesting RWO may be fulfilled by PV that is RWX. So PV access mode should be whatever the sto

[2018-08-07 17:10] mkimuram commented on #110
@wongma7

I made below PR to add CSI rbd/Cephfs e2e test:
   https://github.com/kubernetes/kubernetes/pull/67088
Also, I made below PR to make volume mode e2e test executed in a general way:
    https://github.com/kubernetes/kubernetes/pull/66577

Once both of them are merged, we are ready to add block volume e2e test for CSI drivers to test this feature in e2e.

[2018-08-07 17:43] xing-yang commented on #110
@mkimuram Sorry for the late response.  I just noticed your question about OpenSDS.  Currently OpenSDS only has block API support.  This means OpenSDS CSI driver should be able to support block volume mode for all the backends it supports, but we have not got chance to validate the block volume mode support yet.  I believe Cinder is in the same situation because it only supports block APIs.

When

[2018-08-08 21:50] #92 closed

[2018-08-09 17:26] sarjeet2013 commented on #87
+1.

`DeleteVolume` may require additional info to fulfill the delete request which can be provided by VolumeAttributes passed to `DeleteVolume` along with `volumeId` and `Secrets`.

[2018-08-09 20:08] xing-yang commented on #87
@sarjeet2013 Can you use Secrets to store the server info you need?
See https://github.com/container-storage-interface/spec/blob/master/spec.md#secrets-requirements  and
https://kubernetes.io/docs/concepts/configuration/secret/

[2018-08-09 20:36] sarjeet2013 commented on #87
@xing-yang I discussed it internally but it seems an overhead in adding server info as secret (which doesn't make sense at all) which can be passed easily as parameters from `StorageClass`.

Also, it adds another resource (server info Secret) to be created before `StorageClass` is created.

[2018-08-12 00:37] orainxiong opened #124 "AlreadyExists error cause repeated provisioning a volume"
For some unknown reasons in our circumstance, `external-provisioner` probably provision an already existing Volume(the name of a Volume is the unique key to decide whether it exists). Base on the current logic, that means it causes repeated provisioning a volume for the given PVC. To be worse, there is no external API I can use to delete the volume manually.

In a very simplified view, the functio

[2018-08-12 00:41] orainxiong commented on #124
@vladimirvivien

Looking forward to your comments.

[2018-08-12 13:58] msau42 commented on #124
In the CSI drivers I've seen, we return success when the volume already exists, not error

[2018-08-12 14:53] msau42 commented on #124
Also from the CSI spec:
[code]

[2018-08-13 02:50] orainxiong commented on #124
@msau42 Many Thanks.

I have modified the implementation of `createVolume` logic by returning success to make it idempotence, but I hit another serious problem.

After code refactors,  `provisionClaimOperation` subsequently creates a `PV` object in order to save the `Volume`. Because the corresponding `PV` already exists as well, the function of `PersistentVolumes().Create()` will raise the simila

[2018-08-13 15:03] wongma7 commented on #124
Yes, we should be checking for AlreadyExists in the PV.Create part of the code like upstream https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L1502 However the issue will be extremely rare due to the safeguard here at the start of Provision https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L

[2018-08-13 17:18] bswartz opened #125 "Mount options are not passed from the storage class to the CSI plugin"
Storage drivers that use NFS typically need to provide more flexibility for mounting than block-based storage drivers. Before CSI, the mountOptions field in the storage class spec was used to supply these.

Currently, however, the kubernetes CSI sidecar containers does not pass through any mount options from the storage class to the CSI plugin.

A few things need to change to allow this use case.

[2018-08-13 19:15] wongma7 commented on #68
added https://github.com/kubernetes-incubator/external-storage/releases/tag/v5.0.0 . just need to bump this repo's deps and edit https://github.com/kubernetes-csi/external-provisioner/blob/master/deploy/kubernetes/statefulset.yaml#L31 slightly to look like https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/rbac.yaml#L19

[2018-08-13 22:51] orainxiong commented on #124
I am not sure I fully understand this problem, but I think it probably is an cache related issue rather than the racing issue of multiple controllers.

The following code (for more [details](https://github.com/kubernetes-incubator/external-storage/blob/63c3df76fa4beca1f07cb12170e390e8d58211b9/lib/controller/controller.go#L945)) is responsible for ensuring whether the corresponding `PV` already exi

[2018-08-13 23:03] wongma7 commented on #124
What version of the controller exactly did that happen in? Two provision claim operations happening on the same claim object within 2 seconds shouldn’t be possible.

[2018-08-13 23:18] wongma7 commented on #124
By version I mean git commit hash btw. I think scheduleoperation is goroutinemap thing

[2018-08-13 23:30] orainxiong commented on #124
Base on release 0.2.0, I just [refactor code](https://github.com/kubernetes-incubator/external-storage/pull/837/files) to use informer cache.

The specified Volume is successfully created and subsequently deleted in a very short time.
![image](https://user-images.githubusercontent.com/778876/44063232-5d6b84e6-9f92-11e8-9d74-0901b3eadfbb.png)

I think the second `Provision()` comes because of the r

[2018-08-13 23:53] orainxiong commented on #124
I think we could reproduce it when all conditions are met at the same time:

* The first `Provision()` successfully return because of the adding event of `PVC` ;
* The second `Provision()` comes in a very short time because of the updating event of `PVC`;
* The second `Provision()` use the local cache of `PV` object to check whether it exists or not, but the local cache of `PV` object is not the m

[2018-08-13 23:59] msau42 commented on #124
The way that the PV controller avoids this issue is that it updates it's in-memory cache first, and then sends the API update.

[2018-08-14 00:34] wongma7 commented on #124
@orainxiong okay I understand the issue now. Recall my comments here: https://github.com/kubernetes-incubator/external-storage/pull/837#discussion_r200130538 . I said I'm okay with the change with the assumption that informer cache would reflect the new PV immediately, which is probably wrong. I also said something about switching from goroutinemap to work queues in the 3rd comment there but I'm n

[2018-08-14 00:42] wongma7 commented on #124
Sorry, made a mistake in last comment, provisionclaimopetation Isn’t idempotent since we need to make it check for pv AlreadyExists (different from csi alreadyexists... confusing)

[2018-08-15 01:31] orainxiong commented on #124
@wongma7 You are right. Indeed, I don' t understand your definitive meaning until I recall your comments. : - )

IMO I think probably we should move on refactoring, so I'm gonna mirror PV controller current logic, **updates it's in-memory cache** as @msau42 proposed, to guarantee cache up-to-date.

I will break this work down into the following steps:
* Upgrade to the latest `external-storage` v5.

[2018-08-15 09:55] jsafrane commented on #82
I got an idea, perhaps we can add a new argument `--log-csi-messages` with clear description in --help output that it logs also secrets.

[2018-08-15 14:13] wongma7 commented on #124
I don't want to maintain an internal cache just to solve this and we cannot modify the SharedInformer's cache. My understanding ist hat PV controller needs internal cache not only to avoid Provisioning twice but to avoid conflicts with syncClaim & syncVolume, it is complicated. I would prefer we bring back the single API call in `Provision`. Consider that the pv controller still does the API call

[2018-08-16 14:56] orainxiong commented on #124
Anyway, I think we missed an important detail.

In fact, `external-storage` use [`getProvisionedVolumeNameForClaim()`](https://github.com/kubernetes-incubator/external-storage/blob/88a48d84b72a704b9846934ed07107a0343927e7/lib/controller/controller.go#L1164) to obtain deterministic PV name(like *pvc-9278f458-a053-11e8-9af0-5254003d0a20*) to check whether PV exists or not, and `external-provisioner`

[2018-08-16 19:15] wongma7 commented on #124
@orainxiong OK, thanks again for thorough analysis.

There have been requests in the past to make  getProvisionedVolumeNameForClaim()  configurable / exposing some interface to let provisioners determine the name. I will work on this, exposing it. As long as it returns a unique name that can be derived from the PVC there should be no problem.

[2018-08-20 18:53] kfox1111 commented on #86
We've talked about this a bit in https://github.com/kubernetes/community/pull/2273 as well.

I'd like a way to have VolumeAttributes be passed in PVC's and the external provisioner can decide if its ok merging none/some/all of them with the StorageClasses VolumeAttributes when sending to the CSI drivers Create/DeleteVolume. And also if none/some/all should be copied to the resulting PV for the CSI

[2018-08-22 22:25] mariash opened #127 "CreateVolume fails if returned capacity is 0"
According to CSI spec `CreateVolume` should be able to return capacity of 0, which means it is unknown. See https://github.com/container-storage-interface/spec/blob/master/lib/go/csi/v0/csi.pb.go#L1266-L1269

But external-provisioner is failing to provision when checking the capacity since it is less than requested capacity https://github.com/kubernetes-csi/external-provisioner/blob/d946213178b9a5

[2018-08-27 13:50] jackhaibo opened #128 "Error：could not parse pre-release/metadata"
system: suse server 12 sp2
go 1.9.2

linux-i5hz:~ # kubectl get pod
NAME                                 READY     STATUS             RESTARTS   AGE
csi-attacher-opensdsplugin-0         3/3       Running            0          1h
csi-nodeplugin-opensdsplugin-jzl76   3/3       Running            0          1h
csi-provisioner-opensdsplugin-0      2/3       CrashLoopBackOff   27         1h

linux-i5hz

[2018-08-28 02:04] xing-yang commented on #128
Looks like "kubectl version" doesn't format the versions properly on SUSE.  Can you open an issue on https://github.com/kubernetes/kubernetes?

[2018-08-28 02:14] lasshpanzer commented on #128
Got that, I will open it soon.

[2018-08-28 09:38] #124 closed

[2018-08-28 12:53] lasshpanzer commented on #128
@saad-ali please have a look at this issue, thanks

[2018-08-28 15:19] xing-yang commented on #128
The code that caused the panic is in kubernetes-incubator/external-storage/lib/controller/controller.go where it calls utilversion.MustParseSemantic to check the version and decides what feature is supported. If we change that to utilversion.ParseSemantic, it can avoid throwing a panic but it still can't find the version and determine whether a feature is supported or not.

The problem here is "ku

[2018-09-10 20:08] yasker opened #130 "Provisioner cannot be recreated automatically if the node it's running on is down, result in cluster wide provisioning outage"
Since provisioner is using the stateful set, it cannot recover automatically if the node running the provisioner is down, cause the whole cluster unable to provision new volumes.

According to https://github.com/kubernetes/kubernetes/issues/47230#issuecomment-309586908 , it's by design for the stateful set.

It was an issue with the attacher too, but now the attacher has implemented leader selecti

[2018-09-11 10:23] gman0 opened #131 "Timed-out CreateVolume calls may leak volumes"
Currently, external-provisioner's `CreateVolume` call has a timeout of 10s (hard-coded!) and is retried for up to 10 times:

https://github.com/kubernetes-csi/external-provisioner/blob/725706063fd1d5e567a5fff53a6dbe6e38a53d86/pkg/controller/controller.go#L427-L446

The CSI spec says ([RPC interactions CreateVolume, DeleteVolume, ListVolumes](https://github.com/container-storage-interface/spec/blob

[2018-09-13 16:11] lpabon opened #132 "With PVC set to RWX the CSI driver still gets SINGLE_WRITER in CreateVolume call"
Currently, the code is hardcoded to always send the AccessMode of SINGLE_WRITER to the CSI plugin even though the request from the PVC is to have a ReadWriteMany.

[2018-09-13 19:18] #132 closed

[2018-09-17 16:02] lpabon commented on #117
I'll take care of fixing this.

[2018-09-26 04:31] adisky commented on #127
Agreed with you, I too faced the same error in cinder csi driver, we started returning capacity
https://github.com/kubernetes/cloud-provider-openstack/pull/266/commits/c5003cdc8ed22d6acc39ec54602f2ae75eafa01e

[2018-09-28 00:11] msau42 commented on #108
/reopen

@jsafrane it appears that your PR submitted is empty

[2018-09-28 00:11] msau42 commented on #108
/assign @jsafrane

[2018-10-02 21:59] verult opened #143 "Topology spreading across provisioned StatefulSet volumes"
/kind feature

The intention is briefly described here:
https://github.com/kubernetes/community/pull/2034/files#diff-8fe0dac6cc0083d59d7b6dfa91462244R170

The StatefulSet spreading logic, referred to in the design doc, is here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/util.go#L649-L665

@ddebroy

[2018-10-03 22:59] verult commented on #143
/sig storage

[2018-10-04 00:29] ddebroy commented on #143
I will pick this one up. Cannot assign myself because I believe I am not a `member`.

[2018-10-04 00:38] verult opened #144 "Consider using Node & CSINodeInfo informers"
Currently the topology code makes individual API calls to fetch nodes and CSINodeInfo objects, and in many cases a selector is used to list a subset of objects rather than all of them. Should we use informers instead?

My take is to use an informer for CSINodeInfo objects but not Node objects. CSINodeInfo objects are only updated on CSI driver installation, which is less frequent than provision ca

[2018-10-05 18:01] ddebroy commented on #144
Absolutely ... we can use a SharedIndexInformer for the delayed binding scenarios where we don't need to list nodes. I will take this up (will start assigning to myself once I am added as a member - pinged Saad).

[2018-10-05 20:46] verult commented on #144
Thanks so much Deep!

[2018-10-05 23:09] verult opened #146 "Add a flag to enable/disable leader election"
Piggyback on the mechanism introduced here: https://github.com/kubernetes-incubator/external-storage/pull/957

/assign

/kind bug

[2018-10-05 23:16] verult opened #147 "Provisioner should not set node affinity if k8s cluster has CSINodeInfo feature disabled."
If k8s is running on version 1.12 with CSINodeInfo disabled and external provisioner 0.4.0, volume mount fails with mismatch nodeaffinity, because when `CSINodeInfo` feature is disabled, Node objects are not populated with topology labels, while provisioner creates a NodeAffinity for the volume regardless.

Provisioner should have a feature flag to enable/disable topology

This is a blocker for 0.

[2018-10-05 23:16] verult commented on #147
/assign

[2018-10-05 23:56] verult commented on #147
/cc @davidz627 @msau42

[2018-10-05 23:57] verult commented on #146
/cc @davidz627 @msau42

[2018-10-08 12:52] pohly commented on #131
I'm seeing the same with ceph-csi, which is probably where @gman0 also saw it first.

[2018-10-08 18:54] ddebroy commented on #144
/assign

[2018-10-08 18:55] ddebroy commented on #143
/assign

[2018-10-10 07:28] lasshpanzer opened #149 "pv can not be deleted and csi-attacher and csi-provisioner fall into an infinite loop."
I1010 15:02:49.860137       1 controller.go:197] Started PV processing "pvc-652ea95e-c4c3-11e8-b1a6-58605f89e6df"
I1010 15:02:49.860158       1 csi_handler.go:350] CSIHandler: processing PV "pvc-652ea95e-c4c3-11e8-b1a6-58605f89e6df"
I1010 15:02:49.860199       1 csi_handler.go:386] CSIHandler: processing PV "pvc-652ea95e-c4c3-11e8-b1a6-58605f89e6df": VA "csi-5b88618110ae3eacf0b71c415cc1e28cdff0193

[2018-10-10 13:36] #149 closed

[2018-10-15 22:04] leakingtapan opened #150 "Pod is not created under selected zone of Volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am testing dynamic provisioning with EBS CSI driver with delayed binding. Most of the time the pod is created under the same zone as volume. There is one time that pod creation is failed because of pod is created in a different zone to volume's zone.

**What you expected to happen**:
Volume and pod should always be crea

[2018-10-15 22:06] leakingtapan commented on #150
/cc msau42
/assign verult

I have see this once so far and am wondering how is preference set in topology requirement?

[2018-10-15 22:13] msau42 commented on #150
/assign @verult

It looks like topology preferences are not set even though WaitForFirstConsumer is enabled in the StorageClass.

@leakingtapan can you also list out the feature gates you set on Kubernetes and csi-external-provisioner?

[2018-10-15 22:14] msau42 commented on #150
cc @verult @ddebroy

[2018-10-15 22:34] leakingtapan commented on #150
Here is the log where it succeeds:
[code]
Cannot have preferred there

[2018-10-15 22:37] leakingtapan commented on #150
I enabled CSIDriverRegistry and CSINodeInfo for kubelet and kube-apiserver.

Args for external provisioner:
[code]

[2018-10-16 19:01] verult commented on #150
That's strange... after creating the PVC and the pod, do you see a `selected-node` annotation in the PVC object?

[2018-10-16 22:47] #146 closed

[2018-10-17 23:51] verult commented on #147
Fixed in https://github.com/kubernetes-csi/external-provisioner/pull/148

[2018-10-17 23:51] #147 closed

[2018-10-18 16:37] leakingtapan commented on #150
For the working case, `selected-node` does show up with correct assigned node though.

[2018-10-18 17:57] msau42 commented on #150
To more easily repro the issue, you can try creating multiple PVCs in one Pod

[2018-10-18 17:57] msau42 commented on #150
(maybe like 10+ PVCs)

[2018-10-18 22:44] leakingtapan opened #153 "Retry on only server side error"
/kind feature

[external-provisioner controller](https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L463-L475) should only retry on server side error (including timeout). Retrying on client side error is not very useful and the error could be simply returned immediately in favor of fail fast.

[2018-10-18 22:44] leakingtapan commented on #153
/cc @verult

[2018-10-18 22:47] verult commented on #150
I did a test with the latest of k8s release-1.12 branch (cluster started with AllAlpha=true) and external-provisioner 0.4.0 (with `--feature-gates=Topology=true`), and the provisioner did call the CSI driver with `preferred`:
[code]
external-attacher and driver-registrar are also at 0.4.0. This is a single-zone cluster.

Steps:
* `KUBE_FEATURE_GATES=AllAlpha=true cluster/kube-up.sh`
* After cluste

[2018-10-19 00:45] msau42 commented on #150
@verult do you mean 0.4.1?

[2018-10-19 00:46] msau42 commented on #150
Can you try a multi-zone cluster?

[2018-10-19 04:48] leakingtapan opened #154 "PVC stuck in pending state after provisioner retry exceeds threshold"
/kind bug

When CSI driver returns error on `CreateVolume`, the same operation will be retried by external-provisioner. However, after provisioner retry threshold is exceeded, the pvc is stuck in pending state:
[code]
provisioner log:
[code]

[2018-10-19 04:55] leakingtapan commented on #150
could there be a chance that different cloud provider might cause the issue? I saw you are using GCE while im using AWS

[2018-10-19 05:05] leakingtapan commented on #150
After upgrading to v0.4.1 for provisioner/attacher/registrar, I can see `preferred` too.

[2018-10-19 08:08] pohly commented on #153
@leakingtapan what do you mean with "client" and "server" side here? "client" = external-provisioner, "server" = CSI driver? If `Provision` returns an error, is there another retry loop higher up in the stack that'll call it again, or is that error then permanent?

[2018-10-19 08:17] pohly commented on #153
Looks like you answered that already in #154: once `Provision` returns an error, there's no next retry attempt.

My personal expectation is that as long as a PVC exists, provisioning gets retried in perpetuity with increasing backoff. Looks like that retry loop is (has to be?) in external-provisioner.

One could try to detect "permanent" errors, but what is "permanent"? Even a config error for the

[2018-10-19 17:23] msau42 commented on #150
Thanks, can we close this issue then?

[2018-10-19 23:18] verult commented on #153
To clarify - the provisioner will retry `Provision` on error until a retry threshold (by default it's 15) is met

[2018-10-21 18:38] pohly opened #157 "leadership election with configmaps"
The external-attacher uses configmaps instead of endpoints for leadership election. The provisioner should do the same because it is more efficient (https://github.com/kubernetes/kubernetes/issues/68819#issuecomment-423098702).

[2018-10-22 21:56] leakingtapan commented on #153
@pohly yep. By client side I mean external-provisioner and server side is CSI driver. Here is one specific example I experienced that should not be retried:

I created a storageclass:
[code]
Where `iopsPerGB` is only allowed to be 50 max. In this case, volume creation will fail because `iopsPerGB` is too high. However, provisioner will keep trying with the same value. For a user who creates PV/PVC

[2018-10-23 06:07] pohly commented on #153
Can't the provisioner post an event to the PVC for each failed provision attempt which includes an error description?

That informs the user early, without throwing out the retry loop.

[2018-10-24 18:58] #125 closed

[2018-10-26 07:50] #143 closed

[2018-10-26 17:57] msau42 opened #162 "Remove provisioner argument"
It causes confusion and there is no reason to set provisioner name differently than the driver name

[2018-10-26 17:59] msau42 commented on #110
cc @lpabon @saad-ali @vladimirvivien

I think this issue covers the block issues Luis was talking about this morning

[2018-10-26 19:39] davidz627 commented on #162
xref: https://github.com/kubernetes-csi/external-provisioner/pull/161

[2018-10-30 18:20] leakingtapan commented on #150
I haven't seem this issue again.
/close

[2018-10-30 18:21] #150 closed

[2018-11-05 20:31] msau42 opened #164 "Add rbac rules for accessing secrets"
They should be optional as not all volume drivers will need it: https://github.com/kubernetes/kubernetes/issues/69122

[2018-11-06 16:15] msau42 commented on #164
/help

[2018-11-06 16:15] msau42 commented on #162
/help

[2018-11-18 20:14] saad-ali opened #167 "Take advantage of `csi_secret` in CSI 1.0"
CSI 1.0 decorates sensitive fields with `csi_secret`. Let's take advantage of this feature to programmatically ensure no sensitive fields are ever logged by this side car container.

[2018-11-20 23:20] mcronce commented on #67
To solve the issue of reverse association as well as making it easy for storage admins to quickly figure out where a volume comes from and what it applies to, what are people's thoughts on (either always or with an option) naming the PV something human-readable, e.g. pvc-_namespacename_-_pvcname_?  Including the PVC's namespace and name should guarantee uniqueness.

In case anybody's interested in

[2018-11-21 06:56] lpabon opened #170 "Need pvc namespace passed to CSI driver"
The in-tree Portworx Kubernetes driver currently relies on determining the namespace of the PVC during creation.

There are two issues with the current implementations in which none pass this information during creation of CSI volume:

1: [On mounts](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/csi-api/pkg/apis/csi/v1alpha1/types.go#L78-L90) the side car containers can p

[2018-11-21 08:36] princerachit commented on #67
@mcronce it is not guaranteed that `pvc-namespacename-pvcname` will give a unique name.
Consider these two pairs of namespace and name:
1. deploy-primary, vol
2. deploy, primary-vol

Both will result in `pvc-deploy-primary-vol`

[2018-11-26 20:05] #110 closed

[2018-11-28 10:11] humblec opened #172 "External provisioner misses VolumeSource support for CLONE_VOLUMES"
CSI 1.0.0 has VolumeSource struct in VolumeContentSource for supporting cloning volumes (https://github.com/container-storage-interface/spec/commit/7a8d2d546db2b010d924708ab36f5dd43a10098d) , but the required changes are not there in the  external-provisioner .

This is the template we used for testing, am i missing anything here?

kind: PersistentVolumeClaim
metadata:
  name: glusterfs-pv-restore

[2018-11-28 10:16] humblec commented on #172
/assign @jsafrane

[2018-11-28 10:18] humblec commented on #172
kubernetes used for testing
[code]

[2018-11-28 18:42] saad-ali commented on #170
The request is to:

1) Ability to set namespace for `secret` during provisioning
    * Need to discuss security implications with @liggitt
2) Be able to pass pvc info (namespace, name, id) to provisioning call, like we do for mount.
    * What are the use cases?

[2018-11-29 01:08] liggitt commented on #170
Did https://github.com/kubernetes-csi/external-provisioner/pull/69 not address using secrets in other namespaces?

[2018-11-29 01:14] liggitt commented on #170
The reason the pvc info is not available for paired create/delete operations is that the PVC and its namespace may not exist at deletion time

[2018-11-29 11:43] mape90 opened #176 "PV is tried to be deleted even VolumeAttachment is still active."
/kind bug

**What happened**
PV deletion will not check if volume is still attached to node. This can cause situation where volume is deleted on backend while the attacher might still be checking attachment status of that volume. Then the attacher might not be able to complete if it can not scope with missing volumes.

I hit the issue while using Cinder CSI plugin and make issue to there: https://

[2018-11-29 22:15] davidz627 opened #177 "External Provisioner should strip "fsType" parameter from parameters before passing to driver CreateVolume"
fsType parameter is special cased to be used and put into VolumeCapabilities for both CreateVolume and NodeStageVolume... It should not also be passed through to parameters as it is now a first class field

[2018-11-29 23:43] #177 closed

[2018-11-30 22:02] #82 closed

[2018-11-30 22:02] #167 closed

[2018-12-05 06:04] lpabon commented on #170
@liggitt we only need it in create. Doesn't it must exist in create, right? or am I wrong?

[2018-12-05 23:29] davidz627 opened #184 "Update Docs for CSI Provisioner Parameters"
CSI Provisioner Parameters were deprecated and replaced in v1.0.0: kubernetes-csi/external-provisioner#178

The documentation should reflect the new way of doing things. Being very careful to make sure that its clear that the name spaced parameters will NOT be passed through to CreateVolume.

/assign
/cc @msau42

[2018-12-06 02:18] mcronce commented on #67
I have the base functionality I described implemented in https://github.com/mcronce/external-provisioner/commit/4d159a9905ee1abdf226095c37aa8f0699e95c3a - I'd be interested in feedback

I also have a follow-up change in https://github.com/mcronce/external-provisioner/commit/ed716633a36fdedff7ca76dd9f0b94451b52ca6b which, when enabled, makes the entire PV name unique but deterministic based on the

[2018-12-08 02:01] harsh-px commented on #170
Here's are some use cases that we, at Portworx, have seen over the years.

1. Generally, the storage driver needs to know the orchestrator namespace when provisioning the volume so that they can restrict the volume bits at the same level of isolation. In a multi-tenant cluster, Kubernetes relies on namespaces to provide complete isolation between users. This isolation needs to go right down to the

[2018-12-09 23:42] jarrpa commented on #164
This seems to be already resolved by #156. @msau42, is that right?

[2018-12-10 05:44] msau42 commented on #164
Oh, I think actually we don't want to give secret permissions by default because the ClusterRole is very broad and not all volume plugins need it.

[2018-12-10 05:45] msau42 commented on #164
I think it is ok to comment it out and add a comment with a description of when you need to enable it.

[2018-12-10 14:22] abrden opened #187 "Add support for volume expansion"
Hi all, I haven't seen an issue regarding this topic so I'm creating one.
CSI seems to be supporting volume expansion now [[1]](https://github.com/container-storage-interface/spec/blob/master/spec.md#controllerexpandvolume) [[2]](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodeexpandvolume)
Can the external-provisioner implement these features in order to resize volumes

[2018-12-10 23:10] msau42 opened #189 "When topology feature gate is on, fail provisioning"
If the driver enables the topology feature, that means it supports topology and requires the CSINodeInfo object.  We should not fall back as if topology is disabled.  Otherwise, we might provision volumes in the wrong topology and it would require user intervention to fix.

This assumes that the provider/and or cluster admin coordinates cluster upgrade and driver upgrading together.

[2018-12-10 23:11] msau42 commented on #189
This simplifies dealing with race conditions of the CSINodeInfo not existing and provisioning operations.

[2018-12-10 23:56] msau42 opened #190 "Migration notes"
When migration is enabled in-tree:
1. Internal provisioner translates the StorageClass and sets the external-provisioner annotation to the CSI driver name
2. CSI external-provisioner sees the external-provisioner annotation with its name
    * If the StorageClass driver name == in-tree, then it does the translation
    * If the StorageClass driver name == CSI, then it does CSI

No feature gate on

[2018-12-10 23:56] msau42 commented on #190
/assign @ddebroy

[2018-12-10 23:57] msau42 commented on #190
cc @davidz627 @jsafrane @msau42 @gnufied

[2018-12-11 00:12] msau42 commented on #189
cc @verult @ddebroy @jsafrane @davidz627

[2018-12-17 20:06] harsh-px commented on #170
@saad-ali I've added some use cases for this request ^^

[2018-12-18 20:30] #162 closed

[2018-12-20 21:01] rmb938 opened #194 "Reclaim policy retain doesn't delete volume"
I'm not sure if this is expected behavior but if the storage class' reclaim policy is set to retain when I manually delete the pv resource it never calls the CSI controller to delete the volume.

[2018-12-20 21:03] rmb938 commented on #194
Ah actually this seems like expected behavior according to the docs:

[code]

[2018-12-20 21:03] #194 closed

[2018-12-20 23:59] rmb938 opened #195 "PV Protection breaks deleting"
If a user deletes a PV while it has a PVC with a pv protection finalizer the CSI never gets alerted to delete the volume when the pvc is deleted.

[2019-01-04 16:35] Madhu-1 opened #199 "volume size mismatch between driver and side car containers"
Hi we are facing an issue regarding volume size miss match between kubernetes and CSI driver

if I create a PVC of `1.5Gib`, external-provisioner is sending the request to CSI driver in bytes, so the CSI driver will create a volume of size `1.5Gib` but I think in sidecar container we are round up the value to `2Gib` when creating the PV object.

https://github.com/kubernetes-csi/external-provision

[2019-01-04 16:35] Madhu-1 commented on #199
CC @msau42

[2019-01-05 05:30] leakingtapan opened #202 "Use csi.driver in PV spec for volume deletion"
/feature

Currently, if I want CSI PV to be deleted with reclaim policy set to Delete, I need to set provisioner annotation on the PV manifest as follows:

[code]
This is not well documented and is confusing for user who provisions CSI PV manually. Since provisioner name (driver name) is already available in CSI Volume of PV spec, external provisioner should be able to reuse this information inste

[2019-01-07 16:40] rmb938 commented on #195
https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/6 has been merged so just waiting for a release to make a pr to update the library

[2019-01-08 01:05] msau42 commented on #202
cc @jsafrane @wongma7

Considering that with CSI, all provisioning is done out of tree, we technically don't need the annotation and can just look for the pv.spec.driver name.

The only issue I can potentially see is if you run multiple provisioners for the same driver, ie for local volumes.

[2019-01-08 01:06] msau42 commented on #202
/kind feature

[2019-01-08 19:08] msau42 commented on #195
Thanks for finding this issue. Could you also look into adding an e2e test for this in k/k? This may be a good place: https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/test/e2e/storage/csi_volumes.go

Also, I think this is an issue for in-tree volumes too. Should we consider fixing in-tree behavior? cc @jsafrane @wongma7

[2019-01-08 19:17] rmb938 commented on #195
@msau42 I will look into adding tests, I am not too familiar with the kubenretes e2e tests but I will try and figure it out!

[2019-01-09 13:34] humblec commented on #199
@Madhu-1 afaict,  this is working as expected/designed. Controller sent the request in bytes and in kube, the expectation is that, the user get atleast requested space , if its less its a failure. `>=` is expected. In this case user got what he requested. afaict, the round up is done deliberately. The reason is also kind of documented.
[code]

[2019-01-09 13:38] humblec commented on #199
/assign @humblec

[2019-01-09 14:20] tomerna opened #211 "Scaling issue : When 100+ PVCs are created at the same time, the CSI external-provisioner experiences timeout toward the plugin"
I noticed that when creating more than 100 PVCs at the same time, the CSI external-provisioner experiences timeout toward the plugin and eventually timeout the entire operation which ends up with pending pods without persistent volume attached.

{"log":"I0108 09:55:25.485371       1 controller.go:544] CreateVolumeRequest {Name:pvc-74c33958-132b-11e9-bdce-107d1a595b9b CapacityRange:required_bytes:1

[2019-01-09 15:01] humblec commented on #154
@leakingtapan this is expected. External provisioner fail after threshold attempts. In that stage, user has to delete the PVC and recreate it.

[2019-01-09 15:01] humblec commented on #154
/assign @humblec

[2019-01-09 15:03] humblec commented on #154
@jsafrane @msau42 can you confirm about our plans on  sticking on current design ?

[2019-01-09 15:58] msau42 commented on #202
@jsafrane I think this would only be an issue for a local volume CSI driver (of which we don't have one afaik).  I think external provisioner for local volumes may need to be special cased anyway to be able to have a provisioner running per node.

Do you see any other issue with standard volume types that only have one external provisioner?  Leader election should take care of the multiple provisi

[2019-01-09 17:32] Madhu-1 commented on #199
@humblec if the storage provider doesn't do roundoff before creating the volume,  then they will see volume size mismatch between Kube and storage backend.

[2019-01-09 22:08] msau42 commented on #154
I don't think the external provisioner should give up.  It can retry with backoff, but I think it should be forever reconciling until the PVC is deleted.

[2019-01-10 03:57] humblec commented on #199
@Madhu-1 this is wrong! That said, if the request from user is `1.5Gib` , storage provider should create NOT create `1.5Gb`.  `1.5G` is < `1.5Gi` which is a failure as per kube norms..
`G` and `Gi` are different. Storage provider should create `1.5Gib` or above as mentioned in last comment.

[2019-01-10 04:50] Madhu-1 commented on #199
@humblec that was a typo storage provider is creating `1.5Gib`

[2019-01-10 14:17] venkatsc opened #213 "User's RBAC violations during volume provisioning"
/kind bug
**What happened?**

Configure two users - `UserA` and `UserB` service accounts restricting both to their own namespaces and additional ClusterRole with access to StorageClasses, PersistentVoluems.

**Scenario 1**
1. Create StorageClass with `UserA`'s secret (stored in their namespace) with any CSI external provisioner plugin (tested with [Quobyte CSI ](https://github.com/quobyte/quobyte-

[2019-01-10 17:05] venkatsc commented on #89
I am also using `csi-provisioner:v0.2.0` and with recent versions of Kubernetes received duplicate CreateVolume request.

[2019-01-10 18:11] msau42 commented on #213
Hi @venkatsc, StorageClass is a cluster-level resource and is meant to be created and managed by a cluster admin, not by a particular user/namespace.  So the provision secret referenced in the StorageClass is designed to be used cluster-wide.  That being said, I think the [kubernets-csi documentation](https://kubernetes-csi.github.io/docs/Usage.html#csi-provisioner-parameters) could be more clear

[2019-01-10 20:48] venkatsc commented on #213
@msau42 Thanks for looking into it.

The issue is more of namespace violation of secrets due to CSI external provisioner having different RBAC rules (kind of superuser privileges for accessing secrets and storage classes). This issue is prevented only if the user cannot create PVC which IMO severely amputees the usability.

As explained in the **Scenario 2**, a user without access to StorageClass

[2019-01-10 21:03] msau42 commented on #213
Hi @venkatsc, I think there's some confusion around the scope of the provisioning secrets specified in a StorageClass.  Per-user provisioning secrets are currently not supported by the StorageClass API unless you pair it with StorageClass quota restricting that specific StorageClass to a particular namespace.  Secrets used by the provisioner are intended to be created by the cluster administrator

[2019-01-11 02:00] rmb938 opened #214 "Implement DeletionGuard"
I have a use case where I do not want PVs to be deleted unless a certain annotation is set with a value of true.

This PR https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/3 added the DeletionGuard interface so we should be able to use that.

I know that my use case is pretty specific but I figured the community would have some ideas on how to implement this in a generic

[2019-01-11 02:14] rmb938 commented on #202
@msau42 I don't think a local volume CSI driver would be affected by removing this annotation. I just finished creating a local volume CSI driver and it doesn't even use this annotation, be it that my implementation is a bit more complex that just CSI but I don't see the removal being an issue.

[2019-01-11 03:52] msau42 commented on #202
I guess it depends on if you implement it by using the provisioner annotation and appending the node name to it, or by parsing the PV.NodeAffinity

[2019-01-11 14:39] rmb938 commented on #202
Well I did also search around a bit and most of the local provisioners I found either use the node affinity or add their own annotation to the pv, some actually do both.

[2019-01-15 15:01] jsafrane commented on #68
We removed per-pvc leader election a while ago and I think that this issue is fixed in 1.0. I created 100 PVCs with host path CSI driver and all PVs were created within ~50 seconds (using single VM with 2 CPUs and local-up-cluster.sh), without any API throttling.

1000 PVCs were provisioned in ~8.5 minutes.

[2019-01-15 15:01] #68 closed

[2019-01-15 17:34] venkatsc commented on #213
Hi @msau42
Could you point me to any references on PVC namespace templating?

"We can look into supporting per-user namespace provision secrets, but it would have the limitation that it could not be used for volume deletion." -- that would be great.

[2019-01-15 17:53] msau42 commented on #213
The documentation [here](https://kubernetes-csi.github.io/docs/Usage.html#csi-provisioner-parameters) talks about pvc namespace templating for ControllerPublish and NodePublish secrets.  Similarly, we could investigate doing something similar for Provision secrets (with some limitations)

[2019-01-16 16:23] jsafrane commented on #130
That's why provisioner (and attacher) should run in Deployment with leader election. IMO it's unacceptable to have a cluster without attacher or provisioner even for 5 minutes.

[2019-01-17 00:17] leakingtapan commented on #202
@msau42 do we will need more inputs about this request to get consensus?

[2019-01-21 08:47] venkatsc commented on #213
Thank you @msau42  for pointing me to the relevant documentation.

I will raise a new feature request for per-user provisioning secrets.

[2019-01-30 01:46] lingxiankong commented on #170
Also, we(catalyst cloud) have some similar requirements not sure should merge with this one. Besides the PV name/namespace, we also need the reclaim policy of the PV passed to the CSI driver(which in turn passed to the volume property in the storage backend), so as public cloud provider, we could know if we should delete the volumes in the backend when the cloud user deletes the k8s cluster.

So,

[2019-01-30 23:38] lingxiankong commented on #170
For reclaim policy, to deal with the situation that the policy could be changed anytime during a PV's lifetime, I think we need the external-provisioner to call something like 'updateVolume' method of CSI driver, which is not in the CSI spec yet.

[2019-01-31 12:59] avalluri opened #221 "Wrong AccessibilityRequirement passed in CreateVolumeRequest"
My csi driver deals with storage local to Node, hence i would like to limit topology segment to individual node, by passing as below in NodeInfoGetRespose.
[code]

I am using delay binding(WaitForFirstConsumer) so that volume get provisioned only after scheduler picks the node for scheduling pod that claims the PV.

My expectation was`'CreateVolumeRequest.AccessibileRequirement` is filled with the

[2019-01-31 16:12] msau42 commented on #221
Look at the first entry of the preferred topology field to see which node the scheduler picked.  Requisite is supposed to contain all valid choices

[2019-01-31 16:14] msau42 commented on #221
Although this brings up an interesting scalability problem if it's going to list every single node.  Maybe we should consider truncating the results? cc @verult @ddebroy

[2019-02-01 11:46] avalluri commented on #221
@msau42  Thanks for your response. I suspect the way the valid choices are being prepared, currently this code is:
- getting the topology *keys* from selected/randomly chosen node info
- and to find the nodes with similar topology., it does a cluster level node selection using those *keys*, which resulting requisite is ending up with all nodes, because almost all nodes(where the csi driver runs) w

[2019-02-01 16:14] msau42 commented on #221
Maybe there's a difference in interpretation of the spec.

Requisite is supposed to contain all possible choices for the topology that has not be filtered out through storageclass.allowedtopologies. the driver must pick any subset from requisite.

Preferred gives a suggested ordering out of the requisite to pick from.  If you have delayed binding set, then the first choice will be what the schedul

[2019-02-01 16:17] msau42 commented on #221
This is to handle the scenario where your driver may have be spread across multiple topologies.  For example, it can replicate data across many nodes or zones.  The scheduler only picks one of the nodes, but your driver needs to know what are valid choices for the secondary domains.

[2019-02-01 17:53] avalluri commented on #221
There is a test case for this, but to my surprise the expectation is bit different:

[code]

the above testcase is having ` zone1` and `zone2` having 1 and 2 nodes respectively. And the three nodes info having the same topology key, i.e, `"zone"`(i am not sure if there is a driver which could handle different topology *keys* on different nodes). And `SelectedNode` is Node1(the above screenshot is

[2019-02-01 19:10] pohly commented on #221
@avalluri what you quoted is the case where no node has been selected yet, so the result is indeed that running in either zone1 or zone2 would be acceptable.

But right below it is the same case with a selected node: https://github.com/kubernetes-csi/external-provisioner/blob/19b7dc3a534843bcdf8280b39eb107de3ab4d28c/pkg/controller/topology_test.go#L864-L880

And that one still allows running in zo

[2019-02-01 21:12] msau42 commented on #221
So this unit test is misleading because it only checks requisite, which selectedNode has no impact on.

Requisite is the set of topology values that includes all of the values in the cluster, reduced from StorageClass.AllowedTopologies.

Preferred is where selectedNode comes into play.  The first entry in preferred should contain the topology from the selectedNode.

[2019-02-01 21:37] sarjeet2013 opened #222 "No credential in DeleteVolume RPC when defined StorageClass for PV is deleted already"
Observed the behavior when receiving RPC call for DeleteVolume and doesn't contain the credentials passed in the Storage Class.

The issue seems to be not handling it for case where StorageClass is deleted before the RPC request for DeleteVolume is in progress:

https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L761
pkg/controller/controller.go:761

[2019-02-01 22:33] msau42 commented on #221
There's a use case for volumes that can span/replicate across multiple topologies, ie multiple zones or multiple nodes.  However, the scheduler only picks one node, ie one topology.  The driver can treat the scheduler choice as the primary zone/node.  But then the driver needs a way to know the other available topologies in the cluster for choosing its secondary topologies.  That is why we cannot

[2019-02-04 10:10] avalluri commented on #221
I respect this requirement, though i couldn't understand why can't the driver get the same information, ie, cluster level topology from SP, as the driver is the one who defined this topology.

One thing missing here is how could the driver differentiates that the provided `Requisite/Preferred` topology is:

1.  really requested by CO(scheduler SelectedNode/PVC.Selector/Storageclass.AllowedTopologi

[2019-02-04 18:54] msau42 commented on #221
As an example, for gce pds, the storage provider knows about all zones in a region, ie `us-central1a/b/c/d/f`, but your Kubernetes cluster may have only be created in a subset of those zones.  And nodes could be added/removed in new zones at any time.

Can you explain why you need to distinguish between chosen by CO and chosen by external-provisioner?  External-provisioner respects the Kubernetes

[2019-02-05 08:31] avalluri commented on #221
Thanks @msau42 for clarification, now i understand why this design was chosen.

Our driver deals with local storage and we treat every node is in its own zone. We would like to support volume replication where Pod can choose(we are still open if its via `PVC.Selector` or `StorageClass.AllowedTopologies`) where to accesses the volume from, so that we can create the volumes on those nodes/zones.

In

[2019-02-05 15:55] msau42 commented on #221
For your case, can you make it explicit that replication is requested by having an additional storageclass parameter for number of replicas instead of inferring from restricted topologies? Users may not care exactly which nodes are chosen: "I want 2 replicas but choose any 2 nodes you think are best".  Then that also opens it up to the storage provider to make a smarter decision based off of capac

[2019-02-05 16:41] pohly commented on #221
Let's ignore replication for now, I believe that isn't relevant here.

I think some of confusion comes from a different understanding what topology means and how strict it is. I'm getting the feeling that currently topology is treated as a suggestion, but not a hard requirement. That's why even though Kubernetes knows that a pod using the volume will run in `zone1`, it (through external-provisione

[2019-02-05 17:19] msau42 commented on #221
I think the driver should just always create in whatever the 1st topology is in the preferred.  If delayed binding is set, then it will be what the scheduler chose.  If not, then it will be random.

[2019-02-05 20:43] jayunit100 opened #223 "Differentiate this repo from https://github.com/kubernetes-incubator/external-storage"
Given that there is https://github.com/kubernetes-incubator/external-storage/, i was wondering if we could add something to the README differentiating this repository.

Specifically, is external-storage/ really just a placeholder for the *old* way of doing things until CSI is mainstream ?  (i notice it has, for example, flex volume in it).

[2019-02-07 03:25] gnufied opened #224 "Rename deprecatedSecretParamsMap to something else because it also contains non-deprecated fields"
As subject says, this struct is bit oddly named and appears as if entire struct is deprecated.

[2019-02-07 04:07] msau42 commented on #224
/kind cleanup
/help

[2019-02-08 10:06] jsafrane opened #227 "Add parameter(s) for CSI timeouts"
CreateVolume and DeleteVolume timeout should be configurable. Currently we use `--connection-timeout`, which serves different purposes.

[2019-02-08 10:09] jsafrane opened #228 "Create proper README"
Current README.md is not sufficient.

It should include:

- Important cmdline arguments, especially timeouts + description of retry mechanisms, so cluster admins can choose the right values depending on how fast / slow is their driver.
- Overall architecture.

[2019-02-08 10:19] jsafrane commented on #154
Filled https://github.com/kubernetes-csi/external-provisioner/pull/216 that re-tries to provision a volume forever, until user explicitly asks for fixed retry count.

[2019-02-08 17:08] msau42 commented on #228
Take a look at node-driver-registrar as an example structure

[2019-02-08 17:14] #101 closed

[2019-02-08 21:01] wongma7 commented on #157
Leases leaderelection API will be in 1.14, let's use that.

[2019-02-09 14:46] j-griffith commented on #224
Giving this back with the help wanted tag for somebody that may want a first easy commit to CSI

[2019-02-11 18:14] ddebroy commented on #190
Being worked in at https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/28

[2019-02-11 18:54] msau42 commented on #170
Potentially related: https://github.com/kubernetes-csi/external-provisioner/issues/213

[2019-02-11 22:27] saad-ali commented on #199
Either @davidz627 or @verult did bug fixes in this area. One of them may be able to fetch more light on what's going on.

[2019-02-12 22:41] davidz627 commented on #199
I'm working off memory here so feel free to fact check and correct me if I'm wrong but I believe we do the rounding in the PV for readability reasons. As @humblec mentioned earlier its sort of documented here:
https://github.com/kubernetes-csi/external-provisioner/blob/cbad731f9ece2e6081ae982654eabc8176c32a0f/pkg/controller/controller.go#L941-L942
The reason for this is documented in the `quantity

[2019-02-13 19:21] saad-ali commented on #199
@saad-ali WDYT

That seems reasonable to me.

I can't recall the details either. I remember there was a fix made and then a follow up changing that.

[2019-02-13 19:33] msau42 commented on #199
There was a fix made to in-tree GCE PD to use GB instead of Gi, but it was reverted because the G in pd's definition actually means Gi.

[2019-02-13 20:46] gnufied commented on #199
This really depends on storage provider isn't it? afaik - GCE provisions in multiples of GB (we went back and forth on this) and hence if user asks for 2Gi then it will provision 3GB.

The docs in the comment says:

I don't remember the history behind it but we should be able to round up to 2 decimal places and we should still be good. cc @jsafrane @wongma7

[2019-02-13 21:18] wongma7 commented on #199
IMO, forget all rounding and use resource.NewQuantity on the returned volume.CapacityBytes which will handle it for you:
[code]
prints out:
1536Mi

The problem with calling resource.MustParse is that "When a Quantity is parsed from a string, it will remember the type of suffix it had, and will use the same type again when it is serialized."https://github.com/kubernetes/kubernetes/blob/2981fb7a0171

[2019-02-13 23:24] gnufied commented on #199
Yeah but the problem I think is - we want size of PV to be reported in "nicer" formats. So arguably - the code here wants to avoid reporting large Milibyte numbers (like 1536Mi for example). It looks like we have optimized for user friendly formatting vs actual volume size.

[2019-02-14 01:49] wongma7 commented on #199
(1536Mi is mebibytes not millibytes) well frankly I think that is silly...4 digits is not too much for a user to handle. If the number is something hard to parse (i.e. not x*1000^y or x*1024^y) then either a) the user requested it and is getting exactly that back or b) it is > than the user's request & the csi createvolume arrived at the number on purpose somehow, so it's the csi driver's problem

[2019-02-14 19:11] davidz627 commented on #199
@wongma7 I'm not opposed to the change. 4 digits seem fine but I want to avoid having something like `10032873429b`

[2019-02-17 15:34] darkowlzz opened #231 "Missing permission: csi-provisioner cannot update resource "persistentvolumes""
I was running the canary version of the provisioner with the hostpath driver and saw these in the logs:

[code]

Got the rbac rules from [csi docs example page](https://kubernetes-csi.github.io/docs/example.html#create-rbac-rules-for-csi-provisioner).

Adding "update" verb to [persistentvolumes](https://github.com/kubernetes-csi/external-provisioner/blob/1cd1c20a6d4b2fcd25c98a008385b436d61d46a4/de

[2019-02-17 16:26] #227 closed

[2019-02-18 09:32] pohly commented on #231
The example is out-dated. The canonical source for RBAC rules is https://github.com/kubernetes-csi/external-provisioner/tree/master/deploy/kubernetes

[2019-02-18 09:34] pohly commented on #231
Having said that, those rules are also outdated. Can you create a PR?

[2019-02-18 09:34] pohly commented on #231
Is this limited to the canary or does it also happen in the latest release?

[2019-02-18 15:04] darcyllingyan opened #232 "Build error for the external-provisioner"
Hi,
When use ```# make csi-provisioner``` to build the external-provisioner, following errors are always reported, if there are some issues about my building:
[code]

Thanks for any comments.

[2019-02-18 15:49] pohly commented on #232
Looks like you Go version is too old.

The CI uses 1.11.1.

[2019-02-21 01:26] saad-ali opened #233 "Allow PVC name/namespace as template for provisioner-secret"
**Background:**

Issue https://github.com/kubernetes-csi/external-provisioner/issues/170

You can specify a `provisioner-secret-name` and `provisioner-secret-namespace` as a parameter in the `StorageClass`. Every volume provisioned using that `StorageClass` uses that secret. There was a desire to be able to specify a different secret for every volume generated.

To enable this @liggitt introduced

[2019-02-21 01:27] saad-ali commented on #170
Ok there are two asks in this issue

1) Ability to reference a secret from the PVC's namespace:
  * Moving this to https://github.com/kubernetes-csi/external-provisioner/issues/233
  * Please move all further discussions on this to that issue
2) Be able to pass pvc info (namespace, name, id) to provisioning call, like we do for mount.
  * I'm reading @harsh-px's comments and will respond shortly.

[2019-02-21 01:30] msau42 commented on #233
One way to strongly discourage this is to not pass in secrets generated from pvc on deletion.

[2019-02-21 02:11] lingxiankong commented on #170
@saad-ali thanks for responding

[2019-02-21 02:14] saad-ali commented on #170
So you record some metadata when a volume is provisioned to say it belongs to `namespace foo`? And then when a volume is mounted, you verify that the pod is in namespace `foo`? If so, why? Kubernetes does this enforcement already.

This is a great use case. But making a CSI driver reach in to Kubernetes to figure this out on its own is a hack.

Kubernetes and CSI already support topology where a v

[2019-02-21 02:25] saad-ali commented on #86
My current standing on this issue: Annotations on PVCs MUST NOT be passed to CSI drivers. The Kubernetes PVC object is intended for application portability. When we start leaking cluster/implementation specific details in to it we are violating that principle.  And explicitly passing PVC annotations to CSI drivers encourages that pattern. Workload portability is a corner stone of Kubernetes. It is

[2019-02-21 10:38] pohly commented on #233
But does that then still meet the original use case (allowing users to provision volumes with their own storage backend credentials) if de-provisioning cannot be done by that same user because the CSI drivers doesn't get his credentials?

/cc @kfox1111 - this is relevant for ceph-csi (https://github.com/ceph/ceph-csi/issues/80#issuecomment-438864263)

[2019-02-23 07:21] lpabon commented on #233
I'm do not think this is possible.

I think we need to put this in a new light. The CSI spec shows that secrets are passed on each of the calls, and so the CO must honor that, in my opinion.  I can see that pvc deletion, from a K8S point of view, may not require secret since the kubernetes has already checked if the user is part of that namespace and access to that pvc, but the CSI driver does not

[2019-02-24 12:54] darcyllingyan commented on #232
@pohly ,
Thanks for the response, I have updated the Go version to 1.11.5.
Now I want to build the image for the external-provisioner.
Whether there is description and I didn't find the related doc to build it.

Now I try to use make.sh to build the docker image, whether it's right?
Below is the log and it always reports error.
[code]

[2019-02-24 19:17] pohly commented on #232
That particular script is out-dated. The repo now uses the same Makefile as all other sidecars. Have a look at `release-tools/build.make`.

`make container` builds the container image.

`make push REGISTRY_NAME=my.registry` pushes to `my.registry`.

[2019-02-24 22:35] lingxiankong commented on #170
Hi @saad-ali, thanks for your reply. I'm confused about something.

`Cleaning up cluster resources (and ensuring PVC reclaim policy) on cluster deletion is the responsibility of Kubernetes or the Kubernetes deployment system` I agree that resource cleanup is the responsibility of the Kubernetes deployment system, which in this case is the public cloud provider but not kubernetes itself. Because wh

[2019-02-25 01:59] darcyllingyan commented on #232
@pohly ,
Thanks very much for the reponse!
But I still can't build successfully, maybe there are some special settings? below is the log.
[code]

[2019-02-25 08:34] pohly commented on #232
Did you check out in `$GOPATH/src/github.com/kubernetes-csi/external-provisioner`? Like most Go projects, external-provisioner only builds from the right location in `$GOPATH`.

[2019-02-25 10:58] pohly commented on #232
That content of `$GOPATH/src/github.com/kubernetes-csi/external-provisioner` looks wrong. What I meant is that you should check out the entire repo there:
[code]

[2019-02-25 14:11] darcyllingyan commented on #232
@pohly,
Thanks very much for the detailed procedure!
The image is built successfully.

Thanks

[2019-02-25 14:33] pohly commented on #232
I'm wondering whether and where we need to document this. Some of it was very basic (how to build Go projects) but becomes less obvious once more projects move to Go modules (now building outside of `GOPATH` may work), and make targets are project-specific (but still the same for all Kubernets-CSI projects using csi-release-tools).

[2019-02-25 15:31] darcyllingyan commented on #232
As I'm new to the GO, so there are some questions just based on the  README.md.
Now I have understood the error for my building.
So I think if a persion is familar with GO projects, maybe it doesn't need to document it.
But if one isn't familar with GO projects, he may have some questions.

Thanks

[2019-02-25 16:44] gnufied commented on #233
FWIW, this may not be unique to provisioner. I think snapshot controller has same problem. It also picks secret from storageclass. Is it desirable to have per-volume secret for snapshotting? We are also discussing this for resizing.

[2019-02-25 19:14] pohly commented on #233
Hemant Kumar <notifications@github.com> writes:

I think so. Basically all clusters where different users share the same
installation of a driver that needs per-user credentials in its storage
backend have this issue, regardless of the operation (create, snapshot,
resize, delete).

[2019-02-26 01:49] msau42 commented on #231
This might have been introduced as part of https://github.com/kubernetes-csi/external-provisioner/pull/209, which was cherry-picked to release-1.0, but we haven't cut a release for yet.

[2019-02-26 14:31] #232 closed

[2019-02-28 13:42] jsafrane commented on #94
Work in progress: https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/33

[2019-02-28 13:48] jsafrane commented on #131
This should be fixed by https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/29 and https://github.com/kubernetes-csi/external-provisioner/pull/216

Provisioner now tries indefinitely until CSI driver returns a volume or some final error (i.e. not timeout).
/close

[2019-02-28 13:48] #131 closed

[2019-02-28 13:51] jsafrane commented on #154
#216 is merged
/close

[2019-02-28 13:51] #154 closed

[2019-03-11 20:20] shay-berman opened #245 "One new csi secret key that apply to all the CSI operations"
According to k8s CSI [spec](https://kubernetes-csi.github.io/docs/secrets-and-credentials.html), there are 2 ways to specify secrets for CSI plugin from the storage class:
option1 - to specify secret key per CSI operation (provisioner, controller-publish, snapshot, node-stage, node-publish...).

option2 - to specify secret per PV name by having `${pv.name}` template.

But what if a CSI plugin requ

[2019-03-11 20:23] gnufied commented on #245
I think this could work. It might be considered less secure than per-sidecar secrets but if a admin wants to use same secret for all sidecards, why not.  One problem is going to be to ensure that, same key is known to all sidecars.

cc @msau42 @liggitt

[2019-03-11 20:43] msau42 commented on #245
/kind feature

[2019-03-12 07:54] darcyllingyan opened #246 "The PV could created in a new deployed csi-driver, more than 1.5 hour later, the pv couldn't be cerated with timeout error"
Hi,
I want to create a POD with the volume provided by CSI, it failed as the volume creating process.
The log is below:
1.
[code]

note: In the cluster, I configure both the cinder csi and the in-tree methond to provide cinder volume.
[code]
Can you help to check it about the root cause? I have no idea about it after checking several days, thanks very much!

THanks

[2019-03-13 23:44] saad-ali commented on #233
Spoke with @msau42 and @liggitt about this.

Proposal that we agreed on:

1) Always call `DeleteVolume` and `ControllerUnpublishVolume` even if we fail to fetch the secret (because some storage systems may not require secret on those operations but we'll never know if we don't try). That said, for `CreateVolume`, `ControllerPublishVolume`, `NodeStageVolume`, `NodePublishVolume` we should not call

[2019-03-13 23:54] msau42 commented on #233
Correction, we cannot support PVC.annotation as a DeleteVolume secret.  To trigger a DeleteVolume requires deleting the PVC object, so for sure, the PVC.annotations will be gone and not accessible.

[2019-03-14 13:50] jsafrane commented on #211
With rebase to external-provisioner-lib 3.0 and recent changes in external-provisioner, the retry mechanism is different. Details will be documented in README that's being updated in https://github.com/kubernetes-csi/external-provisioner/pull/249

We now have exponential backoff with fast retries in the beginning, slowing down quickly and with no explicit number of attempts. Kubernetes API server

[2019-03-14 13:50] #211 closed

[2019-03-14 13:53] jsafrane commented on #211
To sum it up, I tested with 200 volumes on AWS.
* The old provisioner (1.0.1) was 2x slower with provisioning than the new one, mainly because now we have 100 workers instead of 4 (i.e. 100 AWS calls are done in parallel instead of 4). The new one could be even faster if it was not throttled by API server.

* Old provisioner is 2x **faster** than the new one, because API server does not like the r

[2019-03-14 21:15] saad-ali opened #252 "VolumeDelete may fail if Snapshots for volume not deleted first"
Per https://github.com/container-storage-interface/spec/pull/347, CSI permits a storage system to not delete a volume if it has outstanding snapshots and the storage system does not treat snapshots as independent entities (this is not recommended, but the spec permits it).

We should figure out how we handle this. Is there some programmatic recovery we should implement? If that is not possible, le

[2019-03-15 12:14] akgunjal commented on #233
@msau42 @saad-ali : I have a suggestion. If the PVC name/namespace are passed as template for create/delete volume then can we do the following.

(1) The `Provision` method in the external-provisioner can add the `provisionerSecretRef` in PV object after the CreateVolume call just like its done for `controllerPublishSecretRef` today. This is to use this secret in DeleteVolume call as PVC will be d

[2019-03-17 11:29] mlmhl commented on #86
@saad-ali  There is a similar use case in my team:

We support multiple storage types in a cluster, such as `Ceph RBD` and `CephFS`. What's more, we also support multiple file system types for `Ceph RBD`, such as `ext4`, `xfs`, etc. The only solution at present is creating a `StorageClass` for each file system type, for example, a `ext4-sc` `StorageClass` for `ext4` fs type, and a `xfs-sc` `Storag

[2019-03-17 13:24] darcyllingyan commented on #246
Does anyone has any suggestions?  Thanks.

[2019-03-17 16:45] msau42 commented on #246
Hi, I would suggest opening an issue with the cinder experts: https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/csi/cinder

[2019-03-18 08:53] pohly commented on #221
We just verified (https://github.com/intel/pmem-CSI/issues/92#issuecomment-473294181) that scheduling indeed fails if:
1. `WaitForFirstConsumer` is set
2. the pod is assigned to run one one node
3. the CSI driver picks a different node for creating the volume

I'm not happy with the suggestion that the CSI driver should "just always create in whatever the 1st topology is in the preferred". That ad

[2019-03-18 13:14] avalluri commented on #221
Currently, both `Preferred` and `Requisite` are filled with complete available topologies(in different order) by external-provisioner.

As per spec `Preferred` could be subset of `Requisite`, I wish, at least if we can ensure that `Preferred` always filled with the _real_ CO requirement( i.e, in case of `WaitForFirstConsumer` only selected node topology) and `Requisite` might hold all available to

[2019-03-18 13:24] darcyllingyan commented on #246
Hi @msau42 ,
Thanks very much for the information, I have opened an isue https://github.com/kubernetes/cloud-provider-openstack/issues/535, and still waiting for the response. Thanks.

[2019-03-18 14:17] pohly commented on #221
And then what? As shown in "example 1", the expectation is that the CSI driver falls back to provisioning the volume outside of the "preferred" set if it has to, so the same problem would still occur. If the CO (Kubernetes + external-provisioner) want to *enforce* that the volume gets provisioned where needed or not at all, then `requisite` has to be limited to that one node.

[2019-03-18 19:13] msau42 commented on #221
These are the different topology use cases I can think of:

"External" topology, where the storage topology != node topology.  We don't support this well in Kubernetes today, but there have been requests to support it. We can discuss this as a separate issue/topic.

"Hyper-converged" topology, where the storage topology == node topology
1. Simple topology: the volume can only be accessed from a si

[2019-03-19 07:08] ddebroy opened #256 "Use Informers for storage class lookups during provisioning and deleting"
Address https://github.com/kubernetes-csi/external-provisioner/pull/253#discussion_r266182479

/assign @ddebroy

[2019-03-19 08:42] pohly commented on #221
That makes sense to me.

[2019-03-19 08:59] avalluri commented on #221
While choosing this topology/node, does external-provisioner consider the available capacity. I mean, what should the driver do if there is no free space available on chosen node?

[2019-03-19 09:09] avalluri commented on #221
I too agree with this, the only reason i suggest to keep filling `requisite` with full topologies is to support other existing usecases which are currently depend on this field.

[2019-03-19 16:01] jsafrane commented on #86
StorageClass object was supposed to provide *classes* of storage ("slow", "fast", "secure"), not *configuration* of storage ("ssd-4-replicas-xfs", "ssd-4-replicas-ext4", "ssd-3-replicas-xfs"...)

Why should user need to choose between say ext2 or xfs? Users need storage to run say "fast cache", where ext2 simplicity and speed is better than xfs or "database XYZ", where xfs is more stable than ext2

[2019-03-19 17:12] j-griffith commented on #86
On Tue, Mar 19, 2019 at 10:01 AM Jan Šafránek <notifications@github.com>
wrote:

I agree with NOT passing down the attributes, if we really need something
more than what's offered by the SC model then I think we would need to
consider a new mechanism (like special parameters per volume instead of
class [note I'm not suggesting that we discuss that here or go that route
necessarily]).

One thing @m

[2019-03-24 03:17] ayanamist commented on #86
We have similar situation.
@jsafrane The word "user" today means too many things. Do you mean "the end user" which equals to DevOps or SRE, or "PaaS user" which build their ability on the k8s?
We are the latter one who focus on internal operations of a company, and yes the end user do not care about ext4 or xfs, but we care. We do not expose the whole k8s abstraction to the end user. So we need de

[2019-03-26 00:18] msau42 opened #257 "Remove topology 1.13 fallback logic once 1.13 is unsupported as a node version"
We can do this in 1.16.
/assign

[2019-03-26 03:01] darcyllingyan commented on #246
The issue is duplicate with #535, so close the issue.

[2019-03-26 03:01] #246 closed

[2019-03-26 18:35] #94 closed

[2019-03-27 07:07] muhlba91 opened #258 "New release planned?"
In https://github.com/ceph/ceph-csi/issues/284 I am running into timeout issues with the provisioner and as per discussions, a fix is to use the `timeout` cmd line argument.

However, this argument has been introduced in https://github.com/kubernetes-csi/external-provisioner/commit/45a92e290be317396c3c8f5b67a842fad85822f6#diff-38b23914da9991d96c9ec4fc3c2525aa and, therefore, is not in any stable r

[2019-04-05 04:36] msau42 commented on #257
/kind cleanup

[2019-04-05 04:41] msau42 commented on #228
Fixed by #249

[2019-04-05 04:41] #228 closed

[2019-04-05 04:42] msau42 commented on #223
The readme for this repo has been updated. Does this help?

[2019-04-05 04:45] msau42 commented on #189
This has been addressed with topology beta

[2019-04-05 04:45] #189 closed

[2019-04-05 04:52] msau42 commented on #64
This has been addressed with csi-lib-utils/connection

[2019-04-05 04:52] #64 closed

[2019-04-08 21:08] msau42 commented on #195
Hi, looking back at this PR, I'm not sure if this is the right way to fix the issue.

I think this issue also exists for in-tree volumes, so we should see if a fix is possible at the PV controller level.  At the very least, we should make this behavior opt-in and maybe alpha flag gated at the CSI provisioner level while we investigate other solutions.

cc @jsafrane @wongma7

[2019-04-08 23:19] wongma7 commented on #195
I'll make it opt-in.

I don't think the *exact same issue occurs but I agree this needs another look. The fix is a bit heavy-handed, it fixes behaviour for this specific issue so that it's the same for in-tree & out-of-tree, but also makes other behaviour different which I didn't follow up on...

If a user deletes a PVC+PV while they are `Bound`, the PV's protection finalizer will not be removed u

[2019-04-08 23:32] rmb938 commented on #195
Yea, this whole issue came about when I accidental deleted the PV while the PVC was still around. Then when I went to go and delete the PVC the CSI never got called to clean up the backing volume for the PV.

I actually never tested this issue on the in-tree provisioners so my expectations of this not happening with them could have been wrong.

However if this issue also happens with in-tree provi

[2019-04-09 00:06] msau42 commented on #195
I'm thinking about this possible race:
1. PV is deleted, but has the storage protection finalizer due to the PVC
2. PVC is deleted
3. PV controller moves the PV to released phase
4. Before it is able to reclaim, storage protection finalizer is removed on the PV, which causes the object to be deleted
5. PV controller tries to delete the volume, but fails to [Get the PV](https://github.com/kubernete

[2019-04-09 02:21] wongma7 commented on #195
Another way to do it could be a finalizer right before step 3 "PV controller moves the PV to released phase," then the protection controller wouldn't have to change. No API change needed like phase/condition and cleaner than annotation.

So basically there are 2 outcomes to the race and we prefer a) because we prefer to avoid dangling volumes.

a) PV is reclaimed. happens if pv controller wins the

[2019-04-09 02:55] wongma7 commented on #195
Putting a phase/condition/annotation/finalizer will probably mean the out-of-tree has to become aware of it so yeah there could be some version skew issues to solve else the PV would stay around with that phase/condition/annotation/finalizer forever.

Also my "PV has a storage protection finalizer the ReclaimPolicy is not ignored and otherwise it is" situation is pretty contrived, there's no way i

[2019-04-09 10:50] jsafrane commented on #195
Yes, upgrades and downgrades get problematic if we introduce new finalizer / condition.

IMO we should focus on the use case first. Why users delete PVs? They should delete PVCs, that's what we want to support. Reclaim policy was always tied to PVC deletion and never to PV deletion. It's just a coincidence that reclaim policy is applied once when both PV and PVC is deleted and PV finalizer kicks i

[2019-04-09 18:01] wongma7 commented on #195
If the PV is `Bound`: either it's an accident/mistake or they really want to prevent people from using it.

If it's an accident/mistake then the protection finalizer helps to ensure that new/restarted pods can still use it. But, IMO, the protection finalizer doesn't say anything about whether the reclaim policy applies. Like you say, it's a coincidence that it makes the reclaim policy apply once.

[2019-04-09 19:48] msau42 commented on #195
I'm not sure if it's worth having to give the provisioner an additional update PV permission to better handle a situation where the user makes a mistake or you don't want the finalizer anyway.

[2019-04-09 21:39] wongma7 commented on #195
I am very liberal about adding permissions and features, especially if a user reported/contributed it like in this case. There's evidence the mistake happens so mitigating it surely helps. The provisioner already has `create` and `delete` so from a security perspective I don't think it is a big issue. But RBAC has bad UX and changes to it are disruptive, so that part could be weighed more heavily.

[2019-04-09 21:43] wongma7 commented on #195
Maybe health check should be tied to permissions so pod will fail immediately if it doesn't have everything. Plus in this case the finalizer thing is clearly optional so it would be good to have it fallback if permission is not present. (still working on making it off by default anyway)

[2019-04-11 04:47] saad-ali commented on #172
Volume cloning feature for Kubernetes is currently being targetted for an alpha in 1.15. The KEP has been approved: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20181111-extend-datasource-field.md.

[2019-04-13 01:27] msau42 commented on #258
Sorry for the delay, a new release has been tagged: https://github.com/kubernetes-csi/external-provisioner/releases/tag/v1.1.0

[2019-04-13 01:27] msau42 commented on #258
/close

[2019-04-13 01:27] #258 closed

[2019-04-13 01:28] msau42 commented on #231
We reversed #209, so update permissions are no longer needed
/close

[2019-04-13 01:28] #231 closed

[2019-04-13 01:29] msau42 commented on #224
/good-first-issue

[2019-04-13 01:31] msau42 commented on #184
I believe this has been addressed at https://kubernetes-csi.github.io/docs/secrets-and-credentials.html?

[2019-04-13 01:31] msau42 commented on #157
Using lease now.
/close

[2019-04-13 01:31] #157 closed

[2019-04-13 01:34] msau42 commented on #190
@ddebroy is this done?

[2019-04-15 04:01] bukzor commented on #67
Isn't there prior art for solving this, in the naming of Deployment pods? A human-readable prefix followed by a uniquifying nonce.  So pvc "my-thing" would result in pv "my-thing-fviwm".

CC: @bulldozier

[2019-04-15 16:31] ddebroy commented on #190
Yes this is handled through:
1. https://github.com/kubernetes/kubernetes/pull/73653
2. https://github.com/kubernetes-csi/external-provisioner/pull/253
3. https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/34

[2019-04-15 16:31] #190 closed

[2019-04-17 03:34] illusion202 opened #269 "How to use CSI ListVolumes RPC ?"

[2019-04-19 20:40] kerneltime commented on #170
We have a use for managing thousands of datasets that in turn can have arbitrary number of versions.
These datasets are created and consumed within kubernetes and have usage outside of kubernetes as well.
The current mapping of which dataset is done via storage class. When creating a volume (filesystem) for a branch/version there is no ability to address the requirement.
Currently we use a [fork t

[2019-04-19 20:55] msau42 commented on #170
@kerneltime for your use case, is your dataset readonly? Can users create a PVC based on some dataset, and modify, and persistent it separately from another PVC based off of the same dataset? I'm trying to understand if csi ephemeral volumes can suit your use case better than PVs

[2019-04-19 21:27] kerneltime commented on #170
There 2 kinds read only and new datasets. If developers modify a dataset it is a new version.
Ephemeral volumes should work and for scaling the number of volumes (millions over a few months for the same etcd process) it might be the only scalable way.

[2019-04-23 22:49] msau42 commented on #41
/close

[2019-04-23 22:49] #41 closed

[2019-04-24 23:44] msau42 commented on #90
@clintonk is this still an issue? What version of Kubernetes are you using?

At least in latest Kubernetes, it should check that the volume is already mounted and [return early](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L284)

[2019-04-24 23:54] #224 closed

[2019-04-25 01:05] msau42 commented on #20
I believe this has been addressed by https://github.com/kubernetes-csi/external-provisioner/pull/234
/close

[2019-04-25 01:05] #20 closed

[2019-04-25 07:50] miaowing commented on #86
How portworx openstorage get pvc annotations in csi driver?

pvc:

[code]

csi controller server:

[code]

server:

[code]

[2019-04-25 16:00] msau42 commented on #128
From the linked bug it sounds like the problem is with the suse build.
/close

[2019-04-25 16:00] #128 closed

[2019-04-25 16:02] msau42 commented on #117
/remove-lifecycle stale

[2019-04-26 01:31] msau42 commented on #144
/remove-lifecycle stale
/lifecycle frozen

[2019-04-26 01:31] msau42 commented on #144
/help

[2019-04-28 12:31] hoyho commented on #127
update reference of csi spec:
https://github.com/container-storage-interface/spec/blob/c3707a60a2d4a0a684ba342c048534defb74853d/csi.proto#L418

[code]

[2019-04-29 09:33] pohly commented on #86
I think they use a fork of `external-provisioner` for this. @lpabon might be able to confirm that.

@kerneltime mentioned another `external-provisioner` fork here: https://github.com/kubernetes-csi/external-provisioner/issues/170#issuecomment-485008849

My take on this: when multiple people come to the conclusion that they need to fork `external-provisioner` to implement their use cases, then this

[2019-04-29 09:59] pohly commented on #127
@hoyho so this still is an issue, right?

/remove-lifecycle stale

[2019-04-29 10:29] hoyho commented on #127
yes, i think we need to consider unknown size

[2019-04-29 12:54] jsafrane commented on #67
PV name should be "computable" from PVC, so multiple provisioners create the same PV name (and get conflict if there are multiple provisioners running accidentally). I am not sure "-fviwm" can be generated from PVC so PVCs with the same name in different namspaces would not conflict - there may be thousands of them and we don't want any conflict here. UID is assigned by the cluster and is guarante

[2019-04-29 15:56] lpabon commented on #233
@msau42 @liggitt and I just met to discuss a set of requirements for this issue, and after discussion, we noticed that the proposal above to support pvc name and pvc namespace as templates satisfy the requirement.

This will allow the cluster administrator to support the following scenarios:

1. Users create a single secret for all their PVCs in the same namespace with a certain name given to them

[2019-04-29 16:06] msau42 commented on #233
It's also important to note that if the secret for deletion is in the same namesapce as the PVC, then it might be possible for the secret to be deleted before the PV is deleted. In that case, manual intervention is needed to manually delete the volume.  This should be documented as a warning. One possible way to address this is to have the user also put a finalizer on that secret.  But then someth

[2019-05-15 20:33] gnufied opened #278 "Update external-provisioner to set resize secrets on resizing when necessary"
Since we added https://github.com/kubernetes/kubernetes/pull/77516, we need to make sure that volume resizing secrets are set in `CSIPersistentVolumeSource` whenever they are created.

cc @leakingtapan

[2019-05-17 02:23] #170 closed

[2019-05-17 02:23] #233 closed

[2019-05-17 13:24] xing-yang opened #280 "Need to check VolumeContentSource if creating volume from snapshot"
In Provision, we should check if VolumeContentSource is populated if creating volume from snapshot is successful and log event to indicate its status.

Note: This needs to be fixed in the CSI hostpath driver first.  Otherwise, CI won't pass.
https://github.com/kubernetes-csi/csi-driver-host-path/issues/50

[2019-05-20 19:13] clintonk commented on #90
@msau42 Yes, I still observe this issue with Kubernetes 1.13 and the associated 1.0.x sidecars.  I will retest with 1.14+.

[2019-05-28 06:21] leakingtapan commented on #202
/remove-lifecycle stale

[2019-05-29 19:42] yasker commented on #130
https://github.com/kubernetes-csi/external-provisioner/tree/master/deploy/kubernetes has been updated to use deployment.

[2019-05-29 19:42] #130 closed

[2019-05-30 21:13] ggriffiths commented on #278
@gnufied Does this issue still need to be worked on? If so, I can take look.

[2019-05-31 22:48] verult opened #285 "Different permissions between provisioner roles in example and k8s"
The RBAC permissions listed in the provisioner role in the example are different from those bundled into k8s:
https://github.com/kubernetes/kubernetes/blob/4e397d971a72f5bc6dbffbacca7297f17e17c572/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L503

Should they be different? Should most users just use the built-in role?

[2019-06-03 06:38] pohly commented on #285
See https://github.com/kubernetes-csi/external-attacher/issues/151#issuecomment-498131047

[2019-06-04 21:35] #221 closed

[2019-06-05 18:22] #285 closed

[2019-06-10 03:57] zhangxiaoyu-zidif opened #289 "Are there any attentions or tips when I update CSI v0.3 to v1.0"
Are there any attentions or tips when I update CSI v0.3 to v1.0

Recently, we plan to update our kubernetes from v1.12 to v1.14 and CSI related components from v0.3 to v1.14, is there some notice about those updates?

[2019-06-10 14:25] msau42 commented on #289
Try looking at the hostpath CSI driver as an example of a 1.14 deployment

[2019-06-11 09:49] zhangxiaoyu-zidif commented on #289
@msau42 Many thanks~ I will try it~

[2019-06-13 08:36] Madhu-1 opened #291 "Failed to start external-provisoner when leader-election-type=leases"
roles  associated with external-provisioner
[code]
### logs for using `leader-election-type=leases`:
[code]
### logs for using `leader-election-type=endpoints`:
[code]

image used for testing is `quay.io/k8scsi/csi-provisioner:v1.2.0`

[2019-06-13 08:36] Madhu-1 commented on #291
cc @jsafrane

[2019-06-13 10:34] Madhu-1 commented on #291
failed with kube 1.13.0

[2019-06-13 17:41] msau42 commented on #291
I think you need 1.14 to use leases

[2019-06-13 17:42] gnufied commented on #278
@ggriffiths yes this issue still needs to be worked on.

[2019-06-14 03:43] Madhu-1 commented on #291
@msau42 yes you are correct, can we use deployment with kube1.13?

[2019-06-17 22:35] verult opened #295 "Prefix leader election lock name with "external-provisioner-leader""
CSI has many controllers with leader election functionality. It's best to disambiguate between all the different locks used for LE with a provisioner-specific prefix.

However, a rolling upgrade to a version that includes the change will result in the possibility that two different locks are used at a given time, resulting in two leaders temporarily.

Should this be reconsidered when 2.0 rolls out

[2019-06-17 23:28] msau42 commented on #295
We should make lock namespace configurable too.

[2019-06-17 23:29] msau42 commented on #295
We can make it an option to not break backwards compatibility.

/kind feature

[2019-06-18 02:16] verult commented on #295
For a small bug like this I don't think adding a new flag option is justified. It could potentially make the provisioner a little harder to use, and exposing anything in the user interface carries some permanence.

I'm personally OK with leaving the fix until 2.0, and make sure every other CSI controller prefixes before moving to 1.0.

[2019-06-18 06:00] Madhu-1 commented on #291
@msau42 @jsafrane is it possible to use leader election with kube 1.13?

[2019-06-18 17:43] msau42 commented on #291
I think you can use non-lease leaderelection in 1.13.  Although there is a bug that 2 layers of leader election is started, one in csi provisioner and one in external provisioner lib.  This might be ok if csi provisioner and lib use the same lock.  xref: https://github.com/kubernetes-csi/external-provisioner/pull/296

[2019-06-20 01:14] #278 closed

[2019-06-20 02:45] msau42 commented on #164
Fixed by #188
/close

[2019-06-20 02:45] #164 closed

[2019-06-20 02:47] msau42 commented on #187
Volume expansion is provided by the external-resizer now.
/close

[2019-06-20 02:47] #187 closed

[2019-06-20 02:48] msau42 commented on #256
/lifecycle frozen
/help

[2019-06-20 02:48] msau42 commented on #256
/kind cleanup

[2019-06-20 02:49] msau42 commented on #252
/lifecycle frozen

[2019-06-20 02:50] msau42 commented on #213
Per PVC secret templating was added in https://github.com/kubernetes-csi/external-provisioner/pull/274
/close

[2019-06-20 02:50] #213 closed

[2019-06-20 02:52] msau42 commented on #39
/lifecycle frozen

[2019-06-20 03:02] msau42 commented on #87
This is a question for the CSI spec.

Related discussions:
https://github.com/container-storage-interface/spec/issues/29
https://github.com/container-storage-interface/spec/issues/216
https://github.com/container-storage-interface/spec/issues/167

[2019-06-20 03:03] msau42 commented on #87
/close

[2019-06-20 03:03] #87 closed

[2019-06-20 03:05] msau42 commented on #89
There have been various fixes to timeouts and retries in the external-provisioner in the 1.1 release: https://github.com/kubernetes-csi/external-provisioner/blob/master/CHANGELOG-1.1.md.  Please try 1.1+ and see if that fixes your issue.

/close

[2019-06-20 03:05] #89 closed

[2019-06-20 03:06] msau42 commented on #90
/remove-lifecycle rotten

[2019-06-20 03:07] msau42 commented on #100
/close

Will reconsider after we have better scale testing in place

[2019-06-20 03:07] #100 closed

[2019-06-20 03:10] msau42 commented on #176
/lifecycle frozen

We can consider enhancing the StorageProtection feature to also prevent PV deletion while a volume is still attached. cc @jsafrane

[2019-06-20 03:12] msau42 commented on #199
/lifecycle frozen

We should come to a conclusion on what we want to do here wrt rounding

[2019-06-20 03:20] msau42 commented on #153
Unsure if we want to pursue this. General Kubernetes design principle is to reconcile forever, and in this case StorageClass could be updated to make provisioning succeed again.  Provisioning errors should be sent as events to the PVC already.

/close

[2019-06-20 03:20] #153 closed

[2019-06-20 03:43] msau42 commented on #222
I believe https://github.com/kubernetes-csi/external-provisioner/pull/274 does this now and passes no secret on delete if it can't find it.

/close

[2019-06-20 03:43] #222 closed

[2019-06-20 03:44] msau42 commented on #47
Is this still an issue?

[2019-06-20 03:47] msau42 commented on #289
Also see https://github.com/container-storage-interface/spec/releases/tag/v1.0.0 for full list of breaking changes.

And look at each sidecar page under https://kubernetes-csi.github.io/docs/sidecar-containers.html to see which version of the sidecar we recommend you use with which K8s release.

/close

[2019-06-20 03:47] #289 closed

[2019-06-20 03:48] msau42 commented on #269
We don't use it in Kubernetes currently.

[2019-06-20 03:49] msau42 commented on #223
/close

[2019-06-20 03:49] #223 closed

[2019-06-20 03:50] msau42 commented on #184
/close

[2019-06-20 03:50] #184 closed

[2019-06-20 03:50] msau42 commented on #172
Implemented by #220
/close

[2019-06-20 03:50] #172 closed

[2019-06-20 03:52] msau42 commented on #127
/kind bug

[2019-06-27 08:44] #214 closed

[2019-07-01 12:56] Madhu-1 opened #308 "cannot create PVC with datasource=PersistentVolumeClaim when clone PVC and source PVC storageclass name is same"
logs:

`
/rbd-pvc-restore"
I0701 12:39:00.779025       1 controller.go:979] Final error received, removing PVC 1e98da4d-49d2-41b2-9c16-b9a7784caa38 from claims in progress
W0701 12:39:00.779060       1 controller.go:886] Retrying syncing claim "1e98da4d-49d2-41b2-9c16-b9a7784caa38", failure 3
E0701 12:39:00.779093       1 controller.go:908] error syncing claim "1e98da4d-49d2-41b2-9c16-b9a7784caa38

[2019-07-04 06:52] pohly commented on #257
/remove-lifecycle stale

[2019-07-04 12:20] ShyamsundarR opened #311 "PVC deletion results in leaked volume on the storage provider, if CreateVolume never completed in time"
I am facing an issue with the kubernetes CSI provisioner sidecar that leads to a volume leak on Ceph, the nature of things are as follows,

1. Create a PVC (pointing to a CSI provisioner, in my case ceph-csi)
2. Ensure the request CreateVolume made by the provisioner sidecar will always timeout
  - IOW, ensure it does not succeed till the test is complete (I did this with a simple sleep that was m

[2019-07-04 12:21] ShyamsundarR commented on #311
@jsafrane marking this for your attention.

[2019-07-07 13:52] ShyamsundarR commented on #311
It looks like csi external-provisioner [1] has not implemented the `ProvisionerExt` interface [2], that is meant to track the states of provisioning and take appropriate actions (try till error/success and delete if PVC is deleted). Hence, result from CSI on timeout failures would always be `ProvisioningFinished` from this [piece of code](https://github.com/kubernetes-sigs/sig-storage-lib-external

[2019-07-08 11:27] ShyamsundarR commented on #311
Tested with an implementation of `ProvisionerExt` interface in the external-provisioner code and the required DeleteVolume requests are called on PVC deletion. The changes are present here (https://github.com/ShyamsundarR/external-provisioner/commit/6a23bad8b09d3e33f93b182740f3fa8720501e2d). (IOW, provisioner is attempting creates till it got an error or a success, and then later deletes the creat

[2019-07-08 11:57] jsafrane commented on #311
This is embarrassing, I forgot to push the last patch in my provisioner refactoring sequence :-).

See #312

[2019-07-08 21:46] j-griffith commented on #308
Cloning across storage classes is intentionally unsupported, I've added a note to the csi docs to clarify a bit and make sure this is clear.  https://github.com/kubernetes-csi/docs/pull/181

[2019-07-09 04:16] Madhu-1 commented on #308
@j-griffith the issue I faced was cloning within the same storageclass

[2019-07-09 13:12] j-griffith commented on #308
@Madhu-1 Could you provide some detail in the bug report; you have the logs here which is great, but that just says source/destination sc's differ.  There's now way I could have known that you were using the same sc there.  So it's a dereference issue it looks like?

[2019-07-09 16:36] Madhu-1 commented on #308
@j-griffith yes the issue is with storageclass name comparison

[2019-07-15 08:13] #311 closed

[2019-07-20 04:39] #47 closed

[2019-07-22 10:44] #127 closed

[2019-07-24 18:54] msau42 commented on #117
CSI CreateVolumeResponse does not have access mode.  The assumption is that the volume provisioned must be able to support ALL the capabilities that were passed in the request.
[code]

So I think #133 is all we need for the fix.

/close

[2019-07-24 18:54] #117 closed

[2019-07-27 17:51] taherv commented on #86
@jsafrane This argument does not work for the enterprise. The problem of how to use a filesystem efficiently for any given application is complex, and discerning enterprise admins know more about their application than any orchestrator/storage vendor can.
Not only is the choice of filesystem important, but to make matters worse, each filesystem has tradeoffs between integrity and performance. We h

[2019-08-05 21:11] mucahitkurt commented on #144
I'm working on this issue. cc @msau42

[2019-08-07 09:06] #291 closed

[2019-08-07 09:11] Madhu-1 opened #321 "Provisioner logging PVC related info which are created by other drivers"
am not sure this is a bug, want to know is this expected?

currently, we have 2 CSI drivers running if I create a PVC with one driver am seeing logs of the created PVC in another external-provisioner container. is this expected?

logs from  external-provisoner container of driver 2:
[code]

note `PVC 48ad3135-eea5-44fb-9586-48e598357100` is created/processed by another driver.

logs from the exter

[2019-08-07 09:11] Madhu-1 commented on #321
CC @jsafrane @msau42

[2019-08-07 21:43] msau42 commented on #321
@jsafrane does https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/53 address this?

[2019-08-07 21:59] #308 closed

[2019-08-08 07:15] GongWilliam opened #322 "after concurrent create 100 PVCs external-provisioner crash"
after concurrent create 100 PVCs external-provisioner crash.
the sidecar use leader-election (lease)

I change the work-thread number to 4, it works!
so the question is: is my cpu  too weak or the default number of work-thread too big? why set 100 to the default number of work-thread ?

[2019-08-08 22:21] #245 closed

[2019-08-09 01:04] msau42 commented on #322
cc @jsafrane do we really need default worker thread count to be so high?

[2019-08-12 08:54] jsafrane commented on #322
100 was requested by @saad-ali in https://docs.google.com/document/d/1wyq_9-EFsr7U90JMYXOHxoJlChwWXJqWsah3ctmuDDo/edit?disco=AAAACevk7-4

We do not need 100, but then we need to make up another number.

@GongWilliam, what CSI driver do you use? Can you check *why* the provisioner crashed?

I created 500 PVCs with mock driver and I got them provisioned (with lot of API server throttling) in ~4 minu

[2019-08-13 13:30] Madhu-1 opened #328 "Make fstype configurable while starting the external-provisioner"
currently in external-provisioner fstype is set to `ext4` if nothing is passed in storage-class, we have a requirement to make it configurable so that the SP who is using the external-provisioner can choose the default fstype which they want to have it. This will avoid always mentioning of the fstype in the storage-class.

 in rbd csi plugin, we have seen better performance with `xfs` type, as ext

[2019-08-13 13:31] Madhu-1 commented on #328
@humblec FYI

[2019-08-13 13:32] humblec commented on #328
/assign @msau42
/assign @jsafrane

[2019-08-13 14:43] msau42 commented on #328
I don't think fstype should be defaulted at all. There are filer types like nfs that expect a "" as the fstype

[2019-08-13 14:51] humblec commented on #328
@msau42 As @Madhu-1 mentioned, fstype is set to `ext4`  in sidecar container if not passed in SC param  https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L437 , so the only way to get around this is via `SC` parameter which is actually on overhead as all SC has to set this field.

[2019-08-13 14:53] msau42 commented on #328
That doesn't seem right. Filer types like nfs/gluster/ceph should be failing when they validate fstype

[2019-08-13 14:55] msau42 commented on #328
See https://github.com/kubernetes/kubernetes/issues/65122

[2019-08-13 14:58] humblec commented on #328
Have to go through in detail, but at glance , CSI pv source has been corrected. This has to be corrected here too. Isnt it ?

[2019-08-13 15:00] msau42 commented on #328
Yes I don't think external provisioner should default. Now the question is will we break drivers that expect a non empty value? Need to double check CSI spec wording in this

[2019-08-13 15:02] humblec commented on #328
Yeah, we have to cross check on this, and also ( may be ) on backward compatibility of sidecar  ?

[2019-08-14 18:08] saad-ali opened #329 ""PV created" log message too verbose"
**Problem**
Today when a PV is created the external-provisioner logs the entire PV object volume source:

https://github.com/kubernetes-csi/external-provisioner/blob/c098da646c86fab4680cb12e8e3eee5fb62976ab/pkg/controller/controller.go#L620

This is pretty verbose and can fill up logs fast if you are creating a lot of disks (the person who complained about this is creating 1000s of disks per day).

[2019-08-14 18:44] msau42 commented on #329
/help

[2019-08-14 21:10] saad-ali opened #330 "Improve Deletion Secret Handling"
Today, the external-provisioner will look at StorageClass for deletion secret. If the secret does not exist, delete is called any way.

The problem is that the StorageClass may be deleted or mutated (deleted and recreated with different parameters). This will result in volumes being unable to delete. Ideally we want the deletion secret on the PV object. However, @liggitt pointed out that this woul

[2019-08-15 02:56] GongWilliam commented on #322
the crash because the provisioner can not aquire the lease and then it quit, wait for the kubelet wake it up.

[2019-08-15 07:15] zhucan commented on #322
I also encountered the same problem. after concurrent create 50 PVCs external-provisioner crash.
Because I set the 'csi.storage.k8s.io/provisioner-secret-name' & 'csi.storage.k8s.io/provisioner-secret-namespace' in  the storageclass @jsafrane @GongWilliam

[2019-08-15 07:39] hoyho commented on #322
Perhaps it will happen when there's too many thread have operation(read/write) on ConfigMap concurrently

[2019-08-15 13:52] msau42 commented on #322
Is there any stacktrace of the crash?

[2019-08-16 03:24] zhucan commented on #322
logs:
 provision "default/csi-pvc48" class "expand-sc": started
I0816 11:20:29.842122       1 controller.go:596] successfully created PV {GCEPersistentDisk:nil AWSElasticBlockStore:nil HostPath:nil Glusterfs:nil NFS:nil RBD:nil ISCSI:nil Cinder:nil CephFS:nil FC:nil Flocker:nil FlexVolume:nil AzureFile:nil VsphereVolume:nil Quobyte:nil AzureDisk:nil PhotonPersistentDisk:nil PortworxVolume:nil Scal

[2019-08-20 15:52] venkatsc opened #332 "Missing Controller Expand Secret in PV"
Hi,

For dynamically provisioned volumes, the PV is not appended with [ControllerExpandSecretRef](https://github.com/kubernetes-csi/external-provisioner/blob/5c5deb3b10799df512d7ab151f20d94b9d803218/pkg/controller/controller.go#L578).

Kubernetes version: v1.15.1
external-provisoner: v1.3.0

**StorageClass definition**
[code]
**Created PV** with dynamic provisioning
[code]
Could it possibly due to

[2019-08-20 17:59] msau42 commented on #332
/assign @gnufied

[2019-08-20 17:59] msau42 commented on #332
/kind bug

[2019-08-20 18:01] gnufied commented on #332
Did you had `ExpandCSIVolumes` feature gate enabled in 1.15 cluster? Because setting that field requires the feature gate to be enabled. This will change in 1.16 though

[2019-08-20 19:55] #329 closed

[2019-08-21 02:38] zhucan opened #333 "volume cloning failed"
k8s version: v1.15.0
external-provisioner(Previous use): v1.1.0
external-provisioner(Use now)：1.3-canary

Describe:
I had create a pvc by external-provisioner (version is v1.1.0), because of that v1.1.0 doesn't support clone so I upgrade it to 1.3-canary, When I try to create cloned volume, there are some errors :
` failed to provision volume with StorageClass "expand-sc": error getting handle for

[2019-08-21 02:40] zhucan commented on #333
@j-griffith

[2019-08-21 03:04] zhucan commented on #333
@j-griffith I think I know the reason for the error because of that in the old yaml that I set the SC in metadata.annotations but in the clone yaml that I set the SC in spec with storageClassName. I think it is a bug

[2019-08-21 10:56] venkatsc commented on #332
yes, this feature gate is enabled on kubelet. In fact, `ControllerExpandVolume` is called without secrets. And also, there are no checks in the provisioner on this feature gate while creating PV.

With log level 5, the below PV [creation success is logged in the provisioner](https://github.com/kubernetes-csi/external-provisioner/blob/27750ab12343e6b5d6ed1e277b161aa45bc02cfd/pkg/controller/controll

[2019-08-21 14:12] gnufied commented on #332
Since external-provisioner is creating PV with secrets but secrets are not being applied to it, I would double check if aformentioned feature-gate is enabled on api-server.  Here is PR that added support for adding secrets during PV creation for volume expansion - https://github.com/kubernetes-csi/external-provisioner/pull/301/files

The other thing is - we do not check for feature-gates in sideca

[2019-08-21 14:31] j-griffith commented on #333
You have to have a storage class... if you do a describe on the source pvc is needs to be the same.  Going between versions of your ebs provisioner shouldn't matter, the only dependencies on the source object is the kubernetes object itself, primarily the storageClass parameter

[2019-08-21 15:00] venkatsc commented on #332
Thank you @gnufied. Enabling the feature gate on api-server, kube-controller, and kubelet did the work!

[2019-08-21 15:00] #332 closed

[2019-08-22 06:21] zhucan commented on #333
I think that it's matter to provisioner version， I have described the SC on the src pvc is same as des pvc, but creating the cloned volume failed, because of that it check the SC in the spec with storageClassname.

**Cloned volume yaml:**

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-class: expand-sc
    volume.beta.kubernetes.io/storage

[2019-08-28 14:32] Madhu-1 commented on #321
@msau42 looks like  kubernetes-sigs/sig-storage-lib-external-provisioner#53 fixes this and   kubernetes-sigs/sig-storage-lib-external-provisioner#53 is merged to master,  we are using v.4.0.0 sig-storage-lib-external-provisioner in external-provisioner

[2019-08-30 23:00] leakingtapan commented on #202
/remove-lifecycle stale

[2019-09-03 11:42] jianglingxia opened #336 "build make failed with provisioner"
[root@LIN-FE325E0FEA1 provisioner]# make
mkdir -p bin
CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-X main.version=94886ea09469e1e00e2473672e122346dd871188 -extldflags "-static"' -o ./bin/csi-provisioner ./cmd/csi-provisioner
# provisioner/cmd/csi-provisioner
cmd/csi-provisioner/csi-provisioner.go:184:42: cannot use clientset (type *"provisioner/vendor/k8s.io/client-go/kubernetes".Clientset) as

[2019-09-04 05:30] Madhu-1 commented on #336
@jianglingxia I didn't face any issue with the latest master.

[2019-09-05 01:39] msau42 commented on #67
/remove-lifecycle rotten

[2019-09-05 01:51] msau42 commented on #328
/kind bug

[2019-09-05 01:52] msau42 commented on #321
/kind bug

[2019-09-05 14:01] mcronce commented on #67
@msau42 Thanks!

[2019-09-05 16:07] msau42 commented on #328
I spoke with @jsafrane and he suggested we add a `--default-fs` flag, which defaults to `ext4` and then immediately deprecate it. When we have a 2.0, we can remove the defaulting behavior.

Does this sound reasonable to you? Would you have time to work on this?

[2019-09-05 16:10] jsafrane commented on #328
Well, we could have `--default-fs` flag, with `"ext4"` as default and then change the default to `""` after a long enough "deprecation" period - the flag would not be removed, just its default would change.

[2019-09-05 16:14] msau42 commented on #328
I prefer having the external provisioner not default anything at all and leave it entirely up to the plugin

[2019-09-05 20:57] msau42 commented on #144
I think Nodes are updated less frequently now that the heartbeats are in a separate object. It should be fine to have a Node informer now, and could help reduce API server load in large clusters if we don't have to List all nodes for every provision operation.

[2019-09-06 06:26] humblec commented on #328
Sure.

Sure. will work on this. thanks!

[2019-09-06 23:56] #195 closed

[2019-09-10 16:04] #280 closed

[2019-09-12 11:18] jsafrane opened #340 "Migrated PVs are provisioned when migration is off"
In AWS cluster with all alpha features off and AWS EBS CSI driver installed, the CSI driver provisions also PVs for in-tree storage class.

The CSI driver should provision only volumes for the driver (ebs.csi.aws.com) and not for `kubernetes.io/aws-ebs`, because Kubernetes in-tree volume plugin provisions a volume too.

Storage class:
[code]

Claim:
[code]

CSI provisioner log:

[code]

Provisione

[2019-09-13 07:50] #340 closed

[2019-09-16 18:57] verult commented on #295
/remove-lifecycle stale

[2019-09-18 16:27] msau42 commented on #90
/lifecycle frozen

[2019-09-18 16:29] msau42 commented on #90
Need help on repro + investigation
/help

[2019-09-18 16:29] msau42 commented on #90
Actually this bug should be reported to k/k, not external-provisioner

[2019-09-18 16:30] msau42 commented on #90
/help cancel

[2019-09-18 16:33] msau42 commented on #90
Opened https://github.com/kubernetes/kubernetes/issues/82838 for tracking. closing this one

[2019-09-18 16:33] #90 closed

[2019-09-19 05:19] msau42 commented on #321
@jsafrane can you help update the lib-provisioner dependency to get the fix?
/assign @jsafrane

[2019-09-19 05:25] msau42 commented on #322
It sounds like the default 100 threads is too much for machines with fewer cores. Capturing a CPU/memory profile during stress I think would be useful to compare different values.  I think lowering the default is reasonable, but we will need to wait until we're ready for a 2.0 as changing the default is a breaking change.

For now, you can set the --worker-threads flag lower as needed.

[2019-09-23 05:37] #176 closed

[2019-10-02 15:57] #321 closed

[2019-10-03 00:22] msau42 commented on #257
/lifecycle frozen
Technically this is a breaking change, let's consider doing this when we need to do a major version bump

[2019-10-04 00:58] msau42 commented on #295
/lifecycle frozen

[2019-10-04 01:13] msau42 commented on #269
/close
We're looking to add it in external-attacher in order to reconcile attach state, but still no plans to use it in provisioner atm.

[2019-10-04 01:13] #269 closed

[2019-10-16 10:12] deitch commented on #195
Aha. I had been looking for this, almost opened a new issue.

1. Create a `pvc`, which automatically creates a `pv` and calls `CreateVolume`
1. Delete the `pv`, which puts it in `Terminating` state and awaits the `pvc`'s deletion because of protection.
1. Delete the `pvc`, the `pv` is deleted, but `DeleteVolume` never is called, leaving the volume hanging around

FYI, I tried this right up against

[2019-10-16 21:19] davidz627 opened #370 "Pass k8s API metadata through parameters in CreateVolume"
/kind feature

There is a use case for passing in k8s API metadata through parameters in CreateVolume. For example this information could be used by drivers to label underlying resources and associate them with k8s objects.

This could be done through a reserved parameter namespace e.g. `kubernetes.io/pvc.name`, `kubernetes.io/pvc.namespace`
It could be enabled by a flag so that it is not a breaki

[2019-10-16 21:20] davidz627 commented on #370
existing tags in k8s for PD are of the form:
`kubernetes.io/created-for/pv/name`
`kubernetes.io/created-for/pvc/name`
`kubernetes.io/created-for/pvc/namespace`

[2019-10-17 07:00] jsafrane commented on #370
There is long discussion in https://github.com/kubernetes-csi/external-provisioner/issues/86.

Technically, I would perhaps reuse expansion introduced in https://github.com/kubernetes-csi/external-provisioner/pull/69 to all parameters, so it's more obvious.  Passing PVC name + namespace + PV name would not harm. Passing PVC annotations (as introduced by the PR) is a topic for discussion, as it mak

[2019-10-17 18:22] davidz627 commented on #370
I would like to avoid the sticky topic of passing in annotations and just get the parameters for PVC name, namespace, PV name for now. Wondering if anyone is working on that or if I wanted to use it in the near future if I would have to pick that up :)

[2019-10-18 07:42] jsafrane commented on #370
Nobody that I know about. However, it *should* be a relatively simple PR, right? All the variable expansion is already done, we just need to extend it to all `storageClass.parameters`.

[2019-10-18 17:19] davidz627 commented on #370
I will pick it up
/assign

[2019-10-23 08:05] zhucan opened #373 "volumeID is not enough as a parameter for the function such as "DeleteVolume & NodeUnpublishVolume""
For example:
Because of that when deleting volume, we want to know where is the storage( about the storage's URL、username and password for login storage),  I think it's needed to pass additional parameters as same as CreateVolume and NodePublishVolume.

[2019-10-23 08:05] zhucan commented on #373
@msau42

[2019-10-23 10:39] zhucan commented on #308
@j-griffith Are we considering supporting clones that boast storage pools? or cloning across storage classes

[2019-10-26 01:14] msau42 opened #374 "Cache cluster topologies"
Once we move CSINode and Node to informers, we could potentially cache the topologies available in the cluster instead of having to List() and iterate through them every time we provision.

/kind feature

[2019-10-26 05:19] #144 closed

[2019-10-28 11:13] pohly commented on #86
/remove-lifecycle stale

[2019-10-29 21:30] mrbobbytables opened #375 "Clean up outside collaborators"
Hey there @kubernetes-csi/external-provisioner-admins ,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed th

[2019-10-29 23:40] #375 closed

[2019-10-30 21:56] msau42 opened #376 "Refactor controller_tests to use builder pattern"
Provision and snapshot tests have a lot of logic built into the test case itself to construct input objects to the functions. For examples:
https://github.com/kubernetes-csi/external-provisioner/blob/16a2da32e052db2e2eaa31d51b70b202a9b39319/pkg/controller/controller_test.go#L1487
https://github.com/kubernetes-csi/external-provisioner/blob/16a2da32e052db2e2eaa31d51b70b202a9b39319/pkg/controller/con

[2019-10-30 21:56] msau42 commented on #376
/help
/kind cleanup

[2019-11-11 03:52] #373 closed

[2019-11-13 02:28] msau42 commented on #330
/lifecycle frozen

[2019-11-13 19:41] msau42 opened #380 "CVE-2019-11255: CSI restore from snapshot and cloning features can result in unauthorized volume data access"
Overall tracking issue: https://github.com/kubernetes/kubernetes/issues/85233

Fixed in:

1.4.0: https://github.com/kubernetes-csi/external-provisioner/pull/352
1.3.1: https://github.com/kubernetes-csi/external-provisioner/pull/354
1.2.2: https://github.com/kubernetes-csi/external-provisioner/pull/355
1.0.2: https://github.com/kubernetes-csi/external-provisioner/pull/357
0.4.3: https://github.com/

[2019-11-14 19:12] msau42 commented on #380
/close

[2019-11-14 19:12] #380 closed

[2019-11-14 19:33] mucahitkurt commented on #374
@msau42 I think this refers to [these lines of codes](https://github.com/kubernetes-csi/external-provisioner/blob/0c56ab07a68cbe7b186d96f2afa8e00b5895066b/pkg/controller/topology.go#L372-L391)?

If I understand correctly, we would like to cache topology key/value pairs for a cluster, and they are all node labels, so we should cache all node labels and then select according to requested topology ke

[2019-11-20 10:55] cyb70289 opened #381 "Support multi-arch image"
Current csi-provisioner image is only for x86(same for other projects under kubernetes-csi).
It makes it hard to deploy k8s storage cluster on other architectures like Arm.

It's better to build multi-arch image which works seamlessly on both Arm and x86. Similar job has been started on cephcsi project. As cephcsi depends on k8scsi containers, we would like to add multi-arch support to k8scsi cont

[2019-11-20 10:56] Madhu-1 commented on #381
cc @pohly @msau42

[2019-11-26 09:00] zhucan commented on #333
@j-griffith  @msau42  @xing-yang   I think if the "sourcePVC.Spec.StorageClassName" is nil, we can get the StorageClassName from pv as same as the external-snapshotter when cloning.

**external-provisioner:**
https://github.com/kubernetes-csi/external-provisioner/blob/0c56ab07a68cbe7b186d96f2afa8e00b5895066b/pkg/controller/controller.go#L741
**external-snapshotter:**
https://github.com/kubernetes-

[2019-11-26 12:36] xing-yang commented on #333
@j-griffith @msau42 @jsafrane do we require sourcePVC.Spec.StorageClassName to be not nil?  What if sourcePVC is created by static-binding?

[2019-11-26 14:54] msau42 commented on #333
I think storageclass should be required so that it still counts against quota. do we also validate capacity of new PVC is >= datasource? We should make sure restore from snapshots behavior also works with quota.

[2019-11-26 17:19] jsafrane commented on #333
Another thing is that the provisioner/cloner needs to know what kind of volume to provision. It would not be possible to distinguish in `CreateVolume` CSI call with empty parameters between "provision with no parameters" and "provision the same volume type as the original".

[2019-11-26 23:53] msau42 commented on #374
Yes, basically anytime we have to list, like [here](https://github.com/kubernetes-csi/external-provisioner/blob/0c56ab07a68cbe7b186d96f2afa8e00b5895066b/pkg/controller/topology.go#L321) also.

The performance benefit should theoretically show up when: 1) you have a lot of nodes and 2) you have very few topologies compared to nodes (like zones). But agree, it may be good to write a performance benc

[2019-12-04 03:09] msau42 commented on #328
@humblec do you still have time to work on this?

[2019-12-05 04:04] msau42 commented on #333
/assign @j-griffith
/remove-lifecycle stale

[2019-12-05 05:13] j-griffith commented on #333
One of the requirements for "smart" cloning was that the source and destination must be in the same storage class.  That's the only way we can make sure that we provide an expected result (ie filesystem, iop settings, pool-type etc).  The only way to be sure of that was to compare the storage-classes between the two objects.

We did not consider the case of using the old annotation style for speci

[2019-12-05 05:44] zhucan commented on #333
@j-griffith If we create the pvc with the old volume.beta.kubernetes.io/storage-class, the pvc can be cloned. whether we have plan to check for the volume.beta.kubernetes.io/storage-class.

[2019-12-05 07:20] lpabon opened #384 "A single "default" storage class secret"
## Current Issue

Currently storage classes have each operation have a reference to the secret:

[code]

See [Docs](https://kubernetes-csi.github.io/docs/secrets-and-credentials-storage-class.html#multiple-operation-secrets)

## Proposal

To have a default that can be overridden by the specific operation secret references, that way as new operations are supported, we do not need to have a large se

[2019-12-05 07:26] zhucan commented on #384
@lpabon +1 I think all of the operation can use the secret.

[2019-12-09 18:16] msau42 commented on #384
https://github.com/kubernetes-csi/external-provisioner/issues/245

[2019-12-10 02:52] msau42 commented on #328
/help

[2019-12-10 09:37] humblec commented on #328
@msau42 sure, let me put this in my todo list .

[2019-12-11 01:56] msau42 opened #385 "Update to use v1.CSINode"
This change will require a major version bump because we would have to bump the min K8s version to 1.17 when the object was introduced.

We should make this change at least 1, if not 2 releases before the v1beta gets removed from Kubernetes.

/lifecycle frozen

[2019-12-12 14:48] mcronce commented on #67
This is still needed.

[2019-12-12 15:34] hoyho commented on #67
/remove-lifecycle rotten

[2019-12-17 14:31] taaraora commented on #384
I've started working on this feature.

[2019-12-18 12:34] prateekpandey14 commented on #202
/remove-lifecycle stale

[2019-12-20 16:32] bertinatto commented on #256
/assign

[2020-01-02 17:43] #256 closed

[2020-01-09 02:30] davidz627 opened #394 "Build is not using vendor/ folder"
The default build using the `Makefile` and thus the `release-tools/build.make` file is not building with the vendor directory using `-mod=vendor` as a build flag. I assume since we're maintaining a vendor directory that this is something we want to do.

[2020-01-09 02:30] davidz627 commented on #394
/cc @msau42 @pohly

[2020-01-09 02:34] msau42 commented on #394
In travis and prow, it is setting -mod=vendor if it detects a vendor directory: https://github.com/kubernetes-csi/external-provisioner/search?q=GOFLAGS_VENDOR&unscoped_q=GOFLAGS_VENDOR

I'm not sure if there was any arguments for/against dev builds defaulting to build from vendor or not

[2020-01-09 07:50] pohly commented on #394
The rationale for the current setup was that developers can decide for themselves whether they want to use the vendored sources. IMHO they benefit less from it because typically sources will get cached automatically on their development machine (which isn't the case in the CI) and it might be less convenient when changing dependencies. I think builds fail when adding a new dependency and then buil

[2020-01-11 02:40] davidz627 commented on #394
I don't think that CI build env should differ significantly from the dev build env if it can be avoided. This causes confusion.

[2020-01-11 22:06] bswartz opened #395 "Nil-pointer dereference when deleting volume"
This happens on HEAD/canary. If you use a CSI driver that doesn't support topology, and create a storage class with CSI secrets, and create a volume, then later try to delete that volume, the sidecar panics.

<pre>I0111 22:01:44.396387       1 controller.go:1311] delete "pvc-67d84e2f-397f-42ba-b013-e404a7f94a62": started
E0111 22:01:44.400326       1 runtime.go:78] Observed a panic: "invalid memor

[2020-01-12 09:46] pohly commented on #394
Why do you think that the difference is significant? The only difference is *where* the files come from that "go build" uses; the *content* of the files is exactly the same and matches what is specified in `go.mod`.

Can you elaborate further what kind of confusion will be caused by this?

I'm starting to get the impression that your concern is that developers will use different versions of the de

[2020-01-13 17:28] davidz627 commented on #394
When files come from different places they are by definition different files. The content being "exactly the same" is based on synchronizing the two sources of truth. What happens when that assumption is broken in any way? When a module version is bumped but the corresponding vendor folder is not updated/synced? When local changes may be made to a vendor folder during the course of development?

I

[2020-01-13 18:05] bswartz commented on #395
Further investigation shows that this was a regression caused by 0c73acbb0b576c42319dc06692da61cd68ba9b75

[2020-01-13 19:30] pohly commented on #394
David Zhu <notifications@github.com> writes:

There's just one source of truth: the go.mod file.

We ensure that the vendor dir matches that with `make test-vendor`.

When we don't force the developer to use the vendor dir, everything
works as in other Go projects that don't do vendoring: `go build <some
package>` and `make build` both use `go.mod`.

If we always use the vendor dir in the Makefile

[2020-01-13 19:30] msau42 commented on #395
/assign @bertinatto
could you help take a look at a fix?

[2020-01-13 20:05] pohly commented on #394
It looks like fetching source is so fast that keeping the vendor directory is not justified. I just ran some builds of the external-provisioner (one of the more complex components) with and without vendor dir and the few data points that this gave show no obvious difference: https://github.com/kubernetes-csi/external-provisioner/pull/396

[2020-01-13 21:22] pohly commented on #394
... and for those cases where developers want to modify dependencies because they want to try out some change, the `replace` statement can be used temporarily to point to a locally modified copy of that dependencies. The Go mod FAQ describes that here: https://github.com/golang/go/wiki/Modules#can-i-work-entirely-outside-of-vcs-on-my-local-filesystem

[2020-01-13 21:42] gnufied commented on #394
I have seen cases where a project completely disappears from github. I know that https://proxy.golang.org/ solves some of the pain with that, but I found vendored dependencies to be a godsend when this happens.

[2020-01-14 07:27] pohly commented on #394
Yes, that's one of the reasons why vendoring is useful. I also like that the source of dependencies is readily available for inspection, both while developing code and during PR reviews. We definitely need a wider discussion of the pros and cons before removing it.

In https://github.com/kubernetes-csi/external-provisioner/issues/394#issuecomment-573845998 I should have said "fetching source is so

[2020-01-14 17:05] #395 closed

[2020-01-16 23:16] davidz627 commented on #370
didn't have time to work on this - the issue is available to pick up by anyone if interested. I will comment on this issue if I start working on it actively
/remove-lifecycle stale

[2020-01-16 23:16] davidz627 commented on #370
/assign cancel

[2020-01-17 06:06] hoyho commented on #370
/assign

[2020-01-17 19:00] abrden commented on #370
Hi @hoyho, are you already working on this one? I happen to need this feature quite urgently and can take care of making the change if you want

[2020-01-17 19:31] yoesmat commented on #370
How would the PV name be used? Isn't it the same as the volume name today in the CreateVolume request?

[2020-01-17 19:53] travisghansen commented on #370
@yoesmat volume name is generally `pvc-{guid}`..It's scope would be global, where is the pvc name would be unique to namespace etc.

[2020-01-17 21:18] yoesmat commented on #370
@travisghansen, I understand why the PVC name/namespace is useful. I am asking about PV name.

[2020-01-17 21:29] travisghansen commented on #370
@yoesmat ok, I must have misunderstood the question. Thanks!

[2020-01-17 21:38] yoesmat commented on #370
Thanks @travisghansen :)!

[2020-01-18 10:27] hoyho commented on #370
Yes, I do have a local branch to add this feature. Since @zetsub0u  have opened a PR , let's wait for it to merge.

[2020-01-28 23:27] #384 closed

[2020-01-29 01:26] SandeepPissay commented on #328
I agree with @msau42 that there should be no default FS type in external provisioner at all. The CSI driver can choose the default FS type based on various other factors like access mode and external provisioner should just pass fstype as empty string in create volume request.

[2020-01-29 10:10] sermilrod commented on #86
/remove-lifecycle stale

[2020-01-29 10:21] sermilrod commented on #86
Our use case at Ticketmaster is tagging EBS volumes when we create PVCs. We use tags to associate costs and we would need a way to pass additional tags to PVCs. Our current workaround is a controller that watches PVCs and based on an annotation it tags the volumes.

I do not see any difference between this use case and the use case of creating a load balancer and adding an annotation to tag the re

[2020-01-29 14:04] Nilesh20 commented on #86
@saad-ali Our use case is to add the details pf PVC (pvc name, Uuid) as metadata to resource created on storage array. is there anyway to achieve this as part of create request.
Initially in external storage we were able to grab these details.

[2020-01-29 17:16] yoesmat commented on #86
FYI: https://github.com/kubernetes-csi/external-provisioner/pull/399

[2020-01-30 19:53] zetsub0u commented on #86
@Nilesh20 i need to do the same thing, add metadata in the storage arrays, the approach in #399 is to have the minimum information needed to then go to the kubernetes api to get anything else we need from the plugin, so in this case having the pvc namespace/name is enough to find whatever we need.

[2020-01-30 21:01] msau42 commented on #322
/remove-lifecycle rotten
/help

Need help running some performance benchmarking to determine what a good default number would be.

[2020-01-30 22:38] yoesmat commented on #322
The safest would probably be to set the default to some multiplier of CPU count. Without priorities on goroutines you will always risk the lease routine not getting scheduled/picked up and thus loosing the leader election.

[2020-01-31 23:54] msau42 commented on #376
/lifecycle frozen

[2020-02-01 07:29] #336 closed

[2020-02-04 23:45] msau42 opened #401 "Arg "--enable-leader-election" is not consistent with other sidecars"
All the other sidecars use "--leader-election".

[2020-02-05 06:26] Madhu-1 commented on #401
@msau42 current default leader election type is Endpoints https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L68 to make it consistent with other sidecars are we planning to make default as leases and remove this flag?

[2020-02-07 09:29] #370 closed

[2020-02-10 17:08] #67 closed

[2020-02-10 17:43] mcronce commented on #67
This is still an issue :/

[2020-02-11 08:52] jsafrane commented on #67
There is https://github.com/kubernetes-csi/external-provisioner/pull/399 that could satisfy most of the use cases noted here.

[2020-02-18 11:20] Madhu-1 commented on #381
/remove-lifecycle stale

[2020-02-25 13:26] mucahitkurt commented on #374
/remove-lifecycle stale

[2020-02-26 14:18] jsafrane opened #414 "Volume can be deleted in the middle of cloning"
We use finalizers to prevent volumes from being deleted while a **snapshot** is being taken. Should we use the same precaution to protect  volumes that are being **cloned**? Or do we assume that the cloning is faster / easier and storage backend will sort it out somehow?

@msau42 @xing-yang, what do you think?

[2020-02-26 14:23] xing-yang commented on #414
Actually snapshotting is usually faster than cloning if no upload is needed.  I think it is a good idea to add a finalizer to prevent the source volume from being deleted in cloning.

[2020-02-27 12:09] jsafrane commented on #414
Looking at the external provisioner, it's simple to add a finalizer to PVC that is being cloned.

But it's quite hard to remove it reliably. Here is a brief design:

* During `ProvisionExt()`, the provisioner adds a finalizer to PVC before calling cloning `CreateVolumeRequest`.

* CSI external-provisioner must watch PVCs via a new workqueue.
  * When PVC X has `DeletionTimestamp` && it has the fin

[2020-03-02 02:03] k2huang opened #416 "frequently switching leader when dynamically provisioning many PV objects at the same time"
In our k8s cluster, we maybe need dynamically provision many PV objects at the same time via csi-provisioner. So I adjusted its boot option <--worker-threads>, but I found the leader election goroutine can't work well sometimes, and frequently switching the leader among multiple csi-provisioner copies.

After checking code, I noticed there is no way to adjust the throttle value for clientset, and

[2020-03-02 15:04] ShyamsundarR opened #417 "Optimize CreateVolume from PVC as source, to not create and delete a volume, when source PV(C) is smaller than the request"
When cloning from a PVC source, we have checks to ensure the request is not smaller than the PVC source [1] and error out if so.

When the PVC request is larger than the source PV(C), we go ahead and create/request the clone, but post creation check if the response size is smaller than the request [2] and call DeleteVolume.

Typically (or always), if the source PV(C) size is smaller than the reque

[2020-03-02 15:35] xing-yang commented on #417
Requested volume size is already passed into the CSI driver's CreateVolume function.  It is CSI driver's responsibility to make sure the created volume indeed has the requested size by setting the size in CreateVolumeResponse.  The provisioner is doing the right check by making sure the CSI driver has created a volume of the requested size.

[2020-03-02 16:04] ShyamsundarR commented on #417
Reading the spec again, and specifically the `CapacityRange` [text](https://github.com/container-storage-interface/spec/blob/da3002f2908656e6387aa91d72ac77441900b974/lib/go/csi/csi.pb.go#L753-L759), I understand the following,
- a well implemented CSI plugin, will fail the CreateVolume call based on the request size being larger than the possible response, when it cannot internally expand the volu

[2020-03-02 16:04] #417 closed

[2020-03-03 17:15] gregnsk commented on #86
We would like to allow customers to "import" an existing volume as a PVC, something similar to OpenStack cinder manage functionality.
Think about a volume created as a replica from another storage array, or restored from some external backup device, or created with older dynamic volume provisioner - outside of the CSI driver.

@saad-ali - If the annotations are not supported, what would be the bes

[2020-03-04 11:34] jsafrane commented on #86
@gregnsk, there is https://github.com/kubernetes-csi/external-provisioner/pull/399, where a driver can optionally get PV/PVC name. My use case is to "tag" / "label" the volume so if Kubernetes dies from whatever reason, storage admin still can find which volume is what.

But the driver can do anything with this information and we can't prevent it reading PVC annotations from Kubernetes API server.

[2020-03-04 15:35] msau42 commented on #86
@gregnsk for your use case, you can manually create a PV object to import a pre-existing volume

[2020-03-04 15:42] gregnsk commented on #86
The problem is that I want to allow management of this imported PV via CSI,
so it can't remain static allocation

On Wed, Mar 4, 2020 at 7:35 AM Michelle Au <notifications@github.com> wrote:

[2020-03-04 15:47] msau42 commented on #86
What kind of management are you looking for? Once you manually create a PV and bind it to a PVC, you can use it like any other dynamically provisioned volume

[2020-03-04 16:20] gregnsk commented on #86
expand/clone/snapshot/delete. All CSI functionality.

On Wed, Mar 4, 2020 at 7:47 AM Michelle Au <notifications@github.com> wrote:

[2020-03-04 16:39] msau42 commented on #86
All these operations can be done for manually created PVs as long as you associate them with a storageclass

[2020-03-04 17:50] gregnsk commented on #86
interesting. how can I associate a manually created PV with a storage class?

On Wed, Mar 4, 2020 at 8:39 AM Michelle Au <notifications@github.com> wrote:

[2020-03-04 17:53] msau42 commented on #86
PV.spec.storageclassname. And also set the same storageclassname on the PVC.

[2020-03-05 19:39] haibinxie commented on #86
We also need to import an existing volume with CSI, what's the timeline for next release of external provisioner to take PVC name in CSI (#399 )

[2020-03-06 00:43] msau42 commented on #86
@haibinxie you don't need #399 to import an existing volume with CSI. This is already supported through manually creating a PV.

[2020-03-06 00:47] msau42 commented on #86
@haibinxie @gregnsk here's an example driver documentation on how to manually create a PV for an existing disk: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/docs/kubernetes/user-guides/pre-provisioned.md

[2020-03-06 17:05] dsupure commented on #252
We implemented the SPEC behavior by returning the `FailedPrecondition` error code when there are snapshots associated with the volume(pvc). However, when we delete the pvc, the external provisioner will retry to delete it several times and eventually let k8s delete the pvc. Is it the expected behavior?  We assume the expected behavior should be the pvc still exists with a warning or error message

[2020-03-06 17:20] sdodsley commented on #252
The SPEC seems to be at odds with the implementation.
If the SPEC has the ability to return a `FailedPrecondtion` then it shouldn't just be ignored. What's the point of having that definition in the SPEC if it's just ignored.
It seems like there should be a finalizer on the PV(C) that will either delete all associated dependant snapshots, or hold the PV deletion until all associated snapshots are

[2020-03-07 21:06] xing-yang commented on #252
I wonder if we should add a new SNAPSHOTS_DEPEND_ON_VOLUME controller capability.  If it is true, the snapshot controller can add a finalizer on the source PVC when taking a snapshot and remove it after the last snapshot is deleted.  There's already a finalizer to protect the source PVC currently, but it is only added while the snapshot is being created and removed when snapshot is ready to use.

[2020-03-07 21:06] xing-yang commented on #252
/remove-lifecycle frozen

[2020-03-09 12:26] jsafrane commented on #414
/help

[2020-03-09 21:14] dsupure commented on #252
I think `SNAPSHOTS_DEPEND_ON_VOLUME` is a good idea that we can use a finalizer to prevent the pvc to be deleted. It seems we also need a `refCount` to indicate the number of snapshots associated with it. We can only remove the finalizer when `refCount` is zero. However, who should own this `refCount`? etcd, external-snapshotter or SP?

[2020-03-10 14:50] ShyamsundarR commented on #252
Correct me if the following is misunderstood.

The manner to recover (roll-back) a PVC to a snapshot of the same, would be to delete the PVC, and recreate it with a DataSource pointing to the snapshot from which to recover.

If we add the said finalizers, the PVC will not be deleted till all snapshots against the PVC are deleted. This leaves behind no snapshot to revert to in the above workflow, o

[2020-03-10 18:52] pawanpraka1 opened #420 "single topology key is not working for waitforfirstconsumer, if driver supports multiple topology key"
If waitforfirstconsumer is used and if the driver supports multiple keys, mentioning single key in the storageclass is not working.

The csi-provisioner will get list of all the topology keys from the csinode object and gets the values for those keys from the node object. Now this key-value *term* is matched against the topology mentioned in the storageclass and it should match entirely which is n

[2020-03-10 19:08] sdodsley commented on #252
@ShyamsundarR the way most enterprise-class external storage arrays work with snapshots gives them the ability to restore the snapshot directly over the existing volume without having to delete it the volume first.
This means that the PVC should need to be deleted and recreated. The existing PV and PVC are retained.

[2020-03-10 19:28] ShyamsundarR commented on #252
Fair enough, so a rollback of the volume to a snapshot. As I work with Ceph, it also has similar rollback options for block device (rbd) based volumes/images, hence I understand the concept.

But, how can this rollback be instrumented via CSI and kubernetes though?

The snapshot creation is instrumented via kubernetes and CSI, the rollback, IMHO, should be instrumented via similar means in the orc

[2020-03-11 16:22] haibinxie commented on #86
@msau42 Thanks for sharing the info, in that example how do you guarantee the PV would not be bound to other PVC before you create PVC, i have seen others set claimRef in PV to ensure that.

[2020-03-11 16:30] msau42 commented on #86
Yes setting PV.ClaimRef is the recommended way

[2020-03-12 04:22] humblec commented on #252
@xing-yang  I think this is a good idea! . So, that we give flexibility to the storage vendors to operate the mode they want. As per my understanding the snap/clone/promotion of the snap..etc depends on the storage backend in place and they all implement it their own way. Some keep references , some untangle it completely from the source volume..etc. By keeping a way for the driver to advertise th

[2020-03-13 19:09] haibinxie commented on #86
@msau42 is volumeHandle in PV object gets passed to CSI CreateVolumeRequest.Name so CSI driver just needs to check whether the volume exists or not, and import if it exists.

if that's the case can we also fill it somewhere in PVC to be carried to CreateVolumeRequest.name?

[2020-03-13 19:39] msau42 commented on #86
@haibinxie if you manually create the PV then CreateVolume does not get invoked. Can we open another issue to discuss this import case? This is veering off topic from the original issue.

[2020-03-16 11:48] Danil-Grigorev commented on #414
/assign

[2020-03-16 17:09] jsafrane commented on #414
/help cancel

[2020-03-16 17:24] #414 closed

[2020-04-01 17:26] pawanpraka1 commented on #420
fixed via https://github.com/kubernetes-csi/external-provisioner/pull/421.

[2020-04-01 17:26] #420 closed

[2020-04-02 21:44] msau42 commented on #295
/help

[2020-04-08 21:38] verult opened #431 "Disable the clone controller when the driver does not have CLONE_VOLUME capability"
/type bug

If the driver doesn't have the `CLONE_VOLUME` controller capability, the clone controller shouldn't need to run

[2020-04-08 21:40] msau42 commented on #431
/kind bug
/assign @jsafrane @Danil-Grigorev
can you help look at this?

[2020-04-15 18:10] #401 closed

[2020-04-16 12:08] #431 closed

[2020-04-18 22:29] ofek commented on #86
Has there been any update on implementing this feature? We would greatly appreciate it.

cc @saad-ali

[2020-04-22 12:18] igorgonibm commented on #131
Is there a way to stop it? Our cluster continue to call CreateVolume and create volumes infinitely.

[2020-04-22 14:00] xing-yang commented on #131
If you delete PVC, retry to create volume will stop.

[2020-04-22 15:06] igorgonibm commented on #131
I deleted PVC but it still happens (we use k8s v1.14)

[2020-04-23 07:50] jsafrane commented on #131
No, it can't stop. If the driver (or gRPC underneath) returns timeout, the external-provisioner can't be sure if the error comes from gRPC or from the driver. The driver may be still provisioning the volume and succeed eventually. To make sure this volume is not leaked, the external-provisioner tries over and over until it gets a "final" error or success - something that's not timeout and the exte

[2020-04-23 08:19] igorgonibm commented on #131
@jsafrane Somehow it stopped after about a day. Thank you

[2020-04-30 14:56] #385 closed

[2020-05-03 07:22] #333 closed

[2020-05-13 14:15] humblec opened #437 "cloning of volumesinuse has not enforced by the api/sidecar."
From the cloning documentation: (https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/)

```The implementation of cloning, from the perspective of the Kubernetes API, simply adds the ability to specify an existing PVC as a dataSource during new PVC creation. The source PVC must be bound and available (not in use).```

As per the above, the source PVC must be **`bound and `available(no

[2020-05-13 19:37] msau42 commented on #437
I believe the intent of the wording here was for the user to make sure it's not in use, similarly to how snapshots works. @j-griffith maybe the wording should be modified to make that more explicit. Also I think we should avoid saying "available" to not confuse it with the PV phase "available".

[2020-05-14 03:33] xing-yang commented on #437
Agree with @msau42.

[2020-05-14 03:55] j-griffith commented on #437
@msau42 @humblec Yes, I agree I can fix up that wording.  As I recall we intentionally left it as a "recommend" and not an enforcement on our side because there are a good number of backends that "aren't impacted" or don't care so to speak.

My thought is remove the "not in use" and "available" part as you suggest, but also perhaps update the CSI Plugin docs to point out that depending on a plugin

[2020-05-14 03:55] j-griffith commented on #437
/assign me

[2020-05-14 08:01] humblec commented on #437
/assign @j-griffith

[2020-05-14 08:15] humblec commented on #437
True. The `available` part can invite confusion. But, I am wondering what we wanted to say/were trying to convey in the first place by `available` with the mention in the current documentation?

Are we concluding that, the PVC should be `BOUND` and that's the only requirement?

@j-griffith IMO, removing **`in use`** would cause more confusion and can invite more issues in a cluster. If we do so, t

[2020-05-14 17:16] msau42 commented on #437
To be more clear and consistent with how we worded the snapshots behavior, we can provide a warning that the user needs to ensure data consistency on the source volume before taking a clone.

[2020-05-16 14:35] #202 closed

[2020-05-18 12:53] Madhu-1 commented on #381
/remove-lifecycle stale

[2020-05-19 04:08] bswartz commented on #328
/remove-lifecycle stale

[2020-05-31 12:03] eladtamary commented on #86
We also use tags to calculate the cost of each environment.
Therefore we need a way to tag AWS volumes created by CSI external provisioner.

Until there will be a proper way to define the tags, I use this script to go over all un-tagged volumes and tag them according to the attached instance tag:
https://gist.github.com/eladtamary/49de1406e2605d2d659cbcd0b420eba1
Maybe it will help someone else.

[2020-06-03 00:57] msau42 commented on #374
/lifecycle frozen

[2020-06-04 13:56] xing-yang opened #441 "Unsupported DataSource in PVC is not properly handled"
If DataSource is neither PVC nor VolumeSnapshot, the provisioner goes ahead and creates an empty volume and waits for ContentSource to become not nil. Since the introduction of AnyVolumeDataSource, it is possible that we have such a DataSource, however, there is no way for a CSI Driver to set the VolumeContentSource to a type that is not supported by the CSI spec.  As a result, the provisioner wil

[2020-06-04 13:57] xing-yang commented on #441
/assign @xing-yang

[2020-06-11 20:15] kaleo211 opened #443 "CreateVolume is not triggered by provisioner"
Hi,

I try to deploy my driver alone with provisioner. the whole deployment got running without error. While I was trying to create a new PersistentVolume, the CreateVolume was not invoked. And here is the log for provisioner:
[code]

deployment.yml
[code]

the PersistentVolume.yml
[code]

Hope someone can give me some help!

[2020-06-11 22:39] RaunakShah commented on #443
Hi @kaleo211 if you're hoping to invoke callbacks on your CSI driver, you'll need to dynamically provision this volume by only creating the PersistentVolumeClaim (PVC). If volume provisioning succeeds, then a PersistentVolume (PV) will be created and bound to this PVC.
Also, i see that you storage class has `volumeBindingMode` set to `WaitForFirstConsumer`, which means that this volume (and PV) wi

[2020-06-12 09:02] #394 closed

[2020-06-12 14:25] kaleo211 commented on #443
Hi @RaunakShah ,
Thank you so much for taking a look at it! I tried all your suggestions, remove and binding requirements and the PersistentVolume had solved the problem! Thank you so much for you time again! :)

[2020-06-12 14:25] #443 closed

[2020-06-12 16:17] kaleo211 commented on #443
Hi @RaunakShah ,
Im very new to this PersistentVoume driver, it's a little confusing to me that creating a PV would not trigger CreateVolume. would you mind explaining a little more on the correct flow of creating persistent volume and attaching though node driver? Thank you in advance!

[2020-06-13 10:23] humblec commented on #330
/assign @humblec

[2020-06-13 10:25] humblec commented on #330
Let me give a try to address this issue. :)

[2020-06-17 17:33] xing-yang commented on #416
/remove-lifecycle stale

[2020-06-17 17:59] xing-yang commented on #416
/assign @RaunakShah

[2020-06-17 18:00] RaunakShah commented on #416
/assign

[2020-06-17 18:34] RaunakShah commented on #416
Configuring QPS and Burst definitely seems productive. We have seen throttling in scale tests as well. @xing-yang if we're okay with that approach, i can create a PR to add two new flags for configuring QPS and Burst (and possibly set the default to higher than 5?).

[2020-06-17 18:37] xing-yang commented on #416
@RaunakShah Yes, that makes sense.  In addition, can you see if it is possible to create 2 different clientset instances for leader election goroutine and PV creation/deletion goroutines?

[2020-06-17 18:44] RaunakShah commented on #416
Sounds good! Will open a PR soon

[2020-06-18 22:35] saikat-royc opened #445 "Increase timeout for Create/Delete volume operations"
While fixing https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/526, we have observed that Create Volume from a snapshot datasource takes time to get provisioned.

following behavior in provisioning seen in GCE PD CSI driver:
there are 2 cases for a CreateVolume call (https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-

[2020-06-18 22:37] saikat-royc commented on #445
/cc @msau42

[2020-06-19 01:50] msau42 commented on #328
Fixed in #400
/close

[2020-06-19 01:50] #328 closed

[2020-06-19 21:14] msau42 commented on #322
/lifecycle frozen

[2020-06-25 01:50] msau42 commented on #295
After some discussion we decided not to do this, with the consideration that we may want to combine all the sidecars in the future.
/close

[2020-06-25 01:50] #295 closed

[2020-06-26 17:17] #416 closed

[2020-07-01 06:41] leakingtapan commented on #381
What's the plan for this? Preferably, I need multi-arch images on quay.io for other csi sidecars as well. After I x-compiled the ebs csi to arm, but then realize it's side cars are still in x86

[2020-07-01 08:01] pohly commented on #381
See https://github.com/kubernetes-csi/csi-release-tools/issues/86.

In short, upcoming releases will be multi-arch. There are no plans at this point to backport the build changes to older, existing releases.

[2020-07-01 08:08] RobReus commented on #381
@leakingtapan we at https://github.com/raspbernetes/multi-arch-images are all about ARM64 (and others) support for popular images like these. Take a look, maybe it's useful for you :)

[2020-07-01 08:12] cyb70289 commented on #381
FWIW, [this patch](https://github.com/kubernetes-csi/csi-release-tools/pull/91) enables Arm64 in csi-release-tools, which is used by all k8s-csi projects to build/publish images. csi-release-tools code is synced at next release of each k8s-csi project.
Multiarch images are not pushed to quay.io. Per my knowledge, they are located at [gcr.io](https://gcr.io/k8s-staging-csi).

[2020-07-01 08:13] cyb70289 commented on #381
Close this issue as it's not necessary to enable multi-arch for each csi project.

[2020-07-01 08:13] #381 closed

[2020-07-01 19:26] saikat-royc commented on #445
closing this one. issue now tracked in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/541

[2020-07-01 19:26] #445 closed

[2020-07-01 23:05] saikat-royc opened #451 "tunable timeouts in provisioner"
In current code we have a single timeout flag which is used for short csi calls like Probe(), GetDriverName() [https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L160] and also for the  CSI provisioning calls (which is potentially a long operation)
https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provi

[2020-07-01 23:05] saikat-royc commented on #451
/cc @msau42 @xing-yang

[2020-07-01 23:12] msau42 commented on #451
I think it's reasonable to use a short, unconfigurable timeout for short calls like probe, getdrivername.

[2020-07-02 16:09] xing-yang commented on #451
If it becomes unconfigurable, then I think it's better just to use the existing timeout parameter.

[2020-07-02 21:07] saikat-royc commented on #451
@xing-yang  can you please elaborate. I didnt understand your comment completely.
The proposal is to use the existing "timeout" flag for only provisioning specific csi calls. (so individual csi drivers can configure it in their own deployments). For short csi calls like driver info , probe we use a default value of say 10 secs. (not exposed for tuning
 via a flag).

Is that what you are suggesting

[2020-07-03 18:51] xing-yang commented on #451
Hi @saikat-royc, I meant we should either have a separate configurable timeout flag for short CSI calls like what you suggested, or just keep the status quo.  I prefer to make them configurable, not using fixed values.

[2020-07-07 21:15] msau42 commented on #451
@xing-yang I don't see short calls like Probe() and GetDriverName() dependent on the storage system characteristics. I would like to avoid a proilferation of arguments if possible.

[2020-07-11 15:32] sdodsley commented on #252
/remove-lifecycle rotten

[2020-07-15 21:24] saikat-royc commented on #451
Had a discussion with @msau42  and @xing-yang about the trade offs of using a separate tunable or static value for probes.

Using a small timeout value, if the driver had issues, debugging becomes easier. However the functionality would still be stuck irrespective of the timeout values, and the side car will not be able to serve requests until the driver is ready.
Evaluating pros and cons of addin

[2020-07-15 21:24] #451 closed

[2020-07-17 20:00] #257 closed

[2020-07-22 07:34] 11janci opened #454 "deployment.yaml broken due to wrong flag"
Currently, the `csi-provisioner` container fails during deployment due to unrecognized flag `--enable-leader-election` (has been renamed to `--leader-election`).

[2020-07-22 15:14] venkatsc commented on #451
10 seconds timeout seems to be not enough if docker dns cache is not enabled. On kubespray cluster with k8s v1.18.5  and requests are failing with timeout if we try to talk to api with hostname.

Requested volume is created in storage backend but PVC is stuck in pending forever and PV is not created. Configuring API with IP instead of HOSTNAME worked fine. Therefore, I would like to request to inc

[2020-07-22 18:06] msau42 commented on #451
@venkatsc there around is a "--timeout" option you can configure for your driver.

[2020-07-22 18:08] msau42 commented on #451
@xing-yang @saikat-royc I had another thought. Since 10s seems too small, but we can't really decide on a good default, what if we don't default anything and make the argument required?

[2020-07-22 19:18] xing-yang commented on #451
That means many drivers would fail at start time after upgrading to the new sidecar?  That's not a good experience.
On the other hand, making it required would make driver owner aware of this setting.

[2020-07-22 20:18] msau42 commented on #451
Yes but we already are doing a major release and breaking a lot of parameters already, so this is the best time to do it.

[2020-07-22 20:42] xing-yang commented on #451
I'm fine with it.  Just need to make sure we document this breaking change.

[2020-07-22 22:51] #454 closed

[2020-07-23 07:21] jsafrane commented on #451
If we're discussing DNS and its timeouts here, it's a property of cluster / its network / container runtime. How can a driver vendor set it better than us?

[2020-07-23 09:01] venkatsc commented on #451
I did try with "--timeout" but it did not work as this option required "time" type. What value/type does this option take? It could not take integer. Also, it is not very clear if the given value for this option is seconds/milliseconds.

[2020-07-23 09:36] jsafrane commented on #451
It takes [golang's duration spec](https://golang.org/pkg/time/#ParseDuration), `--timeout 10s` or `--timeout 1h`

[2020-07-23 23:52] chrishenzie commented on #322
I attempted to repro this issue several different ways but no success.

- Using a revision prior to this change (https://github.com/kubernetes-csi/external-provisioner/pull/447)
  - Testing if API-throttling on a single k8s client could impact leader election
- Setting CPU limits (10m on the external-provisioner container)
- Sleeping during `CreateVolume()` in the mock-driver container

This was b

[2020-07-23 23:57] msau42 commented on #322
Thanks for investigating! It seems like we can't repro the issue on a 1 cpu machine, and with separating out the leader election client from provisioning k8s client, that should help avoid api throttling issues, which could be one avenue of starvation.

/close

[2020-07-23 23:57] #322 closed

[2020-08-03 09:05] pohly commented on #451
Jan Šafránek <notifications@github.com> writes:

They have to do the same as we do for the sidecar: document the default
and allow admins to change it when deploying the driver.

[2020-08-11 18:02] ajaykmis opened #462 "failed to provision volume with StorageClass "gce-fast-regional": rpc error: code = DeadlineExceeded desc = context deadline exceeded"
Hi,

I am trying to create a PVC from a VolumeSnapshot in GKE 1.17. but the PVC always fails the first time - with the error :
Warning  ProvisioningFailed     3s                 pd.csi.storage.gke.io_gke-3292dc0cc953259ae863-6e51-ee44-vm_49f3a555-6e32-44d2-b129-36dc0b8c3a00  failed to provision volume with StorageClass "gce-fast-regional": rpc error: code = DeadlineExceeded desc = context deadline

[2020-08-14 18:31] pohly opened #465 "storage capacity: make ownership of CSIStorageCapacity objects optional"
Apparently some CSI drivers run outside of the cluster.

https://github.com/kubernetes-csi/external-provisioner/pull/450/files#r470300935

[2020-08-14 18:31] pohly commented on #465
/assign

[2020-08-17 08:27] pohly opened #466 "storage capacity: scalability of pkg/capacity/topology/nodes.go"
For the sake of simplicity, nodes.go uses slice to store all known segments and iterates over all of them to determine whether a new one has to be added.

We need:
- a test benchmark which scales this up to a high number of nodes
- if the slice turns out to be slow, a better data structure:
  - A tree with topology key/value pairs on the edges and the segment with those pairs in the leaf.
  - Seri

[2020-08-17 10:34] pohly opened #467 "storage capacity: patch vs. update of CSIStorageCapacity"
capacity.go currently uses `Update` to change the capacity value. It might be more efficient to use `Patch`:
- write a benchmark
- compare both approaches

[2020-08-18 00:12] msau42 commented on #466
Another consideration for performance, is to check the capacity after every successful provision operation, instead of once a minute, so that the scheduler can use more up to date information

[2020-08-18 07:10] pohly commented on #466
Yes, that's part of the KEP and not implemented yet. However, that's a separate issue.

[2020-08-21 03:26] msau42 commented on #462
Issue was addressed in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/576
/close

[2020-08-21 03:26] #462 closed

[2020-08-31 09:04] msvticket commented on #86
/remove-lifecycle stale

[2020-09-25 14:34] pohly opened #483 "storage capacity: update capacity after volume creation and deletion"
When volumes are created and deleted, capacity information is likely to be different afterwards. external-provisioner should:
- identify which storage classes were involved
- queue capacity work items for those (and only those)

Right now, such changes are only detected by the periodic refresh of capacity information.

[2020-09-28 04:53] agarwal-mudit opened #484 "PVC cloning: Allowing the creation of smaller size clone"
While creating a pvc clone user can specify the size and kubernetes doc mentions that the size you specify must be the same or larger than the capacity of the source volume. But in general kubernetes allows the clone to be created even if the specified capacity is lesser than the original pvc, I want to know

- Why that is allowed?
- Could this result in data loss?
- Does csi driver, in general, a

[2020-09-28 04:54] agarwal-mudit commented on #484
cc @Madhu-1

[2020-09-28 04:55] Madhu-1 commented on #484
/assign @j-griffith
/assign @msau42

[2020-09-28 15:00] j-griffith commented on #484
The plugin should fair the request in this case; that being said we had checks to fail early at the API level, if that's not working or it's been removed my opinion is that it is a bug and should be fixed.  I'm happy to look in to it depending on input from @msau42 and others.

[2020-09-28 15:54] humblec commented on #484
@agarwal-mudit its well expected that the requests less than the original volume size supposed to be blocked or not allowed by the design as @j-griffith mentioned. If thats not happening, its a bug. Please list the versions of the sidecar

[2020-09-28 15:54] humblec commented on #437
sending a PR to fix this.

[2020-09-28 16:39] msau42 opened #485 "Restoring from a snapshot to a larger size"
Today, what happens with many block-based plugins is that the disk will be created at the larger size, but the filesystem (from the snapshot) is at the smaller size. Filesystem expansion won't be triggered because PV is created at the requested PVC size.

We discussed this at the csi standup last week and agreed that the behavior should be:
* If a plugin is not going to resize the filesystem durin

[2020-09-28 16:40] msau42 commented on #485
/kind bug

cc @jsafrane @gnufied @xing-yang @bswartz

[2020-09-28 16:41] msau42 commented on #485
Another open issue: should we apply the same logic to clone?

[2020-09-28 16:41] msau42 commented on #485
cc @j-griffith

[2020-09-28 16:42] msau42 commented on #485
@Jiawei0227 will help take a look at implementing this

[2020-09-28 16:44] gnufied commented on #485
issue @jsafrane created in k/k repo has summary of discussion so far - https://github.com/kubernetes/kubernetes/issues/94929

[2020-09-28 17:53] pohly opened #486 "volume leak after CreateVolume started and before PV creation"
In the following sequence of events a volume can leak:
- external-provisioner issues a CreateVolume call for a PVC
- external-provisioner is stopped before it creates the PV
- the PVC is deleted
- external-provisioner is restarted

That volume provisioning started is not recorded anywhere, so the restarted external-provisioner doesn't know that it needs to continue with it.

[2020-09-28 17:55] pohly commented on #486
One possible solution is to set a finalizer for the PVC *before* issuing the CreateVolume call and removing it *after* creating the PV.

[2020-09-28 17:55] pohly commented on #486
/kind bug

[2020-09-28 17:59] pohly opened #487 "deployment without central controller"
For CSI drivers which manage local storage it is difficult to provide dynamic provisioning support because the central driver instance needs some way of communicating with the driver instance on each node. It would be nice if:
- external-provisioner could be deployed on each node together with the CSI driver
- These external-provisioner instances collaborated with each other on provisioning of PVC

[2020-09-28 17:59] pohly commented on #487
/kind feature

A previous prototype for late binding support was posted in https://github.com/kubernetes-csi/external-provisioner/pull/367

[2020-09-28 18:04] pohly commented on #487
Immediate binding is harder. Two approaches are possible:
- leader election
- Let all instances try to set the "selected node" annotation: the one who wins owns the PVC.

The second approach is very simple to implement, I have a prototype. it simply builds on top of the work for late binding.

The leader election approach is harder to implement because the leader election helper code needs to be e

[2020-09-29 01:36] bswartz commented on #485
The text from the CreateVolumeRequest message in the spec says:

 // This field is OPTIONAL. This allows the CO to specify the capacity
  // requirement of the volume to be provisioned. If not specified, the
  // Plugin MAY choose an implementation-defined capacity range. If
  // specified it MUST always be honored, even when creating volumes
  // from a source; which MAY force some backends to in

[2020-09-30 05:55] pohly opened #488 "add `process_start_time_seconds` metrics gauge"
Apparently OpenTelemetry needs it (https://github.com/open-telemetry/opentelemetry-collector/issues/969).

Support is being added to csi-lib-utils in https://github.com/kubernetes-csi/csi-lib-utils/pull/54.

[2020-09-30 05:56] pohly commented on #488
Wrong bug tracker - this was meant to go elsewhere...

/close

[2020-09-30 05:56] #488 closed

[2020-09-30 15:12] j-griffith commented on #484
Didn't hear anything back from Agarwl, but I went ahead and tested this with latest and verified that the checks are still in place.

[code]

I'm going to go ahead and close this as it does behave as expected and documented.  If I'm missing something or you have additional info feel free to reopen with more details.

/close

[2020-09-30 15:12] #484 closed

[2020-10-01 21:00] j-griffith commented on #485
On the clone side of things we enforced the PVC being created must be >= size of the source.  The plugin should enforce this and not allow a smaller volume to be created.  I don't think clones have this issue because unlike snapshots we're directly linked to the capabilities and size characteristics of the source volume.

I'm happy to double check and make sure there's not a weird corner case here

[2020-10-07 15:22] humblec opened #499 "Support secret in NodeExpansion Call."
In different use cases we need "secret" passed to the CSI driver to perform NodeExpansion which is missing atm . One of the very visible use case is that, the expansion on LUKS enabled device, which needs the passphrase in order to resize the device on the node.

One other use case is that, at times we need to check the actual size of the image ( for ex: RBD image size in Ceph Cluster) before proc