[2020-10-09 18:36] Jiawei0227 commented on #485
There is currently a discussion here: https://github.com/container-storage-interface/spec/pull/452
I will start to implement this as soon as we get the final decision on how the CO and SP should behave.

[2020-10-11 08:28] irbekrm opened #505 "The Docker images for v2.0.3, v1.6.1 not found in registry"
I tried to pull the image for the latest release of the provisioner and got

[code]

It appears to be the same for v1.6.1
[code]

[2020-10-12 18:26] pohly opened #507 "never delete PVs while the PVC exists"
When doing performance testing, the following was observed:
- the CSI driver created PVs faster than the volume controller could bind them to the PVCs that triggered provisioning
- at some point, external-provisioner started deleting those PVs and then re-created them because of the PVCs

The external-provisioner should never delete PVs that it just created.

[2020-10-12 18:47] pohly commented on #507
A new PV from external-provisioner has:
[code]

Once it is bound, the status changes to `Phase:   "Bound"`.

So at first glance it looks like external-provisioner can and should check the phase.

[2020-10-13 08:45] jsafrane commented on #507
I'd like to know why PV controller marks the PV for deletion first. Because it can delete PVs provisioned by in-tree plugins too. Can you create a small reproducer, for example with hostpath or mock drivers?

[2020-10-13 12:03] pohly commented on #507
You can use this modified clusterload2 test: https://github.com/kubernetes/perf-tests/pull/1530

It should be possible to run this with the hostpath driver (not tested, though).

The invocation that I used to create 5000 volumes on a 50 node cluster was:
[code]

With `pmem-csi.yaml `:
[code]

`my-config,yaml`:
[code]

For hostpath, you need to change `PROVISIONER` and `CSI_STORAGE_CLASS`. Volume s

[2020-10-13 12:11] pohly commented on #507
I ran the following Go program in parallel to the test:
[code]

It shows that a PV that gets deleted prematurely goes through these changes:
[code]

[2020-10-13 12:12] pohly commented on #507
So yes, the status goes from "pending" to "released" without ever getting bound to the PVC.

[2020-10-13 12:15] pohly commented on #507
The PVC exists while this is happening.

Could it be that kube-controller-manager relies on a PVC informer cache to determine whether the PVC exists? Then it might see a PV before the PVC cache gets updated and incorrectly conclude that the PV was released.

[2020-10-13 21:24] msau42 commented on #507
I seem to recall this issue and remember that we fixed this by doing a live lookup https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L585.

[2020-10-14 03:44] HaojingLu97 commented on #332
In v1.14 cluster, I encountered same issue. even if I turn on feature gates ExpandCSIVolumes on kubelet, api-server and controller manager and modified storageclass too, still missing Controller Expand Secret. And I tried manually add to PV, is showed that this field is not validated.

I am using csi-provisioner v0.1.0.

[2020-10-14 07:33] pohly commented on #507
That fix went into Kubernetes 1.12. I'm running 1.18, so this must be something else.

[2020-10-14 10:08] pohly commented on #507
Trying this with the CSI hostpath driver crashes the driver:
[code]

[2020-10-14 10:16] pohly commented on #507
I thought we had serialized gRPC call processing, but apparently not.

[2020-10-14 11:12] pohly commented on #507
No, we just discussed it: https://github.com/kubernetes-csi/csi-driver-host-path/issues/72#issuecomment-607680786

[2020-10-14 15:34] msau42 commented on #507
Can you investigate why that fix isn't working for csi?

On Wed, Oct 14, 2020, 04:12 Patrick Ohly <notifications@github.com> wrote:

[2020-10-14 15:49] pohly commented on #507
Yes, I'm looking into it.

So far I have not been able to reproduce it with a cluster brought up with `local-up.sh`, so I'll have to go back to the larger 1.18.8 cluster and see whether logs show anything about this transition to "phase: Released".

[2020-10-14 19:08] pohly commented on #507
I now have managed to reproduce it there: the key point was that external-provisioner had to run with qps + burst values that must allow it to create PVs very quickly.

One example PV:
[code]

So it is the code that should have done the live lookup... but didn't do it because of https://github.com/kubernetes/kubernetes/blob/7ff41c1ba0f38920bb0bc09e70dc70e2205be155/pkg/controller/volume/persistentv

[2020-10-14 19:10] pohly commented on #507
According to the description of that annotation, no.

That makes the code in Kubernetes incorrect.

[2020-10-14 19:18] pohly commented on #507
Removing `metav1.HasAnnotation(volume.ObjectMeta, pvutil.AnnBoundByController)` from the if check fixes the problem for me.

[2020-10-15 10:24] jsafrane commented on #507
I think this could be actually the right fix. At this point of PV controller we know that the PV is bound by UID, which is a clear signal the PVC has existed at some point it time (otherwise `pv.spec.claimRef.UID` would be empty) and `AnnBoundByController` should not matter.

[2020-10-15 11:30] jsafrane commented on #507
Wait. How is it possible that a PVC is dynamically provisioned and PV controller does not know about it (ie. does not have the PVC in its cache)?  Who puts `volume.beta.kubernetes.io/storage-provisioner` annotation there? Is it scheduler? @pohly, do you use late binding in your test?

[2020-10-15 14:28] pohly commented on #507
The modified clusterload2 test does that, if configured to do so - see https://github.com/kubernetes/perf-tests/pull/1530

I added that after I noticed that I couldn't trigger volume creation as quickly as I wanted when relying on the PV controller. With this shortcut, the test then becomes more of a microbenchmark for external-provisioner + CSI driver, but that's exactly what I wanted. Right now

[2020-10-15 15:52] msau42 commented on #507
To me a microbenchmark should be consistent in what processes are involved.
I think it's odd to benchmark the provisioner sidecar but still involve the
latter half of pv controller. If we want to benchmark both pv controller
and sidecar, then we should include the whole sequence. If we want to
benchmark just the sidecar then we could do that with a unit or integration
test.

On Thu, Oct 15, 2020,

[2020-10-15 15:54] msau42 commented on #507
I don't think adding the annotation to bypass the pv controller should be a
supported sequence. It bypasses the ability to bind to an existing pv in
the same storageclass

On Thu, Oct 15, 2020, 08:52 Michelle Au <msau@google.com> wrote:

[2020-10-15 16:21] pohly commented on #507
latter half of pv controller.

Agreed. I'll change that.

and sidecar, then we should include the whole sequence.

Also agreed.

benchmark just the sidecar then we could do that with a unit or integration
test.

Here I disagree. I'm want to benchmark the scenario where I have a large number of external-provisioner instances (one per node) and they all cooperate together on provisioning a high numb

[2020-10-19 03:33] xing-yang commented on #252
/remove-lifecycle stale

[2020-10-19 16:28] jsrz opened #508 "Multi-arch image support"
Hello,

Would like to put in a request for support of multi-arch images (Arm). Current external-provisioner images only support x86.
I verified that I can easily build binaries and docker images manually, so I'd imagine it shouldn't take too much effort to support this.

[2020-10-19 17:39] jsrz commented on #508
Closing. My issue was that I'm using rook, and it's default images have not moved to the gcr.io hosted images (which support multi-arch).

[2020-10-19 17:39] #508 closed

[2020-10-21 11:14] yuansmin commented on #199
I think corectness is more important than "nicer formats".  we can't get the real size now, and it's important. And also, a "nicer formats" is just the problem of Print, not the data we stored.

[2020-10-22 22:39] RaunakShah commented on #328
@msau42 @humblec I have a question about this bug. Basically what we're saying is that the storage provider should have the capability of choosing their own `fsType` (based on their own criteria) and Kubernetes will honor that.

I have a bug where no `fsType` was provided (in the SC or provisioner) and our CSI driver defaulted to `ext4`. During `NodeStageVolume`, the volume is formatted - i can vi

[2020-10-22 23:29] msau42 commented on #328
Good find. That is indeed a problem for plugins that need fsgroup support. For now, I think the best approach is to set the --default-fstype flag. In 1.20, we're targeting promoting the csidriver fsgroup feature to beta, which lets drivers explicitly opt in to supporting fsgroup instead of using this rwo + fstype heuristic.

[2020-10-23 10:40] humblec commented on #328
Agree with both of you :) .. In short if SC and Provisioner does not specify `fsType` with this version of this sidecar, we have to set the `default-fstype` flag.

[2020-10-23 16:13] RaunakShah commented on #328
Thanks for the info! I'll keep a look out for the fsgroup feature and make a change to our YAMLs for now

[2020-10-23 17:42] bswartz commented on #328
None of the solutions work particularly well for meta-CSI plugins like Trident, which support multiple protocols and therefore multiple default FS types. The ideal solution from our perspective would be to allow the SP to tell the CO which fstype it defaulted to when the CO didn't specify one. That requires a CSI spec change though and I don't see it happening soon if ever.

The workaround we're g

[2020-10-23 17:47] msau42 commented on #328
Yes, I think we should look into adding something to CSI. Windows has a similar issue, in that you may want to default to a different filesystem depending on which node the pod gets scheduled to. @jingxu97 is looking into it

[2020-10-23 17:50] SandeepPissay commented on #328
We have the same issue that vSphere CSI supports multiple protocols and we default to a protocol based on the create volume request. We definitely need to enhance CSI spec to communicate back the fstype that was used by CSI driver back to CO.

[2020-10-27 17:01] divyenpatel opened #514 "Topology feature is GA but still flagged with featuregate Beta"
Topology feature is `GA` as per https://kubernetes-csi.github.io/docs/topology.html but it is still flagged with featuregate `Beta`.

https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/features/features.go#L35-L39

[code]

cc: @msau42

[2020-10-28 00:11] #514 closed

[2020-10-28 14:02] zetaab opened #517 "topology placement for statefulset"
I have use case that i do have 3 AZs (both compute and volume). I also have statefulset with 3 replicas. What I want is place one replica per zone to have highly availability for the service. However, it creates volumes randomly to these zones. Which component is the correct one which have the logic where these are created?

Currently it creates following:
- 1 pvc for zone-1
- 2 pvc for zone-2
- 0

[2020-10-28 15:55] #437 closed

[2020-10-29 07:37] pohly commented on #517
You can use a storage class with late binding, then PVCs have a higher chance of being created where the pods are about to run.

https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode

[2020-10-30 15:42] #517 closed

[2020-10-30 15:44] zetaab opened #520 "New feature to skip affinity in provisioner"
We have use case where our compute zone names does not match to volume zone names. When topology support is turned on the provisioning for volumes does not work at all.

Please read https://github.com/kubernetes/cloud-provider-openstack/issues/1300

[2020-10-31 02:11] msau42 commented on #520
Sorry I'm not sure I understand the request. If your driver can't support topology, then you need to turn the topology feature gate off.

[2020-10-31 07:33] zetaab commented on #520
@msau42 the problem is that topology feature is going to be enabled by default in future. Which means that it will break current setup for instance part of openstack users.

Driver do support that, but the openstack setups in some companies does not.

[2020-10-31 18:43] msau42 commented on #520
I think it would be best to work with the openstack/cinder csi driver to make sure they can properly support topology for your scenario or make topology optional. It sounds like openstack supports some topologies that the csi driver is not properly handling.

[2020-11-01 09:43] zetaab commented on #520
yeah, so basically openstack cinder csi plugin should be able to say "I am not supporting topologies", if there is weird zone setup between nodes and volume zones.

[2020-11-01 09:43] #520 closed

[2020-11-02 10:00] #507 closed

[2020-11-03 06:11] pantelis-karamolegkos opened #523 "Topology requirement for PV not satisfied despite node being in the same zone"
I have defined the following storage class

[code]

So I am trying to create a PV/PVC out of it as it is automatically/dynamically created/provisioned by the official jenkins helm [chart][1].

However I see in my `events` that the topology requirement is not satisfied:

[code]

...which is kind of weird given that the specific node seems to belong to the specific zone

[code]

Working with

[code]

[2020-11-03 07:08] pohly commented on #507
We decided against backporting the Kubernetes  change unless there's a good reason why someone needs it.

When doing scale testing, QPS and burst settings can be set high enough for kube-controller-manager that bypassing it is not necessary.

[2020-11-03 11:34] jim3ma commented on #176
/lifecycle reopen

[2020-11-03 11:39] jim3ma commented on #176
@msau42 I can not find the StorageProtection feature in external-provisioner, how about it now?

[2020-11-03 19:45] msau42 commented on #176
This should be fixed in v2.0

[2020-11-04 02:37] jim3ma commented on #176
Can we backport to v1.6 ?

[2020-11-04 02:44] msau42 commented on #176
Unfortunately the fix requires new rbac permissions, which we consider to
be a backwards incompatible change.

On Tue, Nov 3, 2020 at 6:37 PM Jim Ma <notifications@github.com> wrote:

[2020-11-04 15:55] #523 closed

[2020-11-09 01:46] nevermore-muyi opened #525 "CSI and Local Volume"
Hi, it's there any plans for csi and local volume? Just as the follow talks:
https://github.com/kubernetes-retired/external-storage/issues/824
thanks.
@cofyc @pohly

[2020-11-09 07:24] pohly commented on #525
Quite a bit is going on regarding that:
- provisioning: https://github.com/kubernetes-csi/external-provisioner/issues/487
- storage capacity: https://github.com/orgs/kubernetes-csi/projects/32
- inline, ephemeral volumes: https://github.com/orgs/kubernetes-csi/projects/34

[2020-11-12 19:05] pohly commented on #465
/remove-lifecycle stale
/lifecycle frozen

[2020-11-16 08:37] pohly commented on #467
/remove-lifecycle stale
/lifecycle frozen

[2020-11-16 08:39] pohly commented on #466
/remove-lifecycle stale
/lifecycle frozen

[2020-11-17 11:09] arahamad opened #528 "csi-provisioner:v2.0.4 image has VA issues"
following is the VA issues in csi-provisioner:v2.0.4 image

[code]

[2020-11-17 11:47] arahamad commented on #528
If we re-build the image then this will solve the issue, I verified it.

If someone let me know the process then I can also build image.

[2020-11-17 11:51] pohly commented on #528
New images will be built as part of the upcoming release: https://github.com/orgs/kubernetes-csi/projects/31

IMHO this issue is not severe enough to do patch releases.

[2020-11-18 04:50] Kartik494 commented on #505
Hi @irbekrm in the 1.6 release  [external-provisioner]( https://github.com/kubernetes-csi/external-provisioner/blob/release-1.6/deploy/kubernetes/deployment.yaml ) uses the image as `quay.io/k8scsi/csi-provisioner:canary` i think there is no such image exist for specific version yet , i got the same error

[2020-11-29 14:29] ofek commented on #86
/remove-lifecycle stale

[2020-11-30 07:39] pohly commented on #86
/lifecycle frozen

[2020-12-01 07:02] ruanchen commented on #525
@pohly maybe we can use the idea from [topolvm](https://github.com/topolvm/topolvm),use a crd for proxy, provisioner and csi driver interact with the crd.
Just as the blog describes: https://blog.kintone.io/entry/topolvm.

[2020-12-01 07:46] pohly commented on #525
I'm familiar with TopoLVM. I think the extension that I am planning for external-provisioner will be simpler (no need for extra CRDs, less code).

[2020-12-03 01:58] ruanchen commented on #525
@pohly Excuse me and can you describe the next step plan about this?
Is the plan like this?
1. external-provisioner deploy on each node
2. use _storage capacity_ for volume dynamic provisioning

[2020-12-03 01:59] ruanchen commented on #525
And which release version (kubernetes and csi) we can see the new feature?

[2020-12-03 08:33] pohly commented on #525
That's indeed the plan.

Deploying external-provisioner on each node is meant to go into the next external-provisioner release for Kubernetes 1.20.

Storage capacity tracking remains as alpha in 1.20. I hope to get it to beta in 1.21.

[2020-12-03 08:39] ruanchen commented on #525
@pohly thank you, look forward to the new feature.

[2020-12-03 09:09] ruanchen commented on #525
@pohly Except external-provisioner, resizing and snapshot are also need considered in the future.

[2020-12-03 12:08] pohly commented on #525
I only plan to work on external-provisioner. Someone else will have to look into resizing and snapshotting.

[2020-12-03 14:15] bswartz opened #533 "Panic when using unsupported data source"
Occurs with version v2.0.4 or with canary.

If you enable the AnyVolumeDataSource feature gate, and create a PVC with a data source that is some CRD other than a snapshot, the external provisioner panics.

I1203 14:04:27.518582       1 connection.go:182] GRPC call: /csi.v1.Controller/CreateVolume
I1203 14:04:27.518600       1 controller.go:869] Started provisioner controller csi.test.net_test-csi-

[2020-12-03 16:09] bswartz commented on #533
/assign @bswartz

[2020-12-14 21:31] msau42 commented on #505
This is working for me:
[code]

/close

[2020-12-14 21:31] #505 closed

[2020-12-15 17:57] #533 closed

[2020-12-16 00:52] #487 closed

[2020-12-17 01:17] Jiawei0227 commented on #199
+1 to this. From what I understand, the exact size is more important than a nicer format. What matters here is what the storage provider returns in the CreateVolumeResponse call as that is what the provisioner thinks the real storage underlying, so it is the storage provider's responsibility to do round up/round off to the request volume size and return the correct underlying size:
https://github.

[2020-12-18 03:43] Kartik494 commented on #376
/assign

[2020-12-20 13:27] pohly opened #544 "distributed provisioning: unset "selected-node" for nodes which have no driver running"
When deploying external-provisioner alongside the CSI driver on each node, there is one problem: if the scheduler picks a node which has no driver instance, then the volume is stuck because the usual "no capacity -> reschedule" recovery is never triggered.

A custom scheduler extension and capacity tracking can minimize the risk, but cannot prevent this entirely.

Possible solutions:
- deploy the

[2020-12-20 15:46] pohly commented on #544
This isn't ideal because "provisioning" will be started by the central provisioner for all nodes and then must be made to fail for those which *do* have a driver, which will emit additional events.

[2020-12-21 09:28] pohly commented on #544
This is conceptually very similar to setting `AllowedTopologies` in the storage class which uses late binding. The volume scheduler will check that before selecting a node, right?

If so, then this is probably the right solution for this issue because it avoids the problem entirely.

There's a slight race (node has the right labels, is selected for a PVC, labels get removed, driver no longer runs

[2020-12-27 19:50] pohly commented on #486
/remove-lifecycle stale
/lifecycle frozen

[2020-12-28 11:30] nevermore-muyi opened #545 "storage capacity: scheduler consistency"
In current version, scheduler just get the free capacities of **StorageCapacity**, but do not update the scheduler cache, which may lead to scheduling inconsistencies. So, i think scheduler should cache the storage capacities in reverse step as assume pod.
@pohly

[2020-12-28 13:07] pohly commented on #545
I'm not sure I understand what you mean with "should cache the storage capacities". Can you elaborate?

Are you suggesting that the scheduler should track in-flight volumes and somehow model how that affects available capacity? That was discussed at length already, see https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1472-storage-capacity-tracking#no-modeling-of-storage-capa

[2020-12-28 13:13] ruanchen commented on #545
Yes, what you describe is my think, thanks.

[2021-01-05 16:05] gnufied commented on #499
/remove-lifecycle stale

[2021-01-11 09:29] pohly commented on #545
@nevermore-muyi: so can we close this issue here?

[2021-01-11 09:31] nevermore-muyi commented on #545
ok, i close the issue.

[2021-01-11 09:31] #545 closed

[2021-01-11 19:00] pohly commented on #544
Yes, it does: https://github.com/kubernetes/kubernetes/blob/ba5f5bea64a7b42265e581e8c7fe633336bec79a/pkg/controller/volume/scheduling/scheduler_binder.go#L873-L877

[2021-01-11 19:28] divyenpatel opened #546 "volume leaks when PVC is deleted when associated PV is in the terminating state"
Steps

1. Create PVC and wait for it to get bound.

[code]

[code]

[code]

2. Delete PV.

[code]

PV can not be deleted, so `kubectl delete  pv` command is not giving up terminal prompt. So I typed `ctl+c` to exit.
Checked PV status. It went into terminating state.

[code]

3. When PV is in the terminating state, delete PVC.

[code]

4. PV and PVC are both deleted from the system.

[code]

The co

[2021-01-12 03:50] xing-yang commented on #546
@divyenpatel Which controller?  You meant the CSI Driver controller?

[2021-01-12 08:46] pohly commented on #546
My take on this: the system works as designed at the moment. Admins should only delete a PV if they know that the underlying volume in the storage system is gone.

The PV protection controller only prevents that the PV object gets removed while there is a PVC that uses the PV. It has no knowledge about the underlying volume.

[2021-01-12 08:47] pohly commented on #195
Instead of reopening this issue, let's continue in https://github.com/kubernetes-csi/external-provisioner/issues/486 because it has a clearer description of what the issue is about.

[2021-01-12 18:47] divyenpatel commented on #546
Yes

[2021-01-14 22:34] Jiawei0227 commented on #485
/remove-lifecycle stale

I am grooming my backlog and found this one. It seems from the last CSI meeting, we decide that to let each CSI driver to handle it. They should call the expand. So I guess there is no more work involved in the csi-provisioner for now?

[2021-01-19 09:22] wavezhang opened #547 "Is it possible to run only one external-provisioner instance for all csi drivers?"
I want to deploy multiple csi drivers to k8s, is it possible to run only one external-provisioner instance for all csi drivers?

[2021-01-19 16:39] pohly commented on #547
This is not supported by the design of the external-provisioner. It always only talks to one CSI driver.

[2021-01-20 07:34] pohly opened #548 "Storage class AllowedTopology: limited to topology labels from driver?"
Use case: when a CSI driver manages local resources on a node, it might run on only some nodes. Those nodes can be identified by labels, either set manually or via Node Feature Discovery (NFD). It would be natural to use those labels in the storage classes' `AllowedTopology` to ensure that late binding picks a suitable node when other mechanisms (like storage capacity tracking) are not available.

[2021-01-20 07:48] pohly commented on #548
I'm wondering whether the interpretation of `AllowedTopology` in external-provisioner is too strict. The [API](https://github.com/kubernetes/api/blob/v0.20.2/storage/v1/types.go#L33) mentions "Each volume plugin defines its own supported topology specifications." which implies that the allowed key/value pairs somehow are plugin specific.

But the [usage of that field in kube-scheduler](https://git

[2021-01-20 07:57] wavezhang commented on #547
So， is this possible to redesign external-provisioner, and make it talks to multiple registered CSI drivers?

[2021-01-20 07:59] wavezhang commented on #547
What is the main concern that  external-provisioner only talks to one CSI driver?

[2021-01-20 12:34] pohly commented on #547
How would you let one instance of the external-provisioner connect to different CSI driver instances? Which communication would you use and how do you make it secure?

I suppose it's doable, but will get more complicated and then might not be worth it. The only advantage that I see in using one provisioner is to avoid overhead for the watches that each instance has. Do you see other advantages?

B

[2021-01-21 07:15] wavezhang commented on #547
When CSI Spec is stable, is this possible to  make CSI drivers like CNI/CRI, storage developer only need to provider driver binary, and external-provisioner/attacher/snapshotter can run only one instance (or move to in tree ). ?

For the security issue, without the provisioner secret are stores in k8s secret, driver binary can do nothing to storage provider.

The advantages, I think is that k8s us

[2021-01-21 10:56] Kartik494 commented on #376
Hi @msau42 could you let me know, here what we mean when we are talking on `refactor provisioner and snapshot test case to use builder pattern` ?

[2021-01-21 15:36] pohly commented on #547
So this is about moving changing the API between Kubernetes and CSI drivers, in particular for provisioning and snapshotting. The current situation is that the external provisioning API is specific to Kubernetes and external-provisioner implements it for a CSI driver.

What you are proposing is to extend Kubernetes so that some component in it ("internal-provisioner") calls unmodified CSI drivers

[2021-01-22 03:21] #547 closed

[2021-01-23 01:18] msau42 commented on #376
Hi @Kartik494, in some of the initial examples I referenced, the test case has a lot of conditional statements about different scenarios, and are adjusting the test inputs based off of that.

I think it makes the test hard to read and understand because you need to run through all these conditionals to figure out what the input object looks like. Instead, I think it would be better if the test too

[2021-01-25 08:10] pohly commented on #483
/remove-lifecycle rotten
/lifecycle frozen

[2021-01-27 10:34] paullaffitte commented on #332
In v1.19 cluster I still have the same issue. How this is possible since VolumeExpansion is not in alpha anymore? I should not require any feature-gate flag right?

[2021-01-28 04:41] xing-yang commented on #485
Yes. CSI driver needs to handle this.  @jsafrane has updated the CSI spec PR: https://github.com/container-storage-interface/spec/pull/452

[2021-01-28 16:51] xing-yang commented on #546
The Reclaim Policy on PV is "Delete" here. If volume is not deleted regardless of the Reclaim Policy, what is the difference between "Delete" and "Retain" in this case?

[2021-01-28 18:22] xing-yang commented on #546
Discussed in today's sig-storage meeting.

* Work as expected but very confusing as behavior changes depending on whether PV is being deleted before PVC is deleted.
If we fix this, it will break existing customers with workflow that depends on this behavior (@jsafrane).
* Should update the doc first: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reclaiming. Then look at how to fi

[2021-01-30 06:24] huchengze opened #551 "A bug"

[2021-01-30 06:24] #551 closed

[2021-01-30 06:51] huchengze opened #552 "Forget TranslateInTreeStorageClassToCSI in Delete."
https://github.com/kubernetes-csi/external-provisioner/blob/637608cab7d37ddef0575fa2191ba22c57e43cc2/pkg/controller/controller.go#L1094

After writing the rbd-csi migration code, I tested it on my own cluster.
Provision successed, but Delete failed.
Then I realized that there is no TranslateInTreeStorageClassToCSI in Delete.
I will create a PR for this.

[2021-02-03 02:24] lrcstars opened #554 "after updated CSIStorageCapacities the ResourceVersion is changed but not update into Controller.capacities"
https://github.com/kubernetes-csi/external-provisioner/blob/b7a8fe9fe487b11383e922170f4d34ee11ded78f/pkg/capacity/capacity.go#L522

env:
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T13:32:58Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}
external-provisioner

[2021-02-03 08:12] arahamad commented on #528
latest images also showing VA issues, any tentative date for new image

[2021-02-03 12:13] pohly commented on #554
The local cache is maintained by the informer. It will get updated eventually and then the normal retry mechanism after a failed update should cover this scenario. We have code elsewhere which updates the local cache after making changes, but I find that a bit questionable from a conceptual perspective: there's a small risk that updating the local copy will overwrite a more recent copy that has be

[2021-02-04 00:35] RaunakShah opened #556 "Add command line arguments for leader election parameters"
The leader election package specified 3 variables that are related to the time interval of acquiring and renewing leases:

[code]

The leader election documentation states:

[code]

Does it make sense to introduce command line arguments for these three parameters so that storage vendors can specify their own values.

I've noticed in our deployments for vSphere CSI driver that external sidecars are

[2021-02-04 03:39] lrcstars commented on #554
The problem is caused by concurrency
First(thread1): CSIStorageCapacities update
https://github.com/kubernetes-csi/external-provisioner/blob/b7a8fe9fe487b11383e922170f4d34ee11ded78f/pkg/capacity/capacity.go#L526

Second(thread2): func (c *Controller) onCAddOrUpdate Got the lock first and update new capacity to cache
https://github.com/kubernetes-csi/external-provisioner/blob/b7a8fe9fe487b11383e922

[2021-02-04 06:33] lrcstars commented on #554
So, Now that `The local cache is maintained by the informer`, then it's better to delete this code
https://github.com/kubernetes-csi/external-provisioner/blob/b7a8fe9fe487b11383e922170f4d34ee11ded78f/pkg/capacity/capacity.go#L536

[2021-02-04 07:07] lrcstars commented on #554
The problem isn't that simple. Have another bug:
If capacity keeps changing. external-provisioner will keeps updateing  CSIStorageCapacities:
log:
I0204 14:58:44.791588       1 capacity.go:525] Capacity Controller: updating csisc-wwv65 for {segment:0xc000780e40 storageClassName:hello-world-storage-class}, new capacity 11598736Ki
I0204 14:58:44.794607       1 capacity.go:570] Capacity Controller: C

[2021-02-04 10:08] pohly commented on #554
Scratch that. I was thinking of the informer cache here. The more complex `capacities` map is maintained by the controller: https://github.com/kubernetes-csi/external-provisioner/blob/b7a8fe9fe487b11383e922170f4d34ee11ded78f/pkg/capacity/capacity.go#L88-L91

We can't use an informer cache with indexer either because `capacities` is supposed to contain all desired object, including the ones that ha

[2021-02-04 11:00] lrcstars commented on #554
I think delete these code can fix
https://github.com/kubernetes-csi/external-provisioner/blob/b7a8fe9fe487b11383e922170f4d34ee11ded78f/pkg/capacity/capacity.go#L532-L541
https://github.com/kubernetes-csi/external-provisioner/blob/b7a8fe9fe487b11383e922170f4d34ee11ded78f/pkg/capacity/capacity.go#L582-L587

[2021-02-04 12:14] pohly commented on #554
But isn't that then leading to the scenario from https://github.com/kubernetes-csi/external-provisioner/issues/554#issuecomment-773084757 or was that without that change?

It was meant to protect against admin mistakes. It's not strictly necessary, but as long as the bookkeeping in `capacities` is done correctly, it should never trigger in normal operations.

[2021-02-04 12:15] pohly commented on #554
After describing it like that, perhaps it should become a warning.

[2021-02-05 02:26] lrcstars commented on #554
Your PR can solve both of the problems I've described, but as you say
`That limits parallelism because we hold the lock while executing a (potentially) longer running operation, but it should avoid the race.`
My idea is to remove an update for `capacities`, so delete this:
https://github.com/kubernetes-csi/external-provisioner/blob/b7a8fe9fe487b11383e922170f4d34ee11ded78f/pkg/capacity/capacity.go#

[2021-02-05 10:17] pohly commented on #554
So you are proposing that we trust admins a bit more. That's probably fine: normal users can't create or update these objects and admins should know better than to mess with automatically created objects. Even if they do by mistake, the periodic refresh will fix it eventually.

So I'm fine with merging #559. I'll comment there for some further cleanup (basically just commit hygiene).

BTW, are you

[2021-02-05 15:58] michael-db commented on #486
I'm not sure about the suggested solution. It should be possible to delete the PVC if it is not bound.

I worked around this by having a thread that deletes dynamically provisioned PVs that are stuck in pending. But it's a rare event: I've seen it happen only because of another bug.

[2021-02-05 16:26] michael-db opened #561 "external-provisioner keeps calling CreateVolume for a deleted PVC"
Scenario:
A PVC is created that can never satisfied, e.g., because the requested size far exceeds any PV that can be created from the available resources. So a ResourceExhausted error is returned.
Then the PVC is deleted.
Now the csi-provisioner continues to call CreateVolume() forever.

A function checkError() in controller.go decides whether to keep calling the CSI driver's CreateVolume() or to

[2021-02-11 00:46] mattcary opened #563 "Make release with latest translation-lib"
Should happen before 1.21 release.

https://github.com/kubernetes/kubernetes/pull/97823 has the changes we want.

/cc @Jiawei0227

[2021-02-11 08:01] pohly commented on #563
https://github.com/kubernetes-csi/external-provisioner/pull/564 should also be included in that release.

[2021-02-11 08:30] pohly commented on #554
I started updating PR #559  by adding more comments about how handling of the `capacities` map should work. I wrote:
[code]

Then it occurred to me that there was another path where before the PR `capacities` was updated locally: after a `Create`. That is important to avoid creating two different objects for the same topology/storage class.

However, this should be fine, too. If it happens that we

[2021-02-11 10:32] lrcstars commented on #554
It makes sense.
I did overlook `creating two different objects for the same topology/storage class`
Thanks!

[2021-02-11 10:46] pohly commented on #554
The change also broke the unit test for correcting capacity information after an update by an admin. We changed the behavior, so that test became obsolete.

@lrcstars I created https://github.com/kubernetes-csi/external-provisioner/pull/565 with your change and added some of my own. Can you review that?

[2021-02-11 16:49] mattcary commented on #563
Also the new metrics, https://github.com/kubernetes-csi/csi-lib-utils/pull/77.

[2021-02-12 00:19] lrcstars commented on #554
revised.
The commentary makes it very clear.
I didn't read the part about the test. I'm not familiar with it.

[2021-02-12 05:27] Kartik494 commented on #376
Hi @msau42 So for Every Conditional statement here

Should i provide Methods Like this

and when i study the article (https://www.calhoun.io/using-functional-options-instead-of-method-chaining-in-go/) i get to know that Like we have Pattern builder as part of creational design pattern in java, we should implement `functional options` here. Is this the Ideal approach. Please Suggest

[2021-02-16 16:17] chrigl commented on #563
https://github.com/kubernetes/kubernetes/pull/98311 would be great as well. It is already on release-1.20 (not tagged yet) and tag v1.21.0-alpha.3.

[2021-02-19 01:10] Jiawei0227 commented on #552
Thanks! This is really good finding! Can you rebase the PR?

[2021-02-19 01:55] Jiawei0227 commented on #552
/kind bug

[2021-02-19 05:03] wjun commented on #546
IHAC who met this issue in their production environment. My customer provides k8s as a self service to its customers. In this service provider model, whatever change customers make to their clusters through valid k8s CL/APIs, the service provider should not have potential billing issues (they count disk usages into billing).

[2021-02-21 12:35] andyzhangx commented on #563
@msau42 @Jiawei0227 could you help release `2.1.1` version, it has one critical csi migration fix, thanks.

[2021-02-22 07:10] Jiawei0227 commented on #563
@andyzhangx I will create a release-note after https://github.com/kubernetes-csi/external-provisioner/pull/567 being merged tomorrow.

[2021-02-22 11:35] pohly commented on #563
Can we also get https://github.com/kubernetes-csi/external-provisioner/pull/565 included?

[2021-02-22 13:49] #554 closed

[2021-02-22 18:59] Jiawei0227 commented on #552
Hey @huchengze , can you also mention a little more details on what specific parameter need to be transferred? Why will it fail without translate storage class?

[2021-02-22 18:59] pohly commented on #563
It looks like v2.1.0 was tagged on master and all changes since then are bug fixes for a v2.1.1 release or build fixes that we need to test that release on Kubernetes 1.20:
https://github.com/kubernetes-csi/external-provisioner/compare/v2.1.0...master

I would be okay to just tag v2.1.1 on master. We can also create a release-2.1 branch, it just would be identical to master for now.

[2021-02-22 19:13] Jiawei0227 commented on #552
I quickly checked the gce-pd, aws, azuredisk csi-translation-lib implementation and did not find there are anything special that need to be translated other than topology. Is  rbd-csi somehow have different implementation?

[2021-02-22 19:18] msau42 commented on #563
I will create a release branch so that we're consistent in our release process. I think the release-notes tool doesn't support patch releases on master branch when using a discover method.

[2021-02-23 00:47] msau42 commented on #563
release-2.1 is created. I took everything up until (not including) https://github.com/kubernetes-csi/external-provisioner/pull/560 as that change potentially requires action from consumers of migrated plugins.

For any bug fixes after that https://github.com/kubernetes-csi/external-provisioner/compare/release-2.1...master, please open a cherry-pick PR

[2021-02-23 02:27] huchengze commented on #552
https://github.com/kubernetes-csi/external-provisioner/blob/5d250e590f683b94bfca4c4dfb5260ad3633542b/pkg/controller/controller.go#L1149

This func in delete need to get `provisionerSecretParams`, which is:

https://github.com/kubernetes-csi/external-provisioner/blob/5d250e590f683b94bfca4c4dfb5260ad3633542b/pkg/controller/controller.go#L152-L158

For some csi plugins like gce-pd, aws, or azuredisk,

[2021-02-23 05:22] msau42 commented on #552
It looks like in-tree rbd plugin is depending on StorageClass for DeleteVolume, which is an unfortunate anti-pattern we have been discouraging: https://github.com/kubernetes/kubernetes/blob/16b909ce1483258464715c9ab76b4dff82d596e5/pkg/volume/rbd/rbd.go#L570

We also have an outstanding issue to get rid of CSI's dependency on StorageClass for deletion secrets: https://github.com/kubernetes-csi/exte

[2021-02-23 06:17] huchengze commented on #552
Yes, maybe finilly we will find a way to

[2021-02-23 06:33] huchengze commented on #552
Yes, by #567 some intree plugins like rbd will find a way to get their credentials for DeleteVolume and it won't affect other plugins.

[2021-02-23 10:48] pohly commented on #563
Here's the one I care about: https://github.com/kubernetes-csi/external-provisioner/pull/568

[2021-02-24 01:48] ahrtr opened #569 "The Topology feature should be enabled by default"
Topology is already GAed since external-provosioner 1.5+ (the corresponding Min K8S Version is 1.17), but it is still disabled by default. Instead, it should be enabled by default,

`https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/features/features.go#L38 `

[2021-02-24 01:49] ahrtr commented on #569
@divyenpatel

[2021-02-24 17:01] msau42 commented on #376
Hi @Kartik494, so I think the final end goal should be to remove the conditionals in the testcase that adjust the input object. Using a build/chaining api to construct the input is optional. Maybe for now to keep it simple, start with passing the entire object as input, and we can see if adding some constructors would be useful or not.

[2021-02-25 07:24] Kartik494 commented on #376
Hi @msau42 Thanks for the response, i will be changing this as suggested and raising a PR Accordingly

[2021-02-25 18:02] Jiawei0227 commented on #552
Hey Chengze, I am wondering if you are working on CSI migration for ceph drivers?

If you are, it would be really nice if you can update some status on that.

https://docs.google.com/document/d/1j6uF9sOoGCQ9nNFVrdvCWyn77o9k3-758qsEj2K3BAY/edit#heading=h.qgo2lkk8gkqp

[2021-02-26 03:37] huchengze commented on #552
@Jiawei0227
It looks like there are no plans to migrate in-tree ceph driver.
https://github.com/ceph/ceph-csi/issues/1725
I have tried to do it, but it needs a lot code changing in ceph-csi and I'm not sure they can accept that.

[2021-02-26 06:09] Jiawei0227 commented on #552
oh, okay. I saw you were testing rbd so I thought you are working on that. It's okay.

[2021-02-26 06:25] asifdxtreme opened #570 "Is it possible to add custom plugin in csi provisioning flow?"
Usecase : A data management framework wants to add intelligence or tweak the provisioning before the external-provisioner sends the request to csi driver for provisioning of the pv/pvc.

Solution : ???

Suggestion :
1. Following the priniciples of extensible code, we can add the options of dynamic plugin which when enabled calls the custom bussiness code before the sending the request to csi drive

[2021-02-26 07:39] pohly commented on #570
Other solutions:
- fork the external-provisioner and implement your changes in the fork
- implement a proxy which accepts gRPC calls on a Unix domain socket, acts on those it cases about (CreateVolume?) and then sends them on to the actual CSI driver: external-provisioner -> proxy -> CSI driver

[2021-03-01 07:19] ialidzhikov opened #573 "Prow jobs are failing for release-2.0 branch"
I created a PR against the `release-2.0` branch but I see that all prow checks are failing:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_external-provisioner/572/pull-kubernetes-csi-external-provisioner-1-18-on-kubernetes-1-18/1366280889750786048
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_external-provisioner/572/pull-kubernetes-csi

[2021-03-05 08:21] mowangdk opened #574 "Why PVC Selector is not support in dynamic provisioning"
/kind design

little confused about this part in ```pkg/controller/controller.go```

[code]

my question is why Selector is forbidden in provisioning and can I make this error message more detailed?

[2021-03-05 13:56] ialidzhikov commented on #573
/cc @msau42 @pohly @jsafrane

[2021-03-08 09:24] jsafrane commented on #561
The unfortunate side effect of using gRPC error codes for CSI errors is that ResourceExhausted can mean either the CSI driver has run out of (storage) space, or its gRPC server (or gRPC client in the external provisioner) has run out of memory to process gRPC messages. See https://github.com/container-storage-interface/spec/issues/419.

There is a hack in external-provisioner to consider it as a "

[2021-03-08 12:24] jsafrane opened #576 "Volumes provisioned for migrated CSI drivers have wrong provisioned-by annotation"
When CSI migration is enabled and the external-provisioner provisions an in-tree PV, it files wrong `pv.kubernetes.io/provisioned-by` annotation. As result, when the CSI migration is disabled later, such PVs can be deleted only by the external-provisioner. They should be deleted by the in-tree one.

1. Enable CSI migration (OpenStack Cinder used below).
2. Create StorageClass for in-tree volume pl

[2021-03-08 22:51] Jiawei0227 commented on #576
/assign

[2021-03-09 00:26] Jiawei0227 commented on #576
Some finding just list here for reference:

1. Original PD case:

- PVC annotation:
  - pv.kubernetes.io/bind-completed: yes
  - pv.kubernetes.io/bound-by-controller: yes
  - volume.beta.kubernetes.io/storage-provisioner: kubernetes.io/gce-pd
- PV annotation:
  - kubernetes.io/createdby: gce-pd-dynamic-provisioner
  - pv.kubernetes.io/bound-by-controller: "yes"
  - pv.kubernetes.io/provisioned-by:

[2021-03-09 00:29] Jiawei0227 commented on #576
So if we do not fix the bug mentioned in this issue, the problem is when user rollback the cluster to non-csi migration enabled state, and delete the PVC that is created when using in-tree storageclass when CSI migration status is enabled will result in a state that the PVC get deleted successfully. But the PV cannot be deleted and will result in a release status because of the logic here: https:/

[2021-03-09 00:34] Jiawei0227 commented on #576
/cc @msau42

[2021-03-09 00:38] Jiawei0227 commented on #576
So in this issue is basically saying the case 2 I mentioned above is wrong, specifically the pv annotation should not be set to `pv.kubernetes.io/provisioned-by: pd.csi.storage.gke.io`

[2021-03-09 01:32] Jiawei0227 commented on #576
From discussion with @msau42 offline, we may have the following options:

1. Change case 2's PV to `pv.kubernetes.io/provisioned-by: intree` and add a `pv.kubernetes.io/migrated-to: csi`. And keep the PVC as it is.

The downside is when we rollback, there is no way to tell whether the PV is actually get provisioned by intree/CSI except by looking at the PVC object storage-provisioner.
Also, this s

[2021-03-09 09:31] jsafrane commented on #576
Do we need such a signal "to distinguish if the volume is actually created by intree or csi"? Who uses the annotation?

I am wondering if we can just use `StorageClass.Provisioner` as value of `pv.kubernetes.io/provisioned-by:` when creating PV around these parts:
https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/5fd51cfade8c066f42fc33300c3fe700b0f67cae/controller/contro

[2021-03-10 07:00] Jiawei0227 commented on #576
I tried this approach. There is one problem with it which is the external-attacher finalizer. When the PVC is attached to a node, the external attacher will add a finalizer: "external-attacher/pd-csi-storage-gke-io" to the PV object. And it only gets removed when the PV is in deleted status by external-attacher.

So the problem I am facing is that once I switch to non-csi migration status, and rem

[2021-03-10 07:21] Jiawei0227 commented on #576
I am checking how this is designed by David in [the first place](https://github.com/kubernetes/kubernetes/pull/87098), it seems the migrated-to annotation is designed only for PV/PVC that is originally created by in-tree. For CSI created PV/PVC, it should only be handled by CSI even for rollback scenario . So I think do we think this design is not desirable?

I still think we should consider keep

[2021-03-10 08:32] jsafrane commented on #576
Good point about the external-attacher. We should fix either both the attacher + the provisioner or require users to run with CSI driver installed even after downgrade. Exploring the second option, why the external-provision creates in-tree PVs then? We could save us a lot of headache and provision CSI PVs, if we expect that CSI driver is installed even after CSI migration is disabled.

[2021-03-10 08:50] jsafrane commented on #576
I would prefer if a component that added a finalizer would also remove it. The component may be changed later. I.e. the external-attacher could remove the finalizer from PVs that are not CSI && don't have the `migrated-to` annotation - that's simple. If we can assume that the attacher is running for a while after the CSI migration is disabled to clean them up.

[2021-03-10 14:54] msau42 commented on #576
If the pv still had the attacher finalizer on it, doe that mean we didn't
drain the node first?

On Wed, Mar 10, 2021, 00:50 Jan Šafránek <notifications@github.com> wrote:

[2021-03-10 17:48] jsafrane commented on #576
Today, the finalizer is removed *after* PV gets DeletionTimestamp. That guarantees that new Pods don't start at the time the attacher removes the finalizer. So once used by external-attacher, the finalizer is there for whole lifetime of PV. What I am suggesting is to remove the finalizer when `migrated-to` annotation is removed. Because at that moment CSI migration is disabled in A/D controller, n

[2021-03-10 18:06] Jiawei0227 commented on #576
Yeah, I was quite surprised when I found this. Can you elaborate why do we keep the finalizer for the whole time?

[2021-03-10 18:39] Jiawei0227 commented on #576
Just tested this on my dev cluster. The external-attacher today can already handle this situation. Basically the csi-attacher is watching for PV update events and it will already drop the finalizer for us. So if we are assuming the CSI driver will still be around after the cluster rollback, I think this could work. Or, are you suggesting we drop the finalizer as soon as the attacher detect the PV

[2021-03-10 19:44] xing-yang commented on #546
Discussed this with @jsafrane and @msau42.  We could introduce an alpha feature in 1.22 and fix the code to always honor the deletion policy, in the same time, deprecate the existing behavior.  After one year (4 releases), we can GA the feature and stop supporting the existing behavior.

[2021-03-11 09:51] andyzhangx opened #582 "panic when there are 10K volumes in the cluster"
When there are 10K volumes in the cluster, I found `csi-provisioner` v2.1.0 would hit nil pointer panic frequently, someone has clue why hit `unrecognized notification: <nil>` issue in `csi-provisioner` v2.1.0 ? thanks.

[code]

[2021-03-11 09:59] andyzhangx commented on #582
there are other csi-provisioner with same version does not crash with 10K volumes in the cluster, the only difference is Azure Disk CSI driver has `--feature-gates=Topology=true` setting:
[code]

[2021-03-11 09:59] andyzhangx commented on #582
/kind bug

[2021-03-11 15:02] jsafrane commented on #576
Yes, `delete` event may arrive very long after downgrade / CSI migration disabling. Like days, weeks and years later - PVs live long. I'd prefer if the attacher deleted the finalizer if `migrated-to` annotation disappears from a PV.

As I wrote, it prevents races.

1. A volume is detached.
2. <hypotetically, the attacher removes its finalizer here>
3. User creates a new pod
4. A/D controller creat

[2021-03-15 13:48] andyzhangx opened #587 "share large scale test result(20K volumes)"
I did large scale test in a k8s cluster with 5K, 10K, 20K CSI volumes created using following component versions:
 - `csi-provisioner:v2.1.0`
 - `csi-attacher:v2.2.0`
 - `csi-resizer:v1.1.0`

cpu limit is set as `100m` for every sidecar containers which is enough, while memory limit should be adjusted according to volume num, if memory limit is small, driver would be OOMKilled, here are my suggest

[2021-03-15 13:51] andyzhangx commented on #322
check my large scale test result, I got a relatively accurate memory limit for `csi-provisioner`, `csi-attacher`, `csi-resizer` per below test:
 - [share large scale test result(20K volumes)](https://github.com/kubernetes-csi/external-provisioner/issues/587)

[2021-03-18 18:19] #552 closed

[2021-03-22 13:53] pohly opened #592 "PV labels"
For local storage, but potentially also network-attached storage, exposing the CSI topology as labels on PVs would be useful. Then admins could easily filter for PVs available on a certain node. For local storage that is the same as the volumes provisioned on that node.

The labels can be exactly the same as for nodes.

Example:
[code]

This is redundant information because the topology field also

[2021-03-26 07:37] pohly opened #595 "redundant and harmful (?) extra claimInformer.Run"
As pointed out in https://github.com/kubernetes-csi/external-provisioner/pull/590, informers should only be started once. That PR fixes that for the capacity controller. The cloning protection controller still has a `claimInformer.Run()` that probably should be removed:
https://github.com/kubernetes-csi/external-provisioner/blob/bcf1a405b5f6a0fa2aadb80d08c9c2569c4b6912/pkg/controller/clone_control

[2021-03-31 01:42] msau42 commented on #582
/assign @chrishenzie
to investigate

[2021-03-31 01:43] msau42 commented on #573
/assign  @chrishenzie

[2021-03-31 01:45] msau42 commented on #574
Claim selector is used to filter the available set of PVs to bind to a PVC. This is for the situation where you have precreated PVs in the system that you want to use, not for dynamic provisioning.

What is the use case that you have for using a selector with dynamic provisioning?

[2021-03-31 01:47] msau42 commented on #570
What kind of modifications do you want to make to the provisioning request? Can a mutating webhook address your use case? Or is this a use case for the data populator feature?

[2021-03-31 01:52] msau42 commented on #528
@arahamad what is the latest image you verified that still has the issue?

[2021-03-31 01:53] msau42 commented on #499
/assign @gnufied
to followup on this.

[2021-03-31 07:23] mowangdk commented on #574
IMHO, Warning event can be thrown instead of blocking dynamic provisioning.

The scene is migrated from flexvolume to csi。

[2021-04-01 09:12] silentred commented on #86
This argument `extra-create-metadata` passes pvc ns/name to CreateVolumeRequest.Parameters. This is really useful.

[2021-04-06 06:29] ialidzhikov commented on #573
@chrishenzie, thanks for working on this issue. From my side it is fixed and it can be closed.

[2021-04-06 06:30] ialidzhikov commented on #573
/close

[2021-04-06 06:30] #573 closed

[2021-04-06 08:23] pohly commented on #525
For the other components:
- https://github.com/kubernetes-csi/external-snapshotter/issues/484
- https://github.com/kubernetes-csi/external-resizer/issues/142

For external-provisioner we are done.

/close

[2021-04-06 08:23] #525 closed

[2021-04-08 16:45] Fedosin opened #600 "Credential info exposed when setting loglevel"
When setting the TraceAll loglevel for a CSI Driver, credential info exposed.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

We can get the credential info from the related logs:
[code]
**What you expected to happen**:

We should not get the credential info from the related logs.

**How to reproduce it**:
1. Install Manila CSI Driver.
2. Set the Manila CSI Driver log

[2021-04-08 17:26] #600 closed

[2021-04-09 16:36] chrishenzie opened #602 "Update VolumeSnapshot API to v1"
The external-provisioner currently uses the v1beta1 API. We should update this to start using the v1 API and mark this feature as GA in the next release.

[2021-04-09 19:06] msau42 commented on #602
cc @xing-yang

Also for this upcoming release, let's add a deprecation notice for the snapshot v1beta api.

[2021-04-09 19:21] msau42 commented on #595
My rough understanding of the issue was that multiple events may be called on the same object, which caused the capacity controller to create multiple objects. To me, that sounds like a synchronization or idempotency controller issue.

[2021-04-09 19:26] msau42 opened #603 "Remove k8s.io/kubernetes dependency"
k8s.io/kubernetes is not intended to be imported, and pulling it in requires us to override many other packages as well. It would be nice to replace the dependency to clean up our vendoring.

/help
/kind cleanup

[2021-04-09 20:15] #483 closed

[2021-04-09 20:15] #465 closed

[2021-04-09 22:00] pohly commented on #595
The bug was that `Run` was called more than once. What negative effect that has depends on the callbacks registered with the informer, but it is wrong regardless of that. Even if the callbacks happen to be idempotent, calling `Run` causes extra resource consumption or worse - it's not allowed, so who knows what else can break.

[2021-04-09 23:02] msau42 commented on #595
But the fact that multiple capacity objects were created seems to indicate to me there's an issue in that the names are not deterministic so it can't detect duplicate objects.

[2021-04-10 09:21] pohly commented on #595
Object names are generated and random, so extra code would be needed to avoid duplicates. An informer promises that it only reports new objects once. Are you saying that code shouldn't trust that promise and have defensive code paths to detect situations where the informer misbehaves and reports the same object twice as new?

[2021-04-11 19:39] pohly commented on #544
/remove-lifecycle stale

[2021-04-12 15:47] xing-yang commented on #546
CC @deepakkinni

[2021-04-13 00:48] deepakkinni commented on #546
/assign

[2021-04-13 21:01] pohly opened #609 "test flake: capacity"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_external-provisioner/605/pull-kubernetes-csi-external-provisioner-unit/1381723395330150400
[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_external-provisioner/605/pull-kubernetes-csi-external-provisioner-unit/1381726066699145216

[code]

[2021-04-14 03:39] msau42 commented on #595
I don't think we necessarily have to have defensive code for a specific dependency, however I'm just thinking of ways that we can design the logic to be more defensive and idempotent against this general class of problem.

[2021-04-14 18:23] #609 closed

[2021-04-16 18:11] pohly opened #611 "distributed provisioning: random failures for immediate binding + AllowedTopologies"
Enabling topology tests in csi-driver-host-path led to random test failures for `External Storage [Driver: hostpath.csi.k8s.io] [Testpattern: Dynamic PV (immediate binding)] topology should provision a volume and schedule a pod with AllowedTopologies`.

The smoking gun is this event:
[code]

What happened is that the test randomly picked one of the two worker nodes, `csi-prow-worker`, for AllowedT

[2021-04-19 18:22] verult commented on #611
Is the reason why the error shouldn't occur because we don't expect anyone to set an AllowedTopologies, use immediate binding, and use distributed provisioning?

IMO it's better to skip the test than to remove the provision failed error and fail silently.

[2021-04-19 18:42] pohly commented on #611
Provisioning will work, it just has to be attempted on a node that matches the storage class.

[2021-04-19 19:21] verult commented on #611
ACK got it, and the fix will make sure a provisioner that doesn't live in a node matching AllowedTopologies will never process the PVC, which is probably better than the provisioner processing the PVC realizing it doesn't belong and then gives up ownership. Thanks!

[2021-04-20 17:26] #611 closed

[2021-04-20 17:35] pohly opened #613 "distributed provisioning: dedicated check for "incompatible topology""
As discussed in https://github.com/kubernetes-csi/external-provisioner/pull/612#discussion_r616191330, the usage of `GenerateAccessibilityRequirements` in the following code could be improved:
https://github.com/pohly/external-provisioner/blob/f262e0f93ce2c172ac22f54978bbb9aff7f59d21/pkg/controller/controller.go#L1296-L1320

It works because the function is expected to only fail when the storage c

[2021-04-22 14:13] michael-db opened #616 "Specified maximum size of volume is ignored"
pkg/controller/controller.go looks at claim.Spec.Resources.Requests but not claim.Spec.Resources.Limits, so CreateVolumeRequest.CapacityRange only ever has the RequiredBytes field set; LimitBytes is always 0 even if a limit was specified in the PVC.

[2021-05-01 06:29] Yashks1994 commented on #603
/assign

[2021-05-04 18:17] jsafrane opened #619 "Error collecting metrics with migratable CSI driver"
When used with migratable CSI driver, such as `ebs.csi.aws.com`, the external-provisioner v2.2.0 returns 500 response on its metrics endpoint:

[code]

[2021-05-04 18:29] pohly commented on #619
Does that only occur with a migratable CSI driver (whatever that is - I don't know), or is that just where you observed it?

[2021-05-04 18:30] pohly commented on #619
The error itself comes from registering `process_start_time_seconds` twice, once through the Kubernetes framework, once directly. Here we intentionally disable it to avoid this:
https://github.com/kubernetes-csi/external-provisioner/blob/5d1b62aaa38b309e2c845e97efdc24c944fb66d8/cmd/csi-provisioner/csi-provisioner.go#L189-L193

[2021-05-04 18:31] pohly commented on #619
And here we don't:
https://github.com/kubernetes-csi/external-provisioner/blob/5d1b62aaa38b309e2c845e97efdc24c944fb66d8/cmd/csi-provisioner/csi-provisioner.go#L217-L225

[2021-05-04 18:46] jsafrane commented on #619
It's only for migratable CSI driver, regular hostpath driver works just fine.

[2021-05-04 18:55] #619 closed

[2021-05-05 07:04] ialidzhikov commented on #563
I think this issue can be closed as new releases that vendor the latest csi-translation-lib were cut - v2.1.1, v2.2.0.

[2021-05-05 10:21] pohly commented on #563
/close

[2021-05-05 10:23] pohly commented on #563
/reopen

https://github.com/kubernetes-csi/external-provisioner/pull/621 is still pending?

[2021-05-05 17:59] pohly opened #625 "optimization for node.go"
See https://github.com/kubernetes-csi/external-provisioner/pull/617#discussion_r624969300

[2021-05-05 18:00] pohly commented on #625
/assign

[2021-05-06 11:43] arahamad commented on #528
latest version `csi-provisioner:v2.2.0` does not have CA issue

[2021-05-06 18:26] pohly opened #628 "handle DeletedFinalStateUnknown"
The delete callback may get invoked with an object of type DeletedFinalStateUnknown and should be able to retrieve the UID from the embedded object instead of ignoring the event:

https://github.com/kubernetes-csi/external-provisioner/blob/f71827bfaa87d61de380518a1522b31fa6ff35d0/pkg/controller/controller.go#L379-L383

[2021-05-07 12:47] Yashks1994 commented on #603
/unassign

[2021-05-07 16:01] #603 closed

[2021-05-10 07:23] arahamad commented on #528
@ialidzhikov, sure we can close

[2021-05-10 07:23] #528 closed

[2021-05-12 01:35] mauriciopoppe commented on #376
@Kartik494 I'd frame the problem like this, we have a list of test cases `t = [t1, t2, t3, ...]` which have to be tested (as `tc`) by

https://github.com/kubernetes-csi/external-provisioner/blob/a9b470d69df16ce2de13094b1e941dee36603a70/pkg/controller/controller_test.go#L2193

It looks like `runProvisionTest` doesn't have all the information of a test case when it's called and it augments info to i

[2021-05-13 07:36] Kartik494 commented on #376
@mauriciopoppe Thanks for the response, if i understood it correctly here you are asking for making a test case Builder for `provisiongTestCase` [struct](https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller_test.go#L807) which would implement struct object as a  functions ?

Thanks

[2021-05-13 07:38] Kartik494 commented on #376
For example here you mentioned a function above so here the function withBar() should be a object created from struct objects

   return func(tc *provisioningTestCase) *provisioningTestCase {
       if tc.foo {
          tc.bar = "dummy"
       }
       return tc
   }
}

[2021-05-13 17:43] mauriciopoppe commented on #376
yes we could have a builder for the `provisioningTestcase` struct, the objective is for `runProvisionTests()` not to modify its arguments anymore therefore `provisionTestcases()` should build the objects will all the information that `runProvisionTests()` needs

[2021-05-16 09:51] bells17 opened #631 "SupportsBlock method does not work"
Hi, currently, block devices can not use because provisionWrapper struct doesn't have SupportsBlock method.
I think this bug probably has occurred when https://github.com/kubernetes-csi/external-provisioner/pull/586 PR was merged.

ref:
- https://github.com/kubernetes-csi/external-provisioner/blob/359a0e068e079bfa79df75db31e03f32d7743b1f/cmd/csi-provisioner/csi-provisioner.go#L482-L483
- https://g

[2021-05-19 13:52] #625 closed

[2021-05-20 09:06] pohly commented on #548
/remove-lifecycle rotten

[2021-05-25 07:56] pohly commented on #631
/assign

[2021-05-25 07:58] pohly commented on #631
My expectation was that if the embedded `controller.Provisioner` instance implements `SupportsBlock`, then the wrapper will also implement that. As you found, that's not how it works - sorry for that!

[2021-05-26 14:09] #631 closed

[2021-05-31 11:21] pohly opened #638 "test flake: capacity metrics check fails"
Sometimes, `go test ./pkg/capacity` fails. I can reproduce this locally by running it continuously until it fails:
[code]

[2021-05-31 11:31] pohly commented on #638
To get useful log messages, https://github.com/kubernetes-csi/external-provisioner/pull/639 is needed. Without it, "go test ./pkg/capacity -args -v=5` has to be used, but that mixes output from all tests that run in parallel and is impossible to read.

[2021-06-08 13:45] #638 closed

[2021-06-08 20:30] xing-yang commented on #556
/remove-lifecycle rotten

[2021-06-08 20:38] RaunakShah commented on #556
Will send out a PR soon!
/assign

[2021-06-14 13:10] michael-db commented on #561
/remove-lifecycle stale

[2021-06-14 22:24] #556 closed

[2021-06-16 09:25] andyzhangx commented on #587
/remove-lifecycle stale

[2021-06-18 20:00] mkhpalm commented on #582
We see this problem as well with csi-provisioner:v2.2.2  and rook/ceph

https://github.com/rook/rook/issues/8128

FWIW there are 8551 volumes total in the cluster (mostly local) and only 22 of those are ceph volumes this csi-provisioner should be concerned with. We don't see it happen on clusters with less volumes total.

[2021-06-23 23:37] msau42 commented on #576
/reopen

need to update csi-provisioner too

[2021-06-25 05:17] humblec commented on #499
@gnufied considering `CSI Spec 1.5` carry the capability, can we get support here too?  please feel free to assign this to me if you are busy with other tasks.

[2021-06-25 14:31] gnufied commented on #499
/unassign
/assign @humblec

[2021-06-25 20:20] wongma7 opened #645 "Update sig-storage-lib-external-provisioner to v7.0.0"
it contains the fix for  https://github.com/kubernetes-csi/external-provisioner/issues/576
https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/104
/assign

[2021-06-29 23:59] #645 closed

[2021-07-09 16:32] chrishenzie commented on #602
/remove-lifecycle stale

[2021-07-13 12:55] pohly commented on #595
/remove-lifecycle stale

I still think the extra `Run` invocation is a bug.

[2021-07-14 07:53] tksm commented on #595
Hello,

I think that calling `informer.Run()` twice may cause a panic. It might be the cause of the following issues.

- https://github.com/kubernetes-csi/external-provisioner/issues/582
- https://github.com/rook/rook/issues/8128

You can reproduce the panic with the following test code.

[code]

You will get a panic after multiple `unrecognized notification: <nil>` errors.  If you remove one `inf

[2021-07-14 11:05] tksm commented on #582
I think that the cause of this issue might be calling `informer.Run()` twice being discussed in https://github.com/kubernetes-csi/external-provisioner/issues/595 .

Here is my reproduction code for a panic similar to this issue.  https://github.com/kubernetes-csi/external-provisioner/issues/595#issuecomment-879678124

[2021-07-15 06:02] tksm commented on #595
I also confirmed the data race on CloneProtector by [Go Race Detector](https://blog.golang.org/race-detector). I added the following test code to [clone_controller_test.go](https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/clone_controller_test.go).

[code]

With `-race` option, the data race was detected on `(*CloningProtectionController).Run()`

[code]

<details>

[2021-07-15 08:24] Madhu-1 commented on #199
Fixed by #541

[2021-07-15 08:24] #199 closed

[2021-07-21 14:48] michael-db commented on #616
/remove-lifecycle stale

[2021-07-26 19:14] #569 closed

[2021-07-27 13:29] jsafrane commented on #576
/remove-lifecycle rotten
This will be fixed in the next external-provisioner release

[2021-07-27 19:29] mkimuram opened #653 "Make CSI secret handling logic reusable"
CSI secret can be defined as a template as defined [here](https://kubernetes-csi.github.io/docs/secrets-and-credentials-storage-class.html#storageclass-secrets). Current implementation of external-provisioner embeds [this logic](https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L1581) in the controller codes as private scoped, which isn't reusable from

[2021-07-27 19:33] mkimuram opened #654 "Add CSI secret templates as annotation in Provisioned PV"
There was a discussion in the meeting on PVC/Snapshot transfer about the model that __operation on PV should not rely on information in StorageClass after PV is provisioned__. The reason for it is that StorageClass can be changed after the PV is provisioned, as a result, the controllers might not rely on the current information in StorageClass.

In the case of PVC transfer, SecretRef in PV may be

[2021-07-27 19:37] mkimuram commented on #330
@humblec

https://github.com/kubernetes-csi/external-provisioner/issues/654 will handle 1) of this issue.

[2021-07-27 19:41] mkimuram commented on #653
@msau42 @jsafrane

Do you have preference on where the codes should move to?
Is pkg/util in this repo OK or should it be util package in somewhere like https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner ?

[2021-07-27 19:47] mkimuram commented on #653
Snapshotter codes seem to [share](https://github.com/kubernetes-csi/external-snapshotter/blob/e6e14c16019ece315f91e8389b08cfcbd07d2e49/pkg/utils/util.go#L287) the same logic with different keys. It looks cleaner to move it to a separate repo. Any thought?

[2021-07-27 19:55] msau42 commented on #653
https://github.com/kubernetes-csi/csi-lib-utils is the place we've been putting libraries shared by multiple components

[2021-07-28 04:30] humblec commented on #654
@mkimuram sure, indeed as the discussion went  yesterday, its good to take out the storage class dependency once the pv is provisioned. however I am not sure we were in complete agreement though, especially when the discussion is moving towards transfer of snap vs transfer of pv.

[2021-08-02 07:49] pohly commented on #613
/remove-lifecycle stale
/asssign

[2021-08-02 07:50] pohly commented on #613
/assign

[2021-08-04 22:28] Jiawei0227 commented on #563
/close

[2021-08-04 22:28] #563 closed

[2021-08-09 20:53] pohly commented on #544
/remove-lifecycle rotten

[2021-08-09 21:43] #582 closed

[2021-08-09 21:43] #595 closed

[2021-08-09 23:57] chrishenzie commented on #602
Fixed by https://github.com/kubernetes-csi/external-provisioner/pull/650

/close

[2021-08-09 23:57] #602 closed

[2021-08-10 00:07] chrishenzie commented on #628
/remove-lifecycle stale

It looks like we can use [similar logic implemented in the external-attacher](https://github.com/kubernetes-csi/external-attacher/blob/v3.2.1/pkg/controller/controller.go#L171-L173) to handle this.

[2021-08-12 23:32] divyenpatel commented on #546
/remove-lifecycle stale

[2021-08-18 10:19] pohly commented on #548
/remove-lifecycle rotten

[2021-08-19 13:03] xing-yang commented on #330
I thought both issues opened here are already addressed and this can be closed.  See documentation here: https://kubernetes-csi.github.io/docs/secrets-and-credentials.html#csi-operation-secrets

@msau42 Is there anything pending for this?

[2021-08-19 13:04] xing-yang commented on #654
I thought this is already done and documented here: https://kubernetes-csi.github.io/docs/secrets-and-credentials-storage-class.html

Is there anything missing?

[2021-08-19 15:16] pohly commented on #592
/reopen

[2021-08-19 18:35] mkimuram commented on #654
Please see related discussion https://github.com/kubernetes-csi/external-snapshotter/pull/578#discussion_r692079808 .

[2021-08-28 03:42] #570 closed

[2021-08-30 21:26] bertinatto commented on #486
/assign

[2021-09-02 14:16] bertinatto commented on #486
PoC: https://github.com/kubernetes-csi/external-provisioner/compare/d6861307ef31020e93610d9708acc640adbacdcb...bertinatto:fix-prov

[2021-09-02 17:36] pohly opened #669 "distributed provisioning: PVC for other node not ignored silently"

[2021-09-02 17:39] pohly commented on #669
/assign

[2021-09-02 18:27] pohly commented on #669
The error comes from the provisioner lib: it tries to retrieve the node object before asking the provisioner whether the PVC should be provisioned. We discussed whether the lib should do the node lookup and decided to continue doing it there, but in this case here that isn't suitable.

One possible solution is to enhance the lister so that it always returns fake node objects: https://github.com/ku

[2021-09-05 03:17] #574 closed

[2021-09-09 09:10] smileusd opened #671 "Why can not re-queue the object if exceed failure limit"
https://github.com/kubernetes-csi/external-provisioner/blob/d6861307ef31020e93610d9708acc640adbacdcb/vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v7/controller/controller.go#L942

I think it is unnecessary to prevent re-queue the failure object. If the object is updated by user or admin like fixed the annotation or spec, It need re-queue and try to handle again.  And if the controller i

[2021-09-09 09:12] smileusd commented on #671
/assign @msau42 PTAL

[2021-09-12 18:16] pohly commented on #546
/reopen
/lifecycle frozen

[2021-09-14 18:15] bertinatto commented on #486
/remove-lifecycle stale

[2021-09-18 15:37] #592 closed

[2021-09-20 13:19] pohly commented on #548
/remove-lifecycle rotten

[2021-09-20 13:19] pohly commented on #548
/remove-lifecycle stale

[2021-09-29 18:30] xing-yang commented on #485
Reopen this so that CSI driver maintainers are aware of this issue.

[2021-10-04 09:55] michael-db commented on #561
/remove-lifecycle stale

[2021-10-13 11:59] amanjn98 opened #674 "PVC is retrying even after threshold is met"
**We are getting below error infinite time as we have updated external provisoner to latest .Earlier we have v4.1.0 version in our code but we are having a problem with the latest version. Can you please help us on understanding why this is happening ?**

{"level":"info","ts":"2021-10-13T04:44:01.141Z","caller":"block/api.go:103","msg":"Error while executing the function. Re-attempting execution

[2021-10-13 15:02] jsafrane commented on #561
/assign

[2021-10-19 20:48] tomekit opened #678 "CSI provisioner fails to provision due to DeadlineExceeded - Any way to provide outbound proxy settings?"
I am using Kubernetes `v1.2.2` with restricted access to the internet. I am using outbound proxy to connect cluster to the external resources: https://aws.amazon.com/blogs/security/how-to-set-up-an-outbound-vpc-proxy-with-domain-whitelisting-and-content-filtering/

I am using `kops` to spin up Kubernetes cluster and reference my proxy inside of the cluster using this setting:
[code]

Is there any

[2021-10-20 07:37] pohly commented on #678
The external-provisioner doesn't need proxy settings. it only connects to the API server (which seems to work) and the CSI driver via a local Unix domain socket (which doesn't need a proxy).

The real problem is that the CSI driver does not respond to the CreateVolume call quickly enough. That's okay, the provisioner will retry and eventually the call should succeed. If it doesn't, then you need t

[2021-10-20 08:58] tomekit commented on #678
Thanks for your help. All I know is that if cluster is given the network connection the provisioning ends up successful on the AWS side.
I am trying to find a component which actually does send (and FAIL in my case) the request to AWS, so I can add the relevant proxy settings there.

Sorry for my overly simplistic view on these tools, it's just I am yet to understand the connections between these

[2021-11-01 16:53] jsafrane commented on #485
/reopen
/remove-lifecycle rotten

[2021-11-02 06:57] pohly commented on #613
/remove-lifecycle stale
/lifecycle frozen

[2021-11-08 06:44] pohly commented on #544
/remove-lifecycle stale

[2021-11-08 09:10] pohly commented on #628
/remove-lifecycle stale

[2021-11-11 11:07] pohly commented on #546
/reopen

Not fixed in external-provisioner yet, only in sig-storage-lib-external-provisioner.

[2021-11-18 11:09] #546 closed

[2021-11-22 15:17] venicetear commented on #486
I have a question:
If user delete finalizer  by "kubelet edit pvc ”,  this method is useless.

[2021-11-23 08:29] pohly commented on #486
There's no perfect protection against user mistakes. If a user force-deletes or removes finalizers, they need to be aware that they are working against the system and accept the consequences.

[2021-11-23 08:42] venicetear commented on #486
however，if user and storage provisioner are on different side.
user can use this，to make storage provisioner to get volume leak.

[2021-11-23 09:31] pohly commented on #486
Isn't the storage provisioner charging the user for such a volume leak?

If they can't do that, then they shouldn't grant their untrusted users the permission to create or modify PVCs.

[2021-12-02 08:13] pohly commented on #669
/remove-lifecycle stale

[2021-12-03 17:21] xing-yang commented on #252
/remove-lifecycle rotten

[2021-12-08 18:37] msau42 commented on #671
I agree we should always retry forever. It looks like the library supports setting 0 to mean retry forever, and we are setting it to 0 in external-provisioner:
https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L354

Are you seeing different behavior?

[2021-12-09 15:32] c0depwn opened #687 "PVC dataSource missing in grpc request to csi-driver"
## Expected Behaviour
When having existing snapshots from a PVC, I should be able to provision a new PVC from the specified snapshot using the `dataSource` field as desribed in the k8s documentation (https://kubernetes.io/docs/concepts/storage/persistent-volumes/#volume-snapshot-and-restore-volume-from-snapshot-support).

## Dependency Versions & Environment
k8s: v1.20.7: https://github.com/k3s-io

[2021-12-10 08:21] mowangdk commented on #654
I have further questions related with this issue.

We can upgrade the disk type after provisioned on the fly.  but ```spec.csi.volumeAttributes``` in PersistentVolume is immutable。 How can i fix PersistentVolume type right in this scenario?

@xing-yang @msau42  Any suggestions would really appreciated 🙇

[2021-12-24 21:56] #653 closed

[2022-01-06 01:08] msau42 commented on #671
/close
please reopen if you are seeing different behavior in the csi provisioner

[2022-01-06 01:08] #671 closed

[2022-01-07 19:52] fidesachates opened #691 "Releases for armv7"
Is there a timeline for releasing a new version so we can get the armv7 support? Based on this [comparison](https://github.com/kubernetes-csi/external-provisioner/compare/v2.2.2...release-2.2), I'm guessing just a new release will give us the support in 2.2.x?

This is [blocking ](https://github.com/kubernetes-csi/csi-driver-smb/issues/405)me from using csi-driver-smb.

[2022-01-07 20:37] mauriciopoppe commented on #691
We use https://github.com/kubernetes-csi/csi-release-tools as a git subtree in this repo to provide the scripts to builds images, to support this arm/v7 we need to:

- Verify that we can create an armv7 image locally, this is done by updating [`release-tools/prows.sh`](https://github.com/kubernetes-csi/external-provisioner/blob/master/release-tools/prow.sh#L81) and running `make push-{repo}`.
- On

[2022-01-07 20:46] fidesachates commented on #691
@mauriciopoppe Thank you for the explanation. From what I've seen, it seems[ your step three is done](https://github.com/kubernetes-csi/external-provisioner/commit/2bd55be61ea30ff2bfc9cc05cd431676eb79cb97)? Is that right?

I'm not familiar with where staging images are stored so I can't check it. Can you confirm for me where we are in the process and how long you expect this to take? Not trying to

[2022-01-07 20:53] mauriciopoppe commented on #691
All these steps should be done in order, i.e. we can only sync the git subtree after making the changes in https://kubernetes-csi/csi-release-tools@4aedf35/prow.sh#L81. For the timeline I think we haven't released this project in 1.23 yet according to https://github.com/orgs/kubernetes-csi/projects/49, so there might be time to include this change, I'm not sure when it'll be released though.

[2022-01-07 21:21] fidesachates commented on #691
@mauriciopoppe am I right that the git subtree has already been synced though? Here's the commit that makes me believe this as it contains the prow file change. https://github.com/kubernetes-csi/external-provisioner/commit/2bd55be61ea30ff2bfc9cc05cd431676eb79cb97

[2022-01-07 21:27] mauriciopoppe commented on #691
it has been synced but we haven't made the change to support armv7 yet and therefore we need to do another git subtree sync after the feature is added in [kubernetes-csi/csi-release-tools@4aedf35/prow.sh#L81](https://kubernetes-csi/csi-release-tools@4aedf35/prow.sh#L81).

[2022-01-12 07:47] humblec opened #692 "Tracker for v3.1.0 release"
Eventhough we are pretty much ready for the next release based on 1.23 (https://github.com/kubernetes-csi/external-provisioner/pull/686) , it is yet to be done. This issue tracks the release.

[2022-01-12 07:47] humblec commented on #692
/assign @pohly
/assign @xing-yang

[2022-01-12 09:10] pohly commented on #692
I don't have permission to tag a release in this repo.

[2022-01-13 11:42] humblec commented on #692
nw @pohly , and thanks @xing-yang for the release .. I am closing this issue as the release is now available

[2022-01-13 11:42] #692 closed

[2022-01-14 02:51] igoratencompass commented on #546
Interesting, thought this was a security feature so you don't delete a PV by accident while still referenced by a PVC.

[2022-01-18 16:31] pohly commented on #548
/remove-lifecycle stale

I really need to bring this up at a meeting and discuss it...

[2022-01-24 19:15] Jainbrt opened #695 "volume extra metadata does not get updated if PV is bound to another pv in another namespace"
Steps to reproduce the scenario

1. Created a PVC using storageclass with reclaimpolicy as Retain

[code]

[code]
Deleted the PVC and checked the status from Bound to Released for PV

[code]
One can observe the extra metadata values in volumeAttributes for "csi.storage.k8s.io/pvc/name" & csi.storage.k8s.io/pvc/namespace based on the pvc claiming in namespace

2. Now patched the claimref section fo

[2022-01-26 09:09] mrpre opened #697 "kube-scheduler doesn't respect ResourceExhausted"
* Environment
`v1.22.3`
* Deployment
1. `CSIDriver` is deployed with
[code]
2. `StorageClass` is deployed with
[code]
2. `csi-provisioner` with plugin is deployed using `Daemonset` like this
[code]
It seems thant I have followed all the [requirement](https://github.com/kubernetes-csi/external-provisioner#capacity-support) such as `environment variables` and `command line flags`

* current node sto

[2022-01-26 09:45] pohly commented on #697
Good report, thanks for all the details.

The key question is indeed why the scheduler doesn't check `CSIStorageCapacity`. Is this the upstream kube-scheduler or some modified scheduler? As far as I know, Alibaba is using a custom scheduler in their managed Kubernetes. Is the CSIStorageCapacity feature enabled there?

Here's the code which checks for capacity:
https://github.com/kubernetes/kuberne

[2022-01-26 12:36] mrpre commented on #697
@pohly Thanks for your guidance. After I read the implement of `hasEnoughCapacity `
https://github.com/kubernetes/kubernetes/blob/de17b6fef92b8525bf05656672db96b5607499b1/pkg/controller/volume/scheduling/scheduler_binder.go#L969-L982

I find all the `csistoragecapacities` the `external-provisioner` created for each node would be add to comparison and the key problem is that I set the same `Topolog

[2022-01-26 13:19] pohly commented on #697
When the CSI driver is deployed on each node and manages local storage, then it's topology is per-node, not per-zone.

[2022-01-27 02:07] #697 closed

[2022-02-01 17:44] rdpsin opened #700 "Allow passing volume tags through PVC annotations"
There's a similar related issue here: https://github.com/kubernetes-csi/external-provisioner/issues/86

This issue proposes passing a **SINGLE** PVC annotation to the CSI Driver as part of `CreateVolumeRequest.Parameters` to allow CSI drivers to tag volumes with custom tags provided at the PVC level.

When creating a PVC, a user can specify tags to be attached to their volumes (if the driver suppo

[2022-02-07 08:23] pohly commented on #544
/remove-lifecycle stale
/lifecycle frozen

[2022-02-08 09:31] #654 closed

[2022-02-09 14:25] xing-yang commented on #700
Similar request was brought up before but didn't get accepted because it breaks PVC portability:
https://github.com/kubernetes-csi/external-provisioner/pull/425#issuecomment-600246301

[2022-02-09 14:25] xing-yang commented on #700
cc @msau42

[2022-02-17 17:16] #548 closed

[2022-02-23 13:53] awels opened #707 "distributed provisioner: managed-by label can fail if node name too long"
The value of the `csi.storage.k8s.io/managed-by` label when the external provisioner had enableNodeDeployment set can be too large if the node name is too long. The value is calculated [here](https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L447-L450) and then passed to the capacity controller. The capacity controller sets that value as a la

[2022-02-23 15:23] pohly commented on #707
/assign

[2022-02-23 15:48] awels commented on #707
So in my project I have a hashing algorithm that only hashes the value if the length of the value is > the max (63 in this case) that would make it so any values that are small enough, it won't actually hash, it would just return the current value. This would solve the backward-compatibility problem, since any existing labels would remain exactly the same.

[2022-02-23 18:58] pohly commented on #707
That's the solution I had in mind, too.

@awels BTW, did you see that I asked about [graduating storage capacity tracking to GA](https://github.com/kubernetes-csi/csi-driver-host-path/pull/347)? Comments there would be welcome.

[2022-02-23 20:00] awels commented on #707
Are you sure that is the right link? It is pointing to a release tools update

[2022-02-24 02:56] Madhu-1 opened #708 "Failed to create PV if the secret name length is greater than 63 chars"
When the secret name length is greater than 63 chars the PV creation is failing with below error

[code]

Steps to reproduce
* Create secret with name length greater than 63 chars
* Create storageclass (specify the secret name for provisioner and node secret)
* Create PVC

If the secret creation with a name greater than 63 chars are allowed and specifying the same length name is allowed in storage

[2022-02-24 02:57] Madhu-1 commented on #708
cc @jsafrane @msau42 @xing-yang

[2022-02-24 04:17] Madhu-1 commented on #708
As the issue is not in the external-provisioner, I created an issue here as it's trying to create the PV. it's a generic problem with both dynamic PVC and static PV. if we want I can open an issue in the kubernetes repo also.

[2022-02-24 05:21] humblec commented on #708
Consider this field belong to metadata.name field where 63 chars limit validation has been imposed, I doubt this qualify as a bug,

[2022-02-24 06:35] pohly commented on #707
A different flavor of cut-and-paste-error :cry: Here's the right one: https://groups.google.com/g/kubernetes-sig-storage/c/FHUVByyRlR4/m/hisIzWarAQAJ

[2022-02-24 07:09] pohly commented on #708
PV.spec.csi is the [CSIPersistentVolumeSource](https://pkg.go.dev/k8s.io/api@v0.23.4/core/v1#CSIPersistentVolumeSource) in the PersistentVolumeSource, right? But it doesn't have a `name` field.

Is that perhaps referring to the `name` field in one of the secret references? Then validation in Kubernetes has a bug because it doesn't properly construct the field path.

Does the name validation there

[2022-02-24 07:15] humblec commented on #708
afaict, the `csi.spec.name` field validation caught `secretReference->name` in its path here and validation is currently imposed with 63 char limit we have on `CSI->Name` field by the CSI spec.

It will work, as mentioned in above comment the secret object name has to be DNS subdomain name which is "253" char,

[2022-02-24 07:28] Madhu-1 commented on #708
yes its the secret name field

Yes, the creation of secrets is allowed till the limit of 253 chars but reference it is not allowed in the PV object.

@pohly we need to decide we need to increase the char limit in the validation or not. at least if not possible fail fast before provisioning the PV or creating the storage resources. it does not make sense to create all the storage resources and fail

[2022-02-24 09:23] jsafrane commented on #708
It seems like a bug in the validation, `Secret.Name` is validated by [NameIsDNSSubdomain](https://github.com/kubernetes/kubernetes/blob/016b96ca3896d27b37c5b2d6e223fb3320a0fdec/pkg/apis/core/validation/validation.go#L278) (253 characters), while [ValidateDNS1123Label](https://github.com/kubernetes/kubernetes/blob/016b96ca3896d27b37c5b2d6e223fb3320a0fdec/pkg/apis/core/validation/validation.go#L1567

[2022-02-24 09:25] jsafrane commented on #708
In other words, feel free to fix the secret ref validation to use `ValidateSecretName()` instead of `ValidateDNS1123Label`.
And please fix the field reporting, this is very confusing.

[2022-02-24 09:31] humblec commented on #708
Thanks @jsafrane , indeed this is confusing and goes wrong in the validation path.

[2022-02-24 13:22] awels commented on #707
Okay added a comment about my driver using the API. I am quite pleased with it, and my QE ran into the label issue. I am going on vacation soon, but once I get back I will see if I can make a PR to fix it. It is a relatively simple fix IMO.

[2022-03-02 12:20] pohly commented on #669
/help
/remove-lifecycle stale

[2022-03-03 12:03] mrpre opened #709 "external-provisioner retry fail when DeleteVolume return fail"
external-provisioner  version v3.1.0
kubernetes: 1.22

I force my  `DeleteVolume` interface return like this for each calls
[code]
After I delete the PVC then`DeleteVolume` is called by `external-provisioner ` correctly. But I find the `external-provisioner ` won't call `DeleteVolume` any more if `DeleteVolume`  return error like before.

I add some log to `external-provisioner ` and find that `pr

[2022-03-04 06:39] mrpre commented on #709
It happens when I deleted multiple PVCs together

[2022-03-08 10:35] pohly commented on #628
/remove-lifecycle rotten

[2022-03-09 08:08] pohly opened #712 "distributed provisioning: optimize PV informer"
While running clusterloader2 to evaluate performance of volume provisioning with storage capacity tracking (see https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/docs/storage-capacity-tracking.md) I noticed that volume deletion was slow - much slower than creation of volumes. This occurred in particular for high node counts (100 in that case).

The initial suspect was overhead for

[2022-03-09 09:05] pohly commented on #712
Example: 10 nodes on Azure cloud, csi-driver-host-path master, with `--v=3` and `WaitForFirstConsumer` disabled in `deploy/kubernetes-distributed/hostpath/csi-hostpath-storageclass-fast.yaml`.

[code]

with-volume.yaml:
[code]

Result:
[code]

[2022-03-09 09:07] pohly commented on #712
Logs show:
[code]

This is similar to issue #669, but not quite the same,

[2022-03-09 09:15] pohly commented on #712
Server-side filtering is not possible at the moment. Here's what a PV looks like:
[code]

We would need to filter by `nodeAffinity`, but that is not supported by https://github.com/kubernetes/kubernetes/blob/9946b5364e8199ac832161e17155bd005c391fc5/pkg/registry/core/persistentvolume/strategy.go#L162-L179

external-provisioner could set a label. As there may be existing PVs which don't have it yet,

[2022-03-09 10:20] pohly commented on #712
Implementing the pre-workqueue filtering is possible. For 10 nodes it doesn't make a big difference:
[code]

[2022-03-09 12:46] pohly commented on #712
No big difference for 10 volumes per node and 100 nodes either:
[code]

[2022-03-09 14:02] Madhu-1 commented on #330
@xing-yang any update on this one? we still have an issue with storageclass deletion before deleting the PVC

[2022-03-09 14:41] humblec commented on #330
we are half way through and its not completely done.  Had some discussions on this in between ( wrt transfer of objects and its sideafffects) . The pending fixes are getting worked on.

[2022-03-09 16:40] pohly commented on #712
20 volumes per node, no big difference either:

[code]

[2022-03-09 16:41] pohly commented on #712
Perhaps the problem is elsewhere: while testing with 50 pods per node, the test got all of them running and then deleted all deployments that own these pods, but the pods kept running. Not sure whether that is supposed to happen.

[2022-03-09 16:50] pohly commented on #712
It looks like deleting Pods was slow. The Deployments and Replicasets were gone, but Pods lingered for an extended period of time.

[2022-03-10 04:11] #466 closed

[2022-03-12 14:32] #674 closed

[2022-03-16 15:47] rdpsin opened #714 "Pass namespace annotations to driver when --extra-create-metadata is enabled"
Currently, `external-provisioner` passes the PVC name, PVC namespace and PV name to the CSI driver in `CreateVolumeRequest.Parameters`, when `extra-create-metadata` is enabled.

It would be useful to also pass namespace annotations to the CSI driver as well. This can be very helpful to cluster admins since a common design is to set boundaries/controls at the namespace level. For e.g., this can all

[2022-03-16 15:47] rdpsin commented on #714
cc: @xing-yang

[2022-03-18 16:34] #616 closed

[2022-03-23 14:15] zhucan opened #718 "The status of the pv is always Terminating."
The log in the external-provisoner:
![image](https://user-images.githubusercontent.com/13997135/159719591-06fb3d16-92b2-4442-b746-925806cf85a4.png)

But the pv'status is Terminating:
![image](https://user-images.githubusercontent.com/13997135/159719763-0dcae968-b6c4-4848-8774-9d5f68d93709.png)

NodeExpandVoume not exec, Only ControllerExpandVolume exec, the size of pvc not equal to the pv.(Because

[2022-03-30 07:02] Kartik494 commented on #695
Hi @Jainbrt Pv's i think we can not namespace PV as it is cluster-wide object. i think it should work if you delete the PV and PVC and object and recreate it. I am not so sure on patching `claimRef" to null` on existing PV

[2022-03-30 07:08] Madhu-1 commented on #695
clusterId: "1925837219448245938"
      csi.storage.k8s.io/pv/name: pvc-a1e0f04b-26f8-4af0-8ca2-048d7a23b273
      csi.storage.k8s.io/pvc/name: scale-advance-pvc1
      csi.storage.k8s.io/pvc/namespace: ibm-spectrum-scale-csi-driver
      storage.kubernetes.io/csiProvisionerIdentity: 1642996160313-8081-spectrumscale.csi.ibm.com
      type: advanced
      volBackendFs: gpfs0
    volumeHandle: 1;1;19

[2022-03-31 11:21] #330 closed

[2022-04-04 09:51] gregth opened #721 "[provisioner-env-configuration] Fix example environment variables configuration"
The example configuration for the environment variables in the documentation / README file has some typos:

[code]

The `fieldPath` should be indented under the `fieldRef`:

[code]

[2022-04-05 09:38] jsafrane commented on #485
/remove-lifecycle rotten

[2022-04-06 04:27] Kartik494 commented on #695
@Jainbrt  Could you please let us know if you are good to go with comments provided on this . So that we can close this issue.
Thanks!!

[2022-04-06 11:44] Jainbrt commented on #695
@Madhu-1 Is it because of, if not passed in CreatevolumeResponse, it will not show up in PV attributes so there would not be this issue for incorrect attribute? Or is there any other concern ?

[2022-04-06 12:04] Madhu-1 commented on #695
Yes, correct, if you are choosing to pass the metadata from the provisioner to the csi driver you need to take care of cleaning it up from the CreatevolumeResponse context. i don't see any other concern as no one uses these attributes

[2022-04-06 12:30] Jainbrt commented on #695
it make sense. Thanks for the explanation.

[2022-04-06 12:30] #695 closed

[2022-04-08 15:10] pohly commented on #712
There's no clear need to optimize this. Let's close for now.

/close

[2022-04-08 15:10] #712 closed

[2022-04-18 17:40] kaovilai opened #727 "Creating PVC from a snapshot with restoreSize larger than PVC request size."
Reverse issue from #485

**User story:**
Created PVC-A with 100MiB request (external provisioner gives back capacity higher than requested, for whatever reason)
Create VolumeSnapshot-A - snapshot created with **restore size = PV capacity > PVC storage request**.
Create new 100MiB request PVC-B using snapshot VolumeSnapshot-A as data source which has restoreSize > PVC storage request

**Expectation

[2022-04-18 17:57] kaovilai commented on #727
Not sure if this behavior exists for internal-provisioners as well.. if so it would be great to have those cases handled too.

[2022-05-02 12:41] ialidzhikov opened #732 "external-provisioner yields whole stack trace when it loses connection to the CSI driver"
/sig storage
/kind bug

**What happened**:
external-provisioner yields whole stack trace when it loses connection to the CSI driver.

**What you expected to happen**:
external-provisioner to only log connection lost and to exit (without logging thousands of lines of stack trace that is not useful for anyone).

**How to reproduce it**:

[code]

**Anything else we need to know?**:
The issue is simil

[2022-05-02 13:12] pohly commented on #732
Care to submit a PR?

Simply update to the latest klog and then use `klog.ErrorS + klog.FlushAndExit` instead of `klog.Fatal`.

The same change needs to go into all sidecars which use `klog.Fatal`.

[2022-05-02 13:41] ialidzhikov commented on #732
Thanks! klog dependency in the HEAD is already at the latest tag (`v2.60.1`). Hence, I guess the only thing I have to do is to adapt the `klog.Fatal` usages.

[2022-05-02 13:47] ialidzhikov commented on #732
Ah, sorry. The corresponding klog invocation rather comes from https://github.com/kubernetes-csi/csi-lib-utils:

https://github.com/kubernetes-csi/csi-lib-utils/blob/e085359dea1b0e9e49b02cb6bb30f33a80c6fe02/connection/connection.go#L87

[2022-05-02 14:01] pohly commented on #732
Then the dependency update in https://github.com/kubernetes-csi/external-provisioner/pull/710 should fix it.

[2022-05-02 14:08] ialidzhikov commented on #732
It should be rather fixed for external-provider >= v3.0.0. This is the commit that updated to `github.com/kubernetes-csi/csi-lib-utils` >= v0.10.0 -https://github.com/kubernetes-csi/external-provisioner/commit/251509c38b3a8652569e15314645911236f18eec.

---

Does it make sense to update external-provider release-2.1 and release-2.2 branches by updating `github.com/kubernetes-csi/csi-lib-utils` from

[2022-05-02 18:57] #252 closed

[2022-05-08 17:33] #687 closed

[2022-05-09 10:48] humblec commented on #718
hmmm.. this is interesting..

Looks like this is the workflow you are performing.. can you please confirm?
[code]

it seems to me that, if PVC is deleted and if its successfully deleted the PV too, te get PV should be not in `terminating` state.. and looks like a bug to me if this is happening.. have to reproduce and check further.

Cc @jsafrane

[2022-05-10 03:09] zhucan commented on #718
@humblec Yes, the same procedure with you.

[2022-06-06 23:04] #691 closed

[2022-06-07 16:06] #628 closed

[2022-06-27 08:19] nbalacha opened #752 "CSIStorageCapacity check fails if the pod does not have permissions in "default""
The CSIStorageCapacity check attempts to create an invalid resource in the "default" namespace. If the pod does not have permissions for "default", the call fails with a fatal error.

https://github.com/kubernetes-csi/external-provisioner/pull/710#issuecomment-1166905128

[2022-06-27 10:26] #752 closed

[2022-06-30 12:00] tuxtof opened #756 "csi-provisioner:v3.2.1 image is not available"
/kind bug

docker pull k8s.gcr.io/sig-storage/csi-provisioner:v3.2.1

Error response from daemon: manifest for k8s.gcr.io/sig-storage/csi-provisioner:v3.2.1 not found: manifest unknown: Failed to fetch "v3.2.1" from request "/v2/sig-storage/csi-provisioner/manifests/v3.2.1"

[2022-07-05 20:13] #756 closed

[2022-07-14 06:02] shinji62 opened #759 "Volume are not deleted in AWS"
Hello,

I am using the ebs provisionner and one I try to delete volume the external-provider is panicking, so not sure where I should look for but ebs folk told me to open an issue in this repos as well

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1301

[code]

[2022-07-18 15:18] rdpsin commented on #714
/remove-lifecycle rotten

[2022-07-19 21:37] kaovilai commented on #727
/remove-lifecycle stale

[2022-07-20 00:52] shinji62 commented on #759
@pohly any information that you want me to provide to investigate this bug ?

[2022-07-24 10:30] #708 closed

[2022-07-27 07:19] paolosalvatori commented on #714
I fully support this request. Today you cannot specify metadata and, in particular, tags in a PVC that are passed down to a CSI driver. Tagging resources is helpful in a multitenant environment for policy tracking and cost charging. Today, the only way to tag managed resources dynamically created by a PVC on a cloud platform is the following:

- Create a custom storage class and specify tags in th

[2022-07-28 13:36] speedfl opened #760 "Add PVC Annotations + Labels to PV"
## Problem

Correlate PV with a context is almost impossible. The only solution is to create StorageClass with Contextual Data (Cost Center / Customer / Environment) and then correlate the PV with the StorageClass. This results in a duplication of StorageClass while its purpose is the "how to store data" (Azure Disk, AWS EBS...) and not the "for who/what data are stored".

## Proposal

We should h

[2022-07-31 15:29] ialidzhikov commented on #732
/close
as the issue is fixed in external-provider >= v3.0.0

[2022-07-31 15:29] #732 closed

[2022-08-01 12:11] pohly commented on #759
Knowing the exact version number of the external-provisioner would be a good start. Then we can look at the line where the nil pointer access happens (`pkg/controller/controller.go:1177`).

If it is old, perhaps try a recent one that is still supported?

[2022-08-01 12:40] #709 closed

[2022-08-03 13:28] xing-yang commented on #485
/remove-lifecycle rotten

[2022-08-29 14:33] pohly commented on #669
/remove-lifecycle stale
/lifecycle frozen

[2022-09-16 11:20] amolmote opened #786 "Broken Link of `contributor cheat sheet`"
## Bug Report

I have observed same kind of issue in various kubernetes-csi project.
this happens because after the localization there are too much modifications done in the various directories.
I have observed same issue in [this ](https://github.com/kubernetes-csi/external-provisioner/blob/master/CONTRIBUTING.md) page also.
It has one broken link of the `contributes  cheat sheet` which needs to

[2022-09-19 11:17] #499 closed

[2022-09-19 17:41] #786 closed

[2022-10-07 04:37] #718 closed

[2022-11-03 14:38] ttakahashi21 opened #804 "Add provisioning volumes from cross-namespace data sources"
**Is your feature request related to a problem?/Why is this needed**

Please see [KEP-3294](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3294-provision-volumes-from-cross-namespace-snapshots)

**Describe the solution you'd like in detail**

method for provisioning volumes from cross-namespace snapshot

**Describe alternatives you've considered**

Please see [KEP-3294 Alt

[2022-11-03 16:03] ttakahashi21 commented on #804
/sig storage

[2022-11-10 03:18] humblec commented on #485
@msau42 @xing-yang @jsafrane afaict, this is handled in provisioner code already and I am closing this issue. Please reopen if required.
/close

[2022-11-10 03:18] #485 closed

[2022-11-10 03:20] humblec commented on #759
@shinji62 please check with latest version of provisioner and verify the result. if it still panic, please feel free to reopen this issue.

[2022-11-10 03:20] #759 closed

[2022-11-10 03:22] humblec commented on #714
@rdpsin imo, fetching namespace annotation shouldnt be in scope of provisioner sidecar. The object provisioner really care about is PVC and its bindings. this looks to be out of scope for the provisioner sidecar to fetch and pass as part of the createvolume request.

cc @jsafrane @msau42 @xing-yang

[2022-11-10 03:26] humblec commented on #39
not sure what exactly got targetted with this issue. however if the plan was to handle cases to allow delete in case SC is not present after creation, it has already been taken care by https://github.com/kubernetes-csi/external-provisioner/pull/713 . I am closing this issue for now. please feel free to reopen in case there are still things to be addressed.

[2022-11-10 03:26] #39 closed

[2022-11-10 03:38] andyzhangx commented on #714
we already supports providing following values in csi-provisioner, this time we want to provide more: `pvc.annotations`, and that's already supported for `csi.storage.k8s.io/provisioner-secret-name` fields by csi-provisioner, we just want to make this function more generic in csi-provisioner.

* `${pvc.metadata.name}`
* `${pvc.metadata.namespace}`
* `${pv.metadata.name}`

[2022-11-17 09:54] Arhell opened #817 "update readme links"
http=>https
/assign

[2022-11-18 18:15] vizeit opened #819 "Persistent disk is missing labels from the corresponding pvc"
Moving the issue under this repo as per mattcary, link to the issue,
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/1064

Issue:
In a GKE cluster, when a pvc is created with custom labels, the created pd is missing those labels

[2022-11-21 16:27] Arhell opened #820 "update links"
/assign

[2022-11-29 23:20] amacaskill commented on #485
@humblec Could you please point to where in the provisioner code this is handled?

[2022-11-30 04:22] msau42 commented on #485
@amacaskill the conclusion of this bug is that each CSI driver needs to make changes to their NodeStage/NodePublish implementations to resize the filesystem if possible. See https://github.com/container-storage-interface/spec/pull/452/files for the spec clarification and https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/595/files for an example. Resize utilities have been exported in http

[2022-11-30 04:44] humblec commented on #485
@amacaskill addition to what @msau42 mentioned above,  this make sure the controller allows to have a capacity >= snapshot ->restore size. https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L1134